<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모바일 앱</title>
    <!--        favicon css        -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/src/assets/images/favicon.png"
    />

    <!--        reset css        -->
    <link rel="stylesheet" href="/reset/reset.css" />

    <!--        font css        -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--        header css        -->
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />

    <!--        main css        -->
    <link rel="stylesheet" href="smartorder.css" />

    <!--        footer css        -->
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />

    <!--        header footer js        -->
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
    <script src="/src/views/footer_header/header_call.js"></script>

    <!--        main js        -->
    <script src="membership.js"></script>
  </head>
  <body>
    <!--  header  -->
    <header id="header"></header>

    <!--  main  -->
    <main id="main" class="main">
      <section class="banner_wrap">
        <div class="banner">
          <h2>멤버십</h2>
          <ul class="lnb">
            <li><a href="membership_benefit.html">멤버십 혜택</a></li>
            <li><a href="membership_smartorder.html">모바일 앱</a></li>
          </ul>
        </div>
      </section>

      <div class="content" id="content">
        <div class="location">
          <span><a href="#none">Home</a></span>
          <span><a href="membership_benefit.html">Membership</a></span>
          <span><a href="membership_smartorder.html">할리스 모바일 앱</a></span>
        </div>

        <div class="slogun_wrap">
          <div class="slogun_text">
            <dl>
              <dt>할리스 모바일 앱</dt>
              <dd>
                할리스의 모든 서비스를
                <br />
                앱 하나로 경험할 수 있는 멤버십 서비스 입니다.
              </dd>
            </dl>
            <p>
              매장에서 이용할 수 있는 스마트오더,<br />
              집에서 배달할 수 있는 딜리버리,<br />
              충전해서 현금처럼 사용하는 할리스카드 등<br />
              완전히 새로워진 할리스 앱을 만나보실 수 있습니다.
            </p>
          </div>
          <div class="slogun_img">
            <img
              src="/src/assets/images/membership/hollys_coffee.jpg"
              alt="슬로건 관련 이미지"
            />
          </div>
        </div>

        <div class="hollys_box_list">
          <ul class="box_list">
            <li>
              <dl>
                <img
                  src="/src/assets/images/membership/order_icon.svg"
                  alt="스마트오더"
                />
                <dt>스마트오더</dt>
                <dd>줄서지 않고 주문하세요!</dd>
              </dl>
            </li>
            <li>
              <dl>
                <img
                  src="/src/assets/images/membership/deliver_icon.svg"
                  alt="딜리버리"
                />
                <dt>딜리버리</dt>
                <dd>
                  집에서 편리하고 다양하게
                  <br />
                  할리스를 즐기세요
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <img
                  src="/src/assets/images/membership/cake_icon.svg"
                  alt="홀케이크예약"
                />
                <dt>홀케이크 예약</dt>
                <dd>
                  다양한 케이크를
                  <br />
                  원하는 매장에서, 원하는 시간에
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <img
                  src="/src/assets/images/membership/membership_icon.svg"
                  alt="멤버십"
                />
                <dt>멤버십</dt>
                <dd>
                  할리스 CROWN이 쌓이면
                  <br />
                  무료 커피 쿠폰을 드려요
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <img
                  src="/src/assets/images/membership/card_icon.svg"
                  alt="기프트카드"
                />
                <dt>기프트카드</dt>
                <dd>
                  할리스의 다양한 상품을
                  <br />
                  온라인에서도 구입하여
                  <br />
                  사용 또는 선물할 수 있어요
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <img
                  src="/src/assets/images/membership/gift_icon.svg"
                  alt="선물하기"
                />
                <dt>선물하기</dt>
                <dd>
                  소중한 분께 할리스 카드로
                  <br />
                  마음을 전하세요
                </dd>
              </dl>
            </li>
          </ul>
        </div>

        <div class="slider">
          <div class="list_wrap">
            <ul>
              <li>
                <img
                  src="/src/assets/images/membership/app1.png"
                  alt="어플 안내1"
                />
              </li>
              <li>
                <img
                  src="/src/assets/images/membership/app2.png"
                  alt="어플 안내2"
                />
              </li>
              <li>
                <img
                  src="/src/assets/images/membership/app3.png"
                  alt="어플 안내3"
                />
              </li>
              <li>
                <img
                  src="/src/assets/images/membership/app4.png"
                  alt="어플 안내4"
                />
              </li>
              <li>
                <img
                  src="/src/assets/images/membership/app5.png"
                  alt="어플 안내5"
                />
              </li>
              <li>
                <img
                  src="/src/assets/images/membership/app6.png"
                  alt="어플 안내6"
                />
              </li>
            </ul>
          </div>
          <div class="pager">
            <a href="#none" class="active">●</a>
            <a href="#none">●</a>
            <a href="#none">●</a>
            <a href="#none">●</a>
            <a href="#none">●</a>
            <a href="#none">●</a>
          </div>
          <!--
                <div class="cont">
                    <a href="#none" class="prev"><img src="/src/assets/images/membership/prev.png" alt="prev"></a>
                    <a href="#none" class="next"><img src="/src/assets/images/membership/next.png" alt="next"></a>
                </div>
                -->
        </div>

        <div class="app_down">
          <h2>스마트오더 앱 다운로드</h2>
          <ul>
            <li>
              <a
                href="https://play.google.com/store/apps/details?id=com.kr.hollyscoffee"
              >
                <img
                  src="/src/assets/images/membership/playstore.svg"
                  alt="플레이스토어"
                />
                <p>Google play</p>
              </a>
            </li>
            <li>
              <a
                href="https://itunes.apple.com/kr/app/apple-store/id956138792?mt=8"
              >
                <img
                  src="/src/assets/images/membership/white_apple.png"
                  alt="애플스토어"
                />
                <p>App store</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <!--  footer  -->
    <footer id="footer"></footer>
  </body>
</html>
