<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>멤버십 혜택</title>
    <!--        favicon css        -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/src/assets/images/favicon.png"
    />

    <!--        reset css        -->
    <link rel="stylesheet" href="/reset/reset.css" />

    <!--        font css        -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--        header css        -->
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />

    <!--        main css        -->
    <link rel="stylesheet" href="benefit.css" />

    <!--        footer css        -->
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />

    <!--        header footer js        -->
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
    <script src="/src/views/footer_header/header_call.js"></script>
  </head>
  <body>
    <!--  header  -->
    <header id="header"></header>

    <!--  main  -->
    <main id="main" class="main">
      <section class="banner_wrap">
        <div class="banner">
          <h2>멤버십</h2>
          <ul class="lnb">
            <li><a href="membership_benefit.html">멤버십 혜택</a></li>
            <li><a href="membership_smartorder.html">모바일앱</a></li>
          </ul>
        </div>
      </section>

      <div class="content" id="content">
        <div class="location">
          <span><a href="#none">Home</a></span>
          <span><a href="membership_benefit.html">Membership</a></span>
          <span><a href="membership_benefit.html">멤버십혜택</a></span>
        </div>

        <div class="m_benefit">
          <h2>멤버십 혜택</h2>
          <div class="grade">
            <div class="silver">
              <div class="grade">
                <img
                  src="/src/assets/images/membership/membership_silver.png"
                  alt="silver"
                />
                <div class="con">멤버십 회원 가입 시</div>
                <p>SILVER</p>
              </div>
              <div class="text">
                <div class="ben">
                  <ul>
                    <li>
                      크라운 12개 적립 시 아메리카노 (R)<br />
                      무료 쿠폰
                    </li>

                    <li>
                      3만원 이상 자동충전 설정 후<br />
                      발생 시 마다 아메리카노 1+1 쿠폰<br />
                      즉시 발행 (1일 1회 한정)
                    </li>

                    <li>
                      멤버십에 현금영수증 정보 등록 후<br />
                      할리스카드 이용 시 자동 소득공제
                    </li>
                  </ul>
                </div>
                <div class="plus_ben"></div>
              </div>
            </div>

            <div class="gold">
              <div class="grade">
                <img
                  src="/src/assets/images/membership/membership_gold.png"
                  alt="gold"
                />
                <div class="con">CROWN 12개 적립 시</div>
                <p>GOLD</p>
              </div>
              <div class="text">
                <div class="ben">
                  <p>[ SILVER 혜택 모두 포함 ]</p>
                </div>
                <div class="plus_ben">
                  <ul>
                    <li>
                      크라운 12개 적립 시 아메리카노 (R)<br />
                      무료 쿠폰
                    </li>
                    <li>
                      커피음료 무료 사이즈업 또는 샷 / 시럽<br />
                      무료 추가 중 택 1 (1일 1회 1잔 한정)
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="red">
              <div class="grade">
                <img
                  src="/src/assets/images/membership/membership_red.png"
                  alt="red"
                />
                <div class="con">CROWN 48개 적립 시</div>
                <p>RED</p>
              </div>
              <div class="text">
                <div class="ben">
                  <p>[ GOLD 혜택 모두 포함 ]</p>
                </div>
                <div class="plus_ben">
                  <ul>
                    <li>
                      크라운 12개 적립 시 제조 음료 (R)<br />
                      무료 쿠폰
                    </li>
                    <li>생일 축하 미니 케이크 무료 쿠폰 증정</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="dia">
              <div class="grade">
                <img
                  src="/src/assets/images/membership/membership_dia.png"
                  alt="dia"
                />
                <div class="con">연간 구매금액 상위 1%</div>
                <p>DIAMOND</p>
              </div>
              <div class="text">
                <div class="ben">
                  <p>[ RED 혜택 모두 포함 ]</p>
                </div>
                <div class="plus_ben">
                  <ul>
                    <li>
                      홀케이크 무료 쿠폰 증정<br />
                      (겨울 시즌 출시 기간 개별 알림)
                    </li>
                    <li>
                      플래너 무료 쿠폰 증정<br />
                      (출시 여부 및 일정에 따라 개별 알림)
                    </li>
                    <li>
                      시즌 스페셜 혜택 제공<br />
                      (이벤트 일정에 따라 개별 알림)
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="notice">
          <h3>유의사항</h3>
          <ul>
            <li>
              영수증 1개당 결제금액 기준으로 적립됩니다.
              <ul>
                <li>
                  (4천원 이상 ~ 1만원 미만일 시 1개 적립, 1만원 이상부터 5천원
                  단위로 1개씩 적립)
                </li>
                <li>
                  추후 적립의 경우 결제일 포함 7일 이내 가능하며, 해당 매장에
                  영수증 지참하여 방문 바랍니다.
                </li>
                <li>
                  크라운 유효기간은 적립일로부터 1년간 유지되며 기간 만료 시
                  소멸됩니다.
                </li>
              </ul>
            </li>
            <li>
              멤버십 등급 안내
              <ul>
                <li>
                  골드 / 레드 등급은 조건 달성 시 즉시 반영되며, 승급일로부터
                  1년간 유지됩니다.
                </li>
                <li>
                  다이아몬드 등급은 전년도 1월 1일 ~ 12월 31일 구매 금액 기준
                  상위 1%에 한해 선정되며, 승급일로부터 1년간 유지됩니다.
                </li>
              </ul>
            </li>
            <li>
              기타 안내
              <ul>
                <li>
                  자동 충전이란 ? 할리스카드의 잔액이 설정하신 기준 잔액보다
                  낮아지면 즉시 자동충전이 되는 기능입니다.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <!--  footer  -->
    <footer id="footer"></footer>
  </body>
</html>
