.search_container{
    width: 1200px;
    height: 700px;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: auto;
}

.search_container h2{
    width: 25%;

    text-align: center;

    padding-top: 80px;
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;

    font-size: 2em;
}
.search_container .section_wrap{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
/* 아이디 찾기 */
.search_container .id_search_wrap{
    position: relative;
    width: 30%;
    height: 50%;

    padding: 30px 0;

    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

/* 아이디 찾기 텍스트 */
.search_container .id_search_wrap h3{
    text-align: center;

    padding: 10px;
    margin-bottom: 50px;

    font-size: 1.8em;
}

.search_container .id_search_wrap form{
    width: 70%;

    margin: auto;
}
/* tel_search_input */
.search_container .id_search_wrap form>div{
    margin-top: 40px;

    display: flex;
}
.search_container .id_search_wrap form>div label{
    width: 25%;

    display: flex;
    align-items: center;
}
.search_container .id_search_wrap form>div input{
    width: 75%;

    padding: 3px; 
    border: 0;
    border-bottom: 1px dashed black;

    text-align: center;
}

.search_container .id_search_wrap form button{
    position: absolute;
    bottom: 30px;
    width: 70%;

    padding: 7px;
    margin-top: 35px;

    background-color: #c72f2fee;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.search_container .id_search_wrap form button:active{
    background-color: #c72f2f;
}


/* 비밀번호 찾기 */

.search_container .pw_search_wrap{
    position: relative;
    width: 30%;
    height: 50%;

    padding: 30px 0;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

/* 비밀번호 찾기 텍스트 */
.search_container .pw_search_wrap h3{
    text-align: center;

    padding: 10px;
    margin-bottom: 50px;

    font-size: 1.8em;
}

.search_container .pw_search_wrap form{
    width: 70%;
    margin: auto;
}
.search_container .pw_search_wrap form>div{
    width: 100%;
}
.search_container .pw_search_wrap form>div>div{
    display: flex;

    margin-top: 10px;

}
.search_container .pw_search_wrap form>div>div label{
    width: 25%;

    display: flex;
    align-items: center;
}

.search_container .pw_search_wrap form>div>div input{
    width: 75%;
    padding: 3px;

    border: 0;
    border-bottom: 1px dashed black;

    text-align: center;
}
.search_container .pw_search_wrap form button{
    position: absolute;
    bottom: 30px;
    width: 70%;

    padding: 7px;
    margin-top: 20px;

    background-color: #c72f2fee;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.search_container .pw_search_wrap form button:active{
    background-color: #c72f2f;
}

/* 이전으로 홈으로 버튼 */
.search_container .prev_home_btn_wrap{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_container .prev_home_btn_wrap>a{
    display: block;

    width: 100px;

    padding: 7px 21px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;

    background: #d2d2d260;
    color: #808080;

    text-align: center;

    font-size: 1.2em;
    font-weight: 400;

    margin: 0 10px;
    margin-bottom: 20px;

    transition: 0.2s;
}
.search_container .prev_home_btn_wrap>a:hover,
.search_container .prev_home_btn_wrap>a:focus{
    background: #d2d2d2;
    border: 1px solid #a5a5a5;
    color: #000;
}