<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사이트맵</title>
    <!--        favicon css        -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/src/assets/images/favicon.png"
    />

    <!--        reset css        -->
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <!--        font css        -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--        header css        -->
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />

    <!--        main css        -->
    <link rel="stylesheet" href="sitemap.css" />

    <!--        footer css        -->
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />

    <!--        header footer js        -->
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
    <script src="/src/views/footer_header/header_call.js"></script>
  </head>
  <body>
    <!--  header  -->
    <header id="header"></header>

    <!--  main  -->
    <main id="main" class="main">
      <section class="banner_wrap">
        <div class="banner">
          <h2>HOLLYS</h2>
          <ul class="lnb">
            <li class="active"><a href="Sitemap.html">사이트맵</a></li>
          </ul>
        </div>
      </section>

      <div class="content" id="content">
        <div class="location">
          <span><a href="#none">Home</a></span>
          <span><a href="Sitemap.html">사이트맵</a></span>
        </div>

        <div class="sitemap_wrap">
          <h2>사이트맵</h2>

          <div class="sitemap">
            <div class="menu">
              <h3>MENU</h3>
              <dl>
                <dt><a href="/src/views/menu/drink/drink.html">메뉴</a></dt>
                <dd><a href="/src/views/menu/drink/drink.html">음료</a></dd>
                <dd><a href="/src/views/menu/food/food.html">음식</a></dd>
                <dd><a href="/src/views/menu/md/md.html">MD</a></dd>
              </dl>
            </div>
            <div class="mall">
              <h3>MALL</h3>
              <dl>
                <dt>
                  <a href="/src/viewshollysmall/hollys_mall.html">할리스몰</a>
                </dt>
                <dd>
                  <a href="/src/views/hollysmall/Hollys_mall.html"
                    >할리스카드</a
                  >
                </dd>
                <dd>
                  <a href="https://smartstore.naver.com/hollysstore">E-store</a>
                </dd>
                <dd>
                  <a
                    href="/src/views/hollysmall/Hollys_card/card_buy_list/card_buy_list.html"
                    >구매내역</a
                  >
                </dd>
              </dl>
            </div>
            <div class="news">
              <h3>NEWS</h3>
              <dl>
                <dt>
                  <a href="/src/views/hollysnews/notice.html">할리스 소식</a>
                </dt>
                <dd>
                  <a href="/src/views/hollysnews/notice.html">공지사항</a>
                </dd>
                <dd><a href="/src/views/hollysnews/eevent.html">이벤트</a></dd>
              </dl>
            </div>
            <div class="store">
              <h3>STORE</h3>
              <dl>
                <dt><a href="/src/views/store/Store_search.html">매장</a></dt>
                <dd>
                  <a href="/src/views/store/Store_search.html">매장찾기</a>
                </dd>
              </dl>
            </div>
            <div class="customer">
              <h3>CUSTOMER</h3>
              <dl>
                <dt><a href="/src/views/customer/ask.html">고객서비스</a></dt>
                <dd><a href="/src/views/customer/ask.html">고객문의</a></dd>
                <dd><a href="/src/views/customer/faq.html">FAQ</a></dd>
                <dd><a href="/src/views/customer/survey.html">Customer Survey</a></dd>
              </dl>
            </div>
            <div class="membership">
              <h3>MEMBERSHIP</h3>
              <dl>
                <dt>
                  <a href="/src/views/membership/membership_benefit.html"
                    >멤버십</a
                  >
                </dt>
                <dd>
                  <a href="/src/views/membership/membership_benefit.html"
                    >멤버십 혜택</a
                  >
                </dd>
                <dd>
                  <a href="/src/views/membership/membership_smartorder.html"
                    >할리스 모바일 앱</a
                  >
                </dd>
              </dl>
            </div>
            <div class="franchise">
              <h3>FRANCHISE</h3>
              <dl>
                <dt><a href="/src/views/franchise/franchiseIntro.html">프랜차이즈</a></dt>
                <dd>
                  <a href="/src/views/franchise/franchiseIntro.html">창업설명회 안내</a>
                </dd>
                <dd><a href="/src/views/franchise/franchiseFriends.html">할리스 가맹점</a></dd>
                <dd><a href="/src/views/franchise/howFriends.html">가맹문의 및 절차</a></dd>
                <dd><a href="/src/views/franchise/consultRequest.html">상담신청</a></dd>
              </dl>
            </div>
            <div class="academy">
              <h3>ACADEMY</h3>
              <dl>
                <dt>
                  <a href="/src/views/academy/Academy_intro/Academy.html"
                    >아카데미</a
                  >
                </dt>
                <dd>
                  <a href="/src/views/academy/Academy_intro/Academy.html"
                    >아카데미 소개</a
                  >
                </dd>
                <dd>
                  <a
                    href="/src/views/academy/curriculum_guide/curiculum_guide.html"
                    >교육과정 안내</a
                  >
                  <ul>
                    <li>
                      <a
                        href="/src/views/academy/curriculum_guide/curiculum_guide.html"
                        >수강신청 안내</a
                      >
                    </li>
                    <li>
                      <a
                        href="/src/views/academy/curriculum_guide/planner/class_time.html"
                        >개강 일정</a
                      >
                    </li>
                    <li>
                      <a
                        href="/src/views/academy/curriculum_guide/course_register_list/course_register_list.html"
                        >레드아카데미 신청내역</a
                      >
                    </li>
                  </ul>
                </dd>
              </dl>
            </div>
            <div class="hollysis">
              <h3>HOLLYS IS</h3>
              <dl>
                <dt>
                  <a href="/src/views/hollys_is/hollys/about_hollys.html"
                    >할리스소개</a
                  >
                </dt>
                <dd>
                  <a href="/src/views/hollys_is/hollys/about_hollys.html"
                    >HOLLYS</a
                  >
                  <ul>
                    <li>
                      <a href="/src/views/hollys_is/hollys/about_hollys.html"
                        >할리스?</a
                      >
                    </li>
                    <li>
                      <a href="/src/views/hollys_is/hollys/history.html"
                        >연혁</a
                      >
                    </li>
                    <li>
                      <a href="/src/views/hollys_is/hollys/bi.html">BI소개</a>
                    </li>
                  </ul>
                </dd>
                <dd>
                  <a href="/src/views/hollys_is/location/location.html"
                    >할리스위치 및 연락처</a
                  >
                </dd>
                <dd>
                  <a href="/src/views/hollys_is/recruit/recruit.html"
                    >채용안내</a
                  >
                </dd>
                <dd>
                  <a href="/src/views/hollys_is/b2b/info.html">B2B 소개</a>
                  <ul>
                    <li>
                      <a href="/src/views/hollys_is/b2b/info.html">B2B 소개</a>
                    </li>
                    <li>
                      <a href="/src/views/hollys_is/b2b/">오피스 커피 서비스</a>
                    </li>
                    <li><a href="/src/views/hollys_is/b2b/">신채널 유통</a></li>
                    <li>
                      <a href="/src/views/hollys_is/b2b/">사내카페 컨설팅</a>
                    </li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--  footer  -->
    <footer id="footer"></footer>
  </body>
</html>
