<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : MY 멤버십</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../my_page_banner.css" />
    <link rel="stylesheet" href="./my_membership.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="my_page--banner_wrap">
        <section class="my_page--banner">
          <section class="my_page--lnb--wrap">
            <section class="my_page--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">MY 멤버십</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a
                      href="../my_membership/my_membership.html"
                      class="lnb_list--hollys_btn"
                      >MY 멤버십</a
                    >
                  </li>
                  <li>
                    <a href="../my_coupon/my_coupon.html">MY 쿠폰</a>
                  </li>
                  <li>
                    <a href="../my_hollys_card/my_hollys_card.html"
                      >MY 할리스카드</a
                    >
                  </li>
                  <li>
                    <a href="../my_academy/my_academy.html"
                      >아카데미 신청 내역</a
                    >
                  </li>
                  <li><a href="../my_info/my_info.html">회원정보 관리</a></li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > MY HOLLYS > MY 멤버십</p>
      </section>
      <section class="my_membership--title_wrap">
        <h3 class="my_membership--title">MY 멤버십</h3>
      </section>
      <section class="my_membership--content_wrap" id="content">
        <section class="my_membership--content">
          <section class="my_membership--content_now--wrap">
            <section class="my_membership--content_now--grade_wrap">
              <p class="my_membership--content_now--grade">
                현재 멤버십 등급은
                <span class="silver_color">SILVER</span> 입니다.
              </p>
              <p class="my_membership--content_grade--benefits">
                <span class="silver_color">SILVER</span> 등급의 혜택은
                <a href="#none" class="my_membership--content_benefit--link"
                  >멤버십 혜택</a
                >
                페이지에서 확인 가능합니다.
              </p>
            </section>
            <section class="my_membership--content_grade--coupon_wrap">
              <section class="my_membership--next_grade--wrap">
                <img
                  src="../../../assets/images/my_page/gold_crown.png"
                  alt="골드 왕관"
                /><span>다음 등급 GOLD까지 12개의 크라운이 남았습니다.</span>
              </section>
              <section class="my_membership--coupon_wrap">
                <a
                  href="../my_coupon/my_coupon.html"
                  class="my_membership--coupon"
                >
                  <img
                    src="../../../assets/images/my_page/coupon_crown.png"
                    alt="쿠폰"
                  />
                  <span>사용 가능한 쿠폰이 5개 있습니다.</span>
                </a>
              </section>
            </section>
          </section>
          <section class="my_membership--content_free--wrap">
            <p class="my_membership--content_free">
              <img
                src="../../../assets/images/my_page/crown.png"
                alt="왕관"
                class="my_membership--content_free--crown"
              />12개의 크라운을 모으면 FREE 쿠폰을 드립니다!
              <img
                src="../../../assets/images/my_page/free_cup.png"
                alt="무료 음료"
                class="my_membership--content_free--cup"
              />
            </p>
          </section>
          <section class="my_membership--content_caution--wrap">
            <p class="my_membership--content_caution--title">유의사항!</p>
            <p class="my_membership--content_caution--sub_title">
              영수증 1개당 결제금액 기준으로 적립됩니다.
            </p>
            <p class="my_membership--content_caution--txt">
              - (4천원 이상 ~ 1만원 미만일 시 1개 적립, 1만원 이상부터 5천원
              단위로 1개씩 적립)
            </p>
            <p class="my_membership--content_caution--txt">
              - 추후 적립의 경우 결제일 포함 7일 이내 가능하며, 해당 매장에
              영수증 지참하여 방문 바랍니다.
            </p>
            <p class="my_membership--content_caution--txt">
              - 크라운 유효기간은 적립일로부터 1년간 유지되며 기간 만료 시
              소멸됩니다.
            </p>
            <p class="my_membership--content_caution--sub_title">
              멤버십 등급 안내
            </p>
            <p class="my_membership--content_caution--txt">
              - 골드 / 레드 등급은 조건 달성 시 즉시 반영되며, 승급일로부터
              1년간 유지됩니다.
            </p>
            <p class="my_membership--content_caution--txt">
              - 다이아몬드 등급은 전년도 1월 1일 ~ 12월 31일 구매 금액 기준 상위
              1%에 한해 선정되며, 승급일로부터 1년간 유지됩니다.
            </p>
            <p class="my_membership--content_caution--sub_title">기타 안내</p>
            <p class="my_membership--content_caution--txt">
              - 자동 충전이란 ? 할리스카드의 잔액이 설정하신 기준 잔액보다
              낮아지면 즉시 자동충전이 되는 기능입니다.
            </p>
          </section>
          <section class="my_membership--content_management--wrap">
            <section class="my_membership--content_management--menu">
              <button
                type="button"
                class="my_membership--content_management--menu_crown"
              >
                CROWN 내역
              </button>
              <button
                type="button"
                class="my_membership--content_management--menu_card"
              >
                멤버십 카드 관리
              </button>
            </section>
            <section
              class="my_membership--content_management--content_wrap"
            ></section>
          </section>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
  <script src="./my_membership.js"></script>
</html>
