a {
  color: inherit;
}
button {
  border: 0;
  background: inherit;
}

/* page route */
.page_route--wrap {
  width: 1200px;
  margin: 0 auto;
}
.page_route {
  font-size: 12px;
  color: #666;
  margin-bottom: 50px;
}
/* hollys red bg */
.hollys_red--bg {
  color: white;
  background: #c72f30;
}
/* my membership page */
.my_membership--title_wrap {
  width: 1200px;
  margin: 0 auto 30px;
}
.my_membership--title {
  font-size: 32px;
}
.my_membership--content_wrap {
  width: 1200px;
  margin: 0 auto 100px;
}
.my_membership--content_now--wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border: 1px solid #666;
  box-sizing: border-box;
}
.my_membership--content_now--grade_wrap,
.my_membership--content_grade--coupon_wrap {
  width: 550px;
  padding: 0px 0 0 50px;
}
.my_membership--content_grade--coupon_wrap {
  font-size: 16px;
  border-left: 1px solid #666;
  box-sizing: border-box;
}
.my_membership--content_now--grade {
  font-size: 18px;
}
.silver_color {
  font-size: 24px;
  color: rgb(110, 110, 110);
}
.my_membership--content_grade--benefits {
  font-size: 16px;
}
.my_membership--content_benefit--link {
  color: #c72f30;
  text-decoration: underline;
}
.my_membership--content_benefit--link:hover {
  color: #666;
}
.my_membership--coupon {
  height: 100%;
  display: inline-block;
}
.my_membership--coupon:hover {
  color: #c72f30;
  text-decoration: underline;
}
.my_membership--content_free--wrap {
  text-align: center;
  margin-bottom: 50px;
}
.my_membership--content_free {
  font-size: 18px;
}
.my_membership--content_free--crown {
  width: 50px;
  vertical-align: bottom;
  margin-right: 10px;
}
.my_membership--content_free--cup {
  vertical-align: bottom;
  margin-left: 5px;
}

/* my_membership--content_caution--wrap */
.my_membership--content_caution--wrap {
  margin-bottom: 50px;
}
.my_membership--content_caution--title {
  color: #c72f30;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.my_membership--content_caution--sub_title {
  font-size: 16px;
  font-weight: 500;
}
.my_membership--content_caution--txt {
  font-size: 16px;
  color: #666;
  margin-left: 10px;
}

/* my_membership--content_management--wrap */
.my_membership--content_management--menu {
  display: flex;
  margin-bottom: 50px;
}
.my_membership--content_management--menu_crown,
.my_membership--content_management--menu_card {
  width: 600px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #666;
  padding: 10px 0;
  box-sizing: border-box;
}
/*  */
.my_membership--content_management--crown {
  height: 300px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  box-sizing: border-box;
}
.my_membership--content_management--crown_assortment {
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c9c9c9;
}
.my_membership--content_management--crown_assortment--txt {
  font-size: 16px;
  width: 300px;
}
/*  */
.my_membership--content_management--membership {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my_membership--content_management--membership_re,
.my_membership--content_management--membership_register,
.my_membership--content_management--membership_stop {
  display: flex;
  justify-content: space-between;
}
.my_membership--content_management--membership_txt {
  font-size: 16px;
  font-weight: 500;
}
.my_membership--content_management--membership_link {
  font-size: 16px;
  padding: 5px 20px;
  border: 1px solid #666;
  border-radius: 5px;
  box-sizing: border-box;
}
.my_membership--content_management--membership_link:hover {
  color: white;
  background: #c72f30;
  border: 1px solid #c72f30;
}
.my_membership--content_management--crown_notice {
  font-size: 16px;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.my_membership--content_management--crown_notice--none_img {
  width: 100px;
  margin-bottom: 10px;
}
