<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="shortcut icon" href="../../../assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../main_tag.css">
    <link rel="stylesheet" href="../../footer_header/footer.css">
    <link rel="stylesheet" href="../../footer_header/header.css">

    <link rel="stylesheet" href="sign_up.css">

    <script src="../../../jquery/jquery.js"></script>
    <script src="../footer.js"></script>
    <script src="../header.js"></script>
    <script src="sign_up.js"></script>
    <title>회원가입</title>
</head>
<body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
        <article class="sign_up_wrap" id="content"> <!-- width: 440; margin: auto -->
            <h2>회원가입</h2>
            <p>이메일로 간편하게 가입해요!</p>

            <form action="#" method="get" name="input_wrap" class="input_wrap">
                <div class="id_wrap"> <!-- width:100% -->
                    <p>* 이메일 아이디 입력</p>
                    <div class="id_input_wrap">

                        <label for="id_input" class="screen_out">이메일 아이디</label>
                        <input type="text" id="id_input" class="id_input" placeholder="이메일을 입력해주세요.">

                        <button type="button" class="id_overlap_check_btn">중복확인</button>
                    </div>

                    <p class="id_check_txt"><!-- position:relative -->
                    </p>
                </div>

                <div class="name_wrap"> <!-- width:100% -->
                    <p>* 이름 입력</p>
                    <div class="name_input_wrap">

                        <label for="name_input" class="screen_out">이름</label>
                        <input type="text" id="id_input" class="name_input" placeholder="이름을 입력해주세요.">
                    </div>
                </div>

                <div class="tel_wrap"> <!-- width:100% -->
                    <p>* 전화번호 입력</p>
                    <div class="tel_input_wrap">

                        <label for="tel_input" class="screen_out">전화번호</label>
                        <input type="tel" id="tel_input" class="tel_input" placeholder="ex. 010-1234-5678" maxlength="13">
                    </div>
                </div>

                <div class="pw_wrap"> <!-- width:100% -->
                    <div class="pw_input_wrap">
                        <p>* 비밀번호 입력</p>

                        <div class="pw_input_box">
                            <label for="pw_input" class="screen_out">비밀번호</label>
                            <input type="password" id="pw_input" placeholder="비밀번호를 입력해주세요." maxlength="15" minlength="8">
                            <button type="button" class="show_hide_pw_btn"><i class="fa-solid fa-eye-slash"></i></button>

                            <!-- 
                                <i class="fa-solid fa-eye"></i>         비밀번호 보이기
                                <i class="fa-solid fa-eye-slash"></i>   비밀번호 보이지않기
                             -->
                        </div>

                        <div class="pw_precondition_wrap"><!-- 숨겨져있다가 나옴 -->
                            <ul class="pw_precondition">
                                <li>
                                    <p>pw는 최소 8자리~15자리</p>
                                    <span></span>
                                </li>

                                <li>
                                    <p>pw에 영문, 숫자, 특수문자 반드시 포함</p>
                                    <span></span>
                                </li>

                                <!-- 
                                    <i class="fa-solid fa-check"></i> V
                                    <i class="fa-solid fa-xmark"></i> X
                                 -->
                            </ul>
                        </div>

                        <span class="pw_complete_border"></span>
                    </div>

                    <div class="pw_check_input_wrap">
                        <p>* 비밀번호 확인</p>

                        <div class="pw_check_input_box">
                            <label for="pw_check_input" class="screen_out">비밀번호 확인</label>
                            <input type="password" id="pw_check_input" placeholder="비밀번호를 다시 입력해주세요." class="pw_check_input">
                            <span class="pw_check_mark"></span>
                        </div>
                        

                        <p class="pw_same"></p>
                    </div>
                </div>
            </form>

            <div class="button_wrap_prev_next">
                <button type="button" class="go_prev_page">이전</button>
                <button type="submit" class="sign_up_btn">회원가입</button>
            </div>
        </article>
    </main>
    <footer id="footer" class="footer"></footer>
</body>
</html>