<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>할리스카드이용약관</title>
        <!--        favicon css        -->
        <link rel="icon" type="image/x-icon" href="/src/assets/images/favicon.png">

        <!--        reset css        -->
        <link rel="stylesheet" href="/src/styles/reset.css">

        <!--        font css        -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">

        <!--        header css        -->
        <link rel="stylesheet" href="/src/views/footer_header/header.css">
    
        <!--        main css        -->
        <link rel="stylesheet" href="/src/views/term/card_term.css">
    
        <!--        footer css        -->
        <link rel="stylesheet" href="/src/views/footer_header/footer.css">
    
        <!--        header footer js        -->
        <script src="/src/jquery/jquery-3.6.4.min.js"></script>
        <script src="/src/views/footer_header/header_call.js"></script>
        <!--        policy main js        -->
        <script src="/src/views/term/policy.js"></script>
</head>
<body>
    <!--  header  -->
    <header id="header"></header>

    <!--  main  -->
    <main id="main" class="main">
        <section class="banner_wrap">
            <div class="banner">
                <h2>HOLLYS</h2>
                <ul class="lnb">
                    <li><a href="info_policy.html">개인정보처리방침</a></li>
                    <li><a href="service_term.html">서비스이용약관</a></li>
                    <li><a href="membership_term.html">멤버십이용약관</a></li>
                    <li><a href="card_term.html">할리스카드이용약관</a></li>
                </ul>
            </div>
        </section>
        
        <div class="content" id="content">
            <div class="location">
                <span><a href="#none">Home</a></span>
                <span><a href="info_policy.html">HOLLYS</a></span>
                <span><a href="card_term.html">할리스카드 이용약관</a></span>
            </div>

            <div class="card_term">
                <h2>할리스카드 이용약관</h2>

                <div class="term_service">
                    <div class="select_area">
                        <select name="cardterms" id="cardterms">
                            <option value="5" selected>현행약관 : 2022년 05월 26일</option>
                            <option value="4">2021년 07월 28일</option>
                            <option value="3">2021년 02월 13일</option>
                            <option value="2">2020년 12월 15일</option>
                            <option value="1">2010년 07월 01일</option>
                        </select>
                    </div>

                    <div class="term_contents">
                        <div class="text">
                            <div class="5">
                                <p>2022년 05월 26일</p>
                                <p>&nbsp;</p>
                                <p>개인정보 수집 관련 동의사항</p>
                                <p>&nbsp;</p>
                                <p>제 1 조 (목적)</p>
                                <p>본 약관은 주식회사 케이지할리스에프앤비(이하 "회사"라 합니다)가 발행한 할리스카드를 구입하거나 또는 적법한 방법으로 소지한 고객이 회사가 제공하는 할리스카드 서비스를 이용함에 있어 필요한 조건, 절차 및 당사자간의 권리,의무 등을 포함한 기본적인 사항을 규정하는 것을 목적으로 합니다.</p>
                                <p>&nbsp;</p>
                                <p>제 2 조 (용어의 정의)</p>
                                <p>이 약관에서 사용하는 용어는 다음과 같이 정의합니다.</p>
                                <ul class="space">
                                    <li>(1) "할리스카드"란 회사가 규정한 사양에 따라 인증한 칩(chip) 또는 어플리케이션 (application)을 내장하고 할리스 브랜드를 부착한 선불전자지급수단으로서 회사가 발급한 것을 의미합니다.</li>
                                    <li>(2) "매장" 이란 회사가 직영점 또는 가맹점의 형태로 운영하는 모든 매장을 의미합니다.</li>
                                    <li>(3) "고객" 이란 매장에서 할리스카드를 구입하거나 기타 적법한 방법으로 할리스카드를 소지한 자를 의미합니다.</li>
                                    <li>(4) "결제" 란 할리스카드를 이용하여 상품, 제품 내지 서비스 대금의 전부 또는 일부를 결제하는 행위를 의미합니다.</li>
                                    <li>(5) "충전" 이란 처음 구입하거나 기존 구입으로 소지한 할리스카드에 금액을 충전하는 행위를 의미합니다.</li>
                                    <li>(6) "환급" 이란 할리스카드에 기록된 잔액을 고객과 회사 간 약정된 방법과 절차에 따라 고객에게 돌려주는 것을 의미합니다.</li>
                                    <li>(7) "이상카드" 란 정상적으로 사용이 불가능한 할리스카드로서, 다음과 각 호의 불량카드와 파손카드를 포함합니다.
                                        <ul class="space">
                                            <li>1) 이상카드 중 "불량카드" 란 할리스카드의 외형상 이상은 없으나, 기능상의 문제로 단말기 등에서 사용이 불가능한 상태의 카드를 의미합니다.</li>
                                            <li>2) 이상카드 중 "파손카드"란 고객의 고의 또는 과실로 구멍 뚫림, 구김, 휘어짐, 찍힘, 태움, 조각남, 깨짐, 갈라짐, 카드번호 지워짐 등으로 인하여 훼손된 카드를 말합니다.</li>
                                        </ul>
                                    </li>
                                    <li>(8) "정상카드"란 정상적으로 사용이 가능한 카드로서 "이상카드"가 아닌 할리스카드를 의미합니다.</li>
                                    <li>(9) "거래 행위”란 카드번호를 입력하는 행위, 카드를 단말기에 접촉하는 행위 등 고객이 할리스카드 서비스를 이용하기 위해 할리스카드를 이용하는 행위를 의미합니다.</li>
                                    <li>(10) "홈페이지"란 회사의 인터넷 홈페이지(www.hollys.co.kr)를 의미합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 3 조 (발행 등)</p>
                                <ul class="space">
                                    <li>(1) 할리스카드의 발행 관련 구체적인 내용은 다음과 같으며, 자세한 내용은 할리스 홈페이지 또는 할리스멤버십을 통해 확인할 수 있습니다.
                                        <ul class="space">
                                            <li>1) 발행자 : ㈜케이지할리스에프앤비</li>
                                            <li>2) 구매가격 : 할리스카드는 별도의 카드 구매가격이 없는 충전식 상품권입니다.</li>
                                            <li>3) 유효기간 : 5년</li>
                                            <li>4) 사용조건 (사용가능금액, 제공 물품 등)
                                                <ul class="space">
                                                    <li>- 할리스카드는 충전식 상품권으로, 고객이 사용할 수 있는 금액은 충전한 금액과 같으며, 현금과 동일하게 할리스 매장에서 제품 및 상품을 구매할 수 있습니다.</li>
                                                </ul>
                                            </li>
                                            <li>5) 사용가능 가맹점 : 전 매장 (일부매장 제외)</li>
                                            <li>6) 환불 조건 및 방법 : 고객이 충전된 금액의 잔액 환불을 요청할 경우, 회사는 최종 충전 시점의 잔액을 기준으로 60% 이상을 사용한 후 40% 이하에 해당하는 잔액의 반환을 요구하는 경우에 고객센터 또는 App/Web을 통해 환급을 신청할 수 있습니다. 보다 자세한 사항은 약관 제8조를 참조바랍니다.</li>
                                            <li>7) 지급보증 또는 피해보상보험계약 체결에 관한 사항 : 할리스카드는 충전금액에 대하여 전자상거래(결제수단) 보증보험증권에 가입되어 있습니다. 분실 시 홈페이지를 통해 신고하시기 바랍니다.</li>
                                            <li>8) 할리스카드의 이용과 관련한 고객 피해 발생시, 회사의 고객센터 및 공정거래위원회 소비자상담센터에 연락하실 수 있으며, 전화번호는 아래와 같습니다.
                                                <ul class="space">
                                                    <li>▷ 회사 고객센터 : 02-2188-7100 (수신자 부담)</li>
                                                    <li>▷ 공정거래위원회 소비자상담센터 : (국번없이) 1372</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>(2) 회사는 고객의 과실로 인하여 할리스카드가 훼손된 경우 재발급(재발송 등)에 따르는 비용에 대하여 실비 범위 내에서 고객에게 청구할 수 있습니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 4 조 (이용)</p>
                                <ul class="space">
                                    <li>(1) 고객은 할리스카드로 국내 매장에서 상품 또는 제품을 구매하거나 서비스를 제공받을 수 있습니다. 단, 매장의 임대차 계약상 임대인이 요구한 조건, 기술적 사유(시스템 내지 단말기의 고장, 점검, 통신회선 불량, 신규 카드 또는 단말기의 안정화 작업 등) 내지 할리스카드의 발행목적 등으로 인하여 할리스카드의 이용이 제한될 수 있으며. 이 경우 회사는 매장에 배포된 안내장 또는 홈페이지 등을 이용하여 고객에게 고지합니다.</li>
                                    <li>(2) 할리스카드를 충전하거나 할리스카드를 매장에서 사용하는 경우, 회사에서 정한 "추가 적립" 또는 그 밖의 혜택을 제공받을 수 있습니다. 구체적 혜택의 내용은 회사의 정책에 따라 별도의 고지 없이 변경될 수 있습니다.</li>
                                    <li>(3) 고객은 기술적 결함이나 네트워크의 오류 및 장애 발생, 부정이용사실 확인으로 인하여 할리스카드를 일시적으로 이용하지 못할 수 있으며, 이에 대하여 회사는 고객에 손해배상책임을 지지 아니합니다.</li>
                                    <li>(4) 회사가 제공하는 방식이 아닌 불법 또는 부정한 방법으로 할리스카드를 이용하는 경우에는 이용을 제한할 수 있습니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 5 조 (충전)</p>
                                <ul class="space">
                                    <li>(1) 할리스카드의 충전은 다음 각호의 방법으로 가능합니다.
                                        <ul class="space">
                                            <li>1) 고객이 매장(일부 매장 제외)을 직접 방문하여 현금 또는 회사가 현금과 동일하게 인정하는 금전적 가치를 제공하는 방법으로 제공된 금전적 가치를 단말기 등의 전자적 장치를 이용하여 할리스카드에 저장하는 방법</li>
                                            <li>2) 고객이 회사와 약정한 절차에 따라 사전에 일정한 금액을 회사에 지급하고, 회사는 지급 받은 금액에 해당하는 가치를 할리스카드에 관한 정보를 기준으로 회사의 시스템에 전자적 방법으로 저장한 후, 고객과 회사가 약정한 조건에 따라 별도의 절차 없이 단말기 등의 회사가 지정한 전자적 장치를 통해 회사의 시스템에 저장된 가치를 할리스카드로 이전하여 기록하는 방법</li>
                                            <li>3) 기타 회사가 사전에 고지하고 고객이 그 고지된 방법을 이용하는 방법</li>
                                        </ul>
                                    </li>
                                    <li>(2) 할리스카드에 충전할 수 있는 최소 충전금액은 1만원입니다. 또한 하나의 할리스카드에 총 충전 가능한 금액은 50만원을 넘을 수 없습니다. 이와 같은 충전 금액 기준은 회사의 정책에 따라 변경될 수 있습니다.</li>
                                    <li>(3) 할리스카드에 충전된 금액에 대해서는 이자가 발생하지 않습니다.</li>
                                    <li>(4) 다음 각호에 해당되는 경우 회사는 고객의 충전을 제한할 수 있습니다.
                                        <ul class="space">
                                            <li>1) 고객이 지정되지 않은 방법이나 지급수단을 이용해 충전할 경우</li>
                                            <li>2) 기타 충전이 불가능한 기술적, 제도적 사유가 발생한 경우</li>
                                            <li>3) 부정한 방법이나 목적으로 충전을 요청할 경우</li>
                                            <li>4) 프로모션, 이벤트 등을 목적으로 회사가 발행한 일부 할리스카드</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 5조의 2 (자동 재충전)</p>
                                <ul class="space">
                                    <li>(1) 할리스카드는 아래와 같은 방법으로 자동 재충전을 설정할 수 있습니다.
                                        <ul class="space">
                                            <li>1) 기준 하한 자동 충전 : 카드의 잔액이 고객이 설정한 기준 잔액보다 하락하는 경우, 고객이 지정한 금액 및 사전에 선택한 결제 수단으로 자동 재충전 됩니다.</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 5조의 3 (온라인 충전신청 변경/취소 및 결제 확인 통지)</p>
                                <ul class="space">
                                    <li>(1) 회사는 고객이 온라인을 통해 할리스카드 구매 및 충전을 신청한 경우, 결제완료페이지를 통해 충전 / 구매 결제 확인을 통지합니다. 회사의 통지가 고객에게 도달한 시점에 계약이 성립된 것으로 보고, 그 통지에는 회원의 구매 및 충전 신청에 대한 확인 및 충전 / 구매 등에 관한 정보 등을 포함하도록 합니다.</li>
                                    <li>(2) 고객은 충전신청 변경/취소를 요청할 수 있고, 회사는 특별한 사정이 없는 한 그 요청에 따라 처리하여야 합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 6 조 (충전 또는 구매의 취소)</p>
                                <ul class="space">
                                    <li>(1) 충전 또는 구매 금액을 사용이력이 없을 경우에만 충전을 취소 할 수 있습니다. 단, 충전을 취소할 수 없는 경우로서 고객의 요청이 있는 경우에는 제8조에서 정한 바에 따라 잔액을 반환해 드립니다.</li>
                                    <li>(2) 충전 또는 구매를 취소하고자 하는 경우에는 다음 각호의 절차에 따라 처리합니다. 고객이 충전 취소를 요청함으로써 충전방법에 따라 현금 반환 또는 신용카드 취소 등의 형식으로 취소해 드립니다.</li>
                                    <li>(3) 매장에서 구매/충전한 건에 대해서는 매장에서만 취소가 가능하며, 온라인에서 구매/충전한 건에 대해서는 온라인을 통해서만 취소 가능합니다.
                                        <ul class="space">
                                            <li>1) 매장 취소 : 구매/충전 거래 영수증을 지참하여 구매일로부터 7일 내에 구매한 매장에 결제 취소를 요청하여 취소합니다.</li>
                                            <li>2) 온라인 취소 : 구매일 또는 충전일로부터 7일 내에 할리스 APP/홈페이지에서 취소합니다. [APP/홈페이지 -> HOLLYS MALL -> 구매내역 -> 결제취소] (단, 고객센터를 통한 취소를 요청할 경우 7영업일까지 가능합니다.)</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 7조 (유효기간)</p>
                                <ul class="space">
                                    <li>(1) 할리스카드의 유효기간은 최종 충전일 포함 5년입니다.</li>
                                    <li>(2) (2) 이벤트 또는 프로모션으로 발급된 할리스카드의 유효기간은 본 유효기간과 다를 수 있습니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 8 조 (환급)</p>
                                <ul class="space">
                                    <li>(1) 고객이 할리스카드에 충전된 잔액의 반환을 요청하는 때에는 회사는 할리스카드의 상태에 따라 다음 각호의 절차에 따라 처리합니다.
                                        <ul class="space">
                                            <li>1) 구매 또는 최종 충전시점의 잔액을 기준으로 100분의 60이상을 사용한 후 40% 이하에 해당하는 잔액의 환급을 요구하는 경우 온라인을 통해 환급을 신청할 수 있습니다. 이 때 고객이 지정한 계좌로 4주 내에 잔액을 입금해 드립니다. (단, 1만원 이하의 충전 금액의 경우 80%이상 사용 후 환불 신청가능)</li>
                                            <li>2) 잔액이 1만원 미만일 경우 매장에서 환불을 요청할 수 있습니다. 단, 매장에서 환불 시 1)호의 내용을 적용하지 않습니다.</li>
                                        </ul>
                                    </li>
                                    <li>(2) 환급을 요청할 수 있는 권리는 할리스카드의 최종 소지자가 가집니다. 다만, 최종 소지자가 환불을 요청할 수 없는 경우에 한하여, 구매자가 환급을 요청할 수 있습니다. 이 때, 구매자에게 환급한 경우, 회사는 환급에 대한 책임을 면하게 됩니다.</li>
                                    <li>(3) 고객이 할리스카드를 분실 혹은 도난 당한 경우 회사는 이를 책임지지 않으며, 이 경우 해당 카드 잔액은 환급되지 않습니다.</li>
                                    <li>(4) 할리스카드의 발행 목적 또는 기술적 사유(시스템 점검, 단말기 고장, 통신 회선 불량, 신규 카드 또는 단말기의 안정화 작업 등)로 일부 할리스카드는 잔액반환이 제한될 수 있으며, 이 경우 회사는 별도의 잔액반환 절차 및 방법을 매장에서 배포하는 안내장 혹은 홈페이지 등을 이용하여 고객에게 고지합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 9 조 (이상카드의 처리)</p>
                                <ul class="space">
                                    <li>(1) 이상카드를 매장에서 접수하시면 잔액 확인 등의 절차를 거쳐 이상카드의 잔액을 충전한 신규 할리스카드를 발급하여 드리며, 신규로 발급받은 후에는 이상카드를 사용하실 수 없습니다.</li>
                                    <li>(2) 고객이 이상카드의 잔액을 금전으로 받기 위하여는 제7조의 절차를 따라야 합니다.</li>
                                    <li>(3) 이상카드 중 카드 번호, 또는 승인번호의 식별이 불가능한 경우에는 제1항 및 제2항에 따른 신규 할리스카드발급 또는 잔액반환이 불가능 합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 10 조 (이용의 취소)</p>
                                <ul class="space">
                                    <li>(1) 고객이 할리스카드로 서비스를 제공받거나 제품 또는 상품(이하, 제품 등)을 구매하고 할리스카드의 잔액이 차감되어 거래내역이 기록된 후에는 그 거래가 발생한 날의 영업시간이 종료하면 이를 취소 할 수 없습니다.</li>
                                    <li>(2) 제1항에도 불구하고, 고객이 구매한 제품 등에 대하여 그 제품 등의 특성에 따라 제품 등을 사용하지 않았거나 구매 당시와 동일한 상태가 유지되는 제품 등에 한하여 구매일로부터 7일 이내에 영수증 등 구매사실을 소명할 수 있는 자료를 첨부하여 거래 취소를 요구할 수 있습니다. 단, 지급된 판촉물 등은 반드시 함께 반환하여야 거래 취소가 가능합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 11 조 (거래내역의 수집)</p>
                                <ul class="space">
                                    <li>(1) 회사는 고객이 할리스카드를 이용하는 경우 필요한 최소한의 거래내역 정보 (카드번호, 거래 일시, 거래 금액, 단말기 및 매장 정보 등)를 수집합니다.</li>
                                    <li>(2) 고객의 계속적인 할리스카드 사용은 할리스카드를 통해 수집된 거래내역 정보가 이용대금 정산의 목적에 사용되는 것에 대하여 동의한 것으로 간주합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 12 조 (거래내역의 제공)</p>
                                <ul class="space">
                                    <li>(1) 고객은 본인의 할리스카드 거래내역을 홈페이지를 통해 확인할 수 있습니다.</li>
                                    <li>(2) 고객은 고객센터로 요청하여 소정의 절차를 통해 거래내역을 전자우편 형식으로 전송받을 수 있습니다.</li>
                                    <li>(3) 매장에서는 거래내역을 확인할 수 없습니다.</li>
                                    <li>(4) 고객이 제2항에 따라 거래내역을 제공받기 위하여 회사에 제공한 수령지 정보에 오류가 있거나 그 정보가 부정확하여 발생된 고객의 해당 정보 유출 또는 고객의 손해에 대해서는 회사는 책임을 지지 아니합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 13 조 (거래내역의 정정)</p>
                                <ul class="space">
                                    <li>(1) 고객은 본인의 거래내역에 오류를 발견하는 경우, 소명할 수 있는 자료를 갖추어 회사가 정한 절차에 따라 그 오류를 정정해 줄 것을 요청할 수 있습니다.</li>
                                    <li>(2) 회사는 제1항에 의해 고객의 정정요청을 받은 날로부터 2주 이내에 해당 거래내역을 검토하여 고객에게 그 결과를 통보하여 드립니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 14 조 (개인정보 보호)</p>
                                <ul class="space">
                                    <li>(1) 회사는 고객의 정보를 수집하는 경우 정상적인 서비스를 위한 최소한의 정보를 수집합니다.</li>
                                    <li>(2) 회사는 양질의 서비스를 제공하기 위해 여러 비즈니스 파트너와 제휴를 맺거나 국가 기관의 요구 등을 위해 개인정보를 위탁관리하거나 개인정보를 제공할 수 있습니다.</li>
                                    <li>(3) 고객의 별도 요청이 있는 경우를 제외하고 제2항의 경우에는 회사는 홈페이지를 통하여 해당 목적, 내용 및 업체명을 밝혀 고객의 동의를 받습니다.</li>
                                    <li>(4) 다음 각호의 경우를 제외하고는 고객이 제공한 개인정보를 고객의 동의 없이 제 3자에게 누설하거나 제공하지 않습니다.
                                        <ul class="space">
                                            <li>1) 배송을 위해 배송담당 업체 등에게 배송에 필요한 최소한의 고객 정보를 알려주는 경우</li>
                                            <li>2) 통계작성, 학술연구 또는 시장조사를 위해 특정 개인을 식별할 수 없는 형태로 제공하는 경우</li>
                                            <li>3) 관계 법령에 의하여 수사상의 목적으로 관계기관으로부터 요구 받은 경우</li>
                                            <li>4) 서비스의 이용에 따른 거래상 발생하는 요금 정산</li>
                                            <li>5) 서비스의 제공에 필요한 범위 내에서 제휴 회사와 공유해야 하는 경우</li>
                                            <li>6) 기타 관계 법령에 의한 경우</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 15 조 (책임 소재)</p>
                                <ul class="space">
                                    <li>(1) 회사는 고객이 할리스카드 서비스 이용 중 발생한 손해에 대하여 배상할 책임을 집니다. 단, 다음 각호의 1에 해당하는 경우 내지 본 약관에 달리 정함이 있는 경우에는 회사는 책임을 지지 아니합니다.
                                        <ul class="space">
                                            <li>1) 회사가 할리스카드 후면 또는 카드 단말기를 통해 안내하거나 규정하는 방법 이외의 방법으로 거래행위를 한 경우</li>
                                            <li>2) 할리스카드를 회사가 지정하지 아니한 방법으로 불법적으로 또는 부정하게 발행하거나 사용한 경우</li>
                                            <li>3) 할리스카드를 변형하거나 원형을 훼손하여 사용한 경우</li>
                                            <li>4) 할리스카드를 도난 당하거나 분실한 경우</li>
                                            <li>5) 제3자가 권한 없이 고객의 할리스카드를 이용할 수 있음을 알았거나 쉽게 알 수 있었음에도 불구하고 고객이 자신의 할리스카드정보(카드번호 및 승인번호 포함)를 누설 또는 노출하거나 방치한 경우</li>
                                        </ul>
                                    </li>
                                    <li>(2) 고객이 제1항에서 규정한 행위를 함으로써 회사에 손해가 발생하는 경우, 고객은 회사의 손해에 대하여 배상할 책임을 집니다.</li>
                                    <li>(3) 할리스카드 서비스 이용과 관련하여 본 약관을 위반하는 행위 또는 불법행위를 한 이용자로 인하여 회사가 해당 고객 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우, 해당 고객은 자신의 책임과 비용으로 회사를 면책시켜야 하며, 회사가 면책되지 못한 경우 당해 이용자는 이로 인해 회사에 발생한 손해를 배상하여야 합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 16 조 (소멸시효)</p>
                                <p>할리스카드를 구매한 날 또는 충전일로부터 5년이 경과하면 상법 상의 상사채권소멸시효가 완성되어 고객은 회사에게 물품 등의 제공, 환불 및 잔액반환을 요청할 수 없습니다.</p>
                                <p>&nbsp;</p>
                                <p>제 17 조 (약관의 효력 및 변경 등)</p>
                                <ul class="space">
                                    <li>(1) 본 약관은 그 내용을 회사가 홈페이지에 게시하고 고객이 할리스카드를 소지하여 사용함으로써 그 효력이 발생됩니다.</li>
                                    <li>(2) 본 약관은 수시로 변경될 수 있으며, 회사가 약관을 변경하고자 할 경우에는 개정된 약관을 적용하고자 하는 날(이하 ”효력 발생일”)로부터 7일 이전에 약관이 개정된다는 사실과 개정된 내용 등을 아래에 규정된 방법 중 1가지 이상의 방법으로 회원에게 고지하여 드립니다. (다만, 법령의 개정이나 제도의 개선, 감독기관의 권고 등으로 인하여 긴급히 이 약관을 변경할 수 있고 회원에게 불리한 내용의 개정인 경우에는 최소 30일 이상의 사전 유예기간을 두고 고지합니다.)
                                        <ul class="space">
                                            <li>① SMS</li>
                                            <li>② 할리스 홈페이지(www.hollys.co.kr) 내 게시</li>
                                            <li>③ 할리스 모바일 홈페이지(m.hollys.co.kr) 내 게시</li>
                                        </ul>
                                    </li>
                                    <li>(3) 본조의 규정에 의하여 개정된 약관은 원칙적으로 그 변경되는 약관의 효력 발생일로부터 장래를 향하여 유효합니다.</li>
                                    <li>(4) 고객이 변경된 약관 사항에 동의하지 않을 경우 약관의 효력 발생 전일까지 서비스 이용을 중단함으로써 이용 계약을 해지할 수 있습니다. 단, 약관의 개정과 관련하여 효력 발생일 이내에 이의를 제기하지 않는 경우에는 개정된 약관에 동의한 것으로 간주합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 18 조 (지급보증 등)</p>
                                <p>할리스카드는 충전금액에 대하여 전자상거래(결제수단) 보증보험증권에 가입되어있습니다.</p>
                                <p>&nbsp;</p>
                                <p>제 19 조 (약관 외 준칙)</p>
                                <p>본 약관에서 정하지 아니한 사항과 본 약관의 해석에 관하여는 관계 법령 내지 일반관례에 따릅니다.</p>
                                <p>&nbsp;</p>
                                <p>제 20 조 (분쟁해결)</p>
                                <ul class="space">
                                    <li>(1) 회사는 고객의 정당한 의견이나 불만을 반영하기 위하여 고객의견수렴 제도를 운영하며, 고객은 홈페이지를 통해 자신의 의견을 회사에 제시할 수 있습니다.
                                        <ul class="space">
                                            <li>1) 홈페이지 주소 : www.hollys.co.kr</li>
                                            <li>2) 문의전화 : 02-2188-7100(수신자부담)</li>
                                        </ul>
                                    </li>
                                    <li>(2) 회사는 고객에게 손해가 발생하거나 회사와 고객간 분쟁(손해배상청구를 포함)이 발생하는 경우 이러한 분쟁의 처리를 위해 고객상담센터를 설치ㆍ운영합니다.</li>
                                    <li>(3) 회사는 고객으로부터 제출되는 불만사항 및 의견은 15일 이내에 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 고객에게 그 사유와 처리일정을 즉시 통보합니다.</li>
                                    <li>(4) 회사와 고객간에 발생한 분쟁이 원만히 해결되지 않는 경우, ‘소비자보호법’에 따른 한국소비자분쟁 조정위원회를 통해 조정신청이 가능합니다.</li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>제 21 조 (관할 법원)</p>
                                <p>할리스카드 서비스 및 본 약관과 관련한 일체의 분쟁 및 소송은 회사의 본점 소재지를 관할하는 법원 또는 민사소송법상의 관할법원을 제 1심 관할법원으로 합니다.</p>
                                <p>&nbsp;</p>
                                <p>(부칙)</p>
                                <p>본 이용약관은 2022년 5월 26일부터 시행합니다.</p>
                                <p>본 이용약관의 시행과 동시에 종전 약관은 효력을 상실합니다.</p>
                            </div>
                            <div class="4">
                                <p>2021년 07월 28일</p>
                                <p>&nbsp;</p>
                                개인정보 수집 관련 동의사항<br>
                                <p>&nbsp;</p>
                                제 1 조 (목적)<br>
                                본 약관은 주식회사 케이지할리스에프앤비(이하 "회사"라 합니다)가 발행한 할리스카드를 구입하거나 또는 적법한 방법으로 소지한 고객이 회사가 제공하는 할리스카드 서비스를 이용함에 있어 필요한 조건, 절차 및 당사자간의 권리,의무 등을 포함한 기본적인 사항을 규정하는 것을 목적으로 합니다.<br>
                                <p>&nbsp;</p>
                                제 2 조 (용어의 정의)<br>
                                이 약관에서 사용하는 용어는 다음과 같이 정의합니다.<br>
                                (1) "할리스카드"란 회사가 규정한 사양에 따라 인증한 칩(chip) 또는 어플리케이션 (application)을 내장하고 할리스 브랜드를 부착한 선불전자지급수단으로서 회사가 발급한 것을 의미합니다.<br>
                                (2) "매장" 이란 회사가 직영점 또는 가맹점의 형태로 운영하는 모든 매장을 의미합니다.<br>
                                (3) "고객" 이란 매장에서 할리스카드를 구입하거나 기타 적법한 방법으로 할리스카드를 소지한 자를 의미합니다.<br>
                                (4) "결제" 란 할리스카드를 이용하여 상품, 제품 내지 서비스 대금의 전부 또는 일부를 결제하는 행위를 의미합니다.<br>
                                (5) "충전" 이란 처음 구입하거나 기존 구입으로 소지한 할리스카드에 금액을 충전하는 행위를 의미합니다.<br>
                                (6) "환급" 이란 할리스카드에 기록된 잔액을 고객과 회사 간 약정된 방법과 절차에 따라 고객에게 돌려주는 것을 의미합니다.<br>
                                (7) "이상카드" 란 정상적으로 사용이 불가능한 할리스카드로서, 다음과 각 호의 불량카드와 파손카드를 포함합니다.<br>
                                1) 이상카드 중 "불량카드" 란 할리스카드의 외형상 이상은 없으나, 기능상의 문제로 단말기 등에서 사용이 불가능한 상태의 카드를 의미합니다.<br>
                                2) 이상카드 중 "파손카드"란 고객의 고의 또는 과실로 구멍 뚫림, 구김, 휘어짐, 찍힘, 태움, 조각남, 깨짐, 갈라짐, 카드번호 지워짐 등으로 인하여 훼손된 카드를 말합니다.<br>
                                (8) "정상카드"란 정상적으로 사용이 가능한 카드로서 "이상카드"가 아닌 할리스카드를 의미합니다.<br>
                                (9) "거래 행위”란 카드번호를 입력하는 행위, 카드를 단말기에 접촉하는 행위 등 고객이 할리스카드 서비스를 이용하기 위해 할리스카드를 이용하는 행위를 의미합니다.<br>
                                (10) "홈페이지"란 회사의 인터넷 홈페이지(www.hollys.co.kr)를 의미합니다.<br>
                                <p>&nbsp;</p>
                                제 3 조 (발행 등)<br>
                                (1) 할리스카드의 발행 관련 구체적인 내용은 다음과 같으며, 자세한 내용은 할리스 홈페이지 또는 할리스멤버십을 통해 확인할 수 있습니다.<br>
                                1) 발행자 : ㈜케이지할리스에프앤비<br>
                                2) 구매가격 : 할리스카드는 별도의 카드 구매가격이 없는 충전식 상품권입니다.<br>
                                3) 유효기간 : 5년<br>
                                4) 사용조건 (사용가능금액, 제공 물품 등)<br>
                                - 할리스카드는 충전식 상품권으로, 고객이 사용할 수 있는 금액은 충전한 금액과 같으며, 현금과 동일하게 할리스 매장에서 제품 및 상품을 구매할 수 있습니다.<br>
                                5) 사용가능 가맹점 : 전 매장 (일부매장 제외)<br>
                                6) 환불 조건 및 방법 : 고객이 충전된 금액의 잔액 환불을 요청할 경우, 회사는 최종 충전 시점의 잔액을 기준으로 60% 이상을 사용한 후 40% 이하에 해당하는 잔액의 반환을 요구하는 경우에 고객센터 또는 App/Web을 통해 환급을 신청할 수 있습니다. 보다 자세한 사항은 약관 제8조를 참조바랍니다.<br>
                                7) 지급보증 또는 피해보상보험계약 체결에 관한 사항 : 해당없음<br>
                                8) 할리스카드의 이용과 관련한 고객 피해 발생시, 회사의 고객센터 및 공정거래위원회 소비자상담센터에 연락하실 수 있으며, 전화번호는 아래와 같습니다.<br>
                                ▷ 회사 고객센터 : 02-2188-7100 (수신자 부담)<br>
                                ▷ 공정거래위원회 소비자상담센터 : (국번없이) 1372<br>
                                (2) 회사는 고객의 과실로 인하여 할리스카드가 훼손된 경우 재발급(재발송 등)에 따르는 비용에 대하여 실비 범위 내에서 고객에게 청구할 수 있습니다.<br>
                                <p>&nbsp;</p>
                                제 4 조 (이용)<br>
                                (1) 고객은 할리스카드로 국내 매장에서 상품 또는 제품을 구매하거나 서비스를 제공받을 수 있습니다. 단, 매장의 임대차 계약상 임대인이 요구한 조건, 기술적 사유(시스템 내지 단말기의 고장, 점검, 통신회선 불량, 신규 카드 또는 단말기의 안정화 작업 등) 내지 할리스카드의 발행목적 등으로 인하여 할리스카드의 이용이 제한될 수 있으며. 이 경우 회사는 매장에 배포된 안내장 또는 홈페이지 등을 이용하여 고객에게 고지합니다.<br>
                                (2) 할리스카드를 충전하거나 할리스카드를 매장에서 사용하는 경우, 회사에서 정한 "추가 적립" 또는 그 밖의 혜택을 제공받을 수 있습니다. 구체적 혜택의 내용은 회사의 정책에 따라 별도의 고지 없이 변경될 수 있습니다.<br>
                                (3) 고객은 기술적 결함이나 네트워크의 오류 및 장애 발생, 부정이용사실 확인으로 인하여 할리스카드를 일시적으로 이용하지 못할 수 있으며, 이에 대하여 회사는 고객에 손해배상책임을 지지 아니합니다.<br>
                                (4) 회사가 제공하는 방식이 아닌 불법 또는 부정한 방법으로 할리스카드를 이용하는 경우에는 이용을 제한할 수 있습니다.<br>
                                <p>&nbsp;</p>
                                제 5 조 (충전)<br>
                                (1) 할리스카드의 충전은 다음 각호의 방법으로 가능합니다.<br>
                                1) 고객이 매장(일부 매장 제외)을 직접 방문하여 현금 또는 회사가 현금과 동일하게 인정하는 금전적 가치를 제공하는 방법으로 제공된 금전적 가치를 단말기 등의 전자적 장치를 이용하여 할리스카드에 저장하는 방법<br>
                                2) 고객이 회사와 약정한 절차에 따라 사전에 일정한 금액을 회사에 지급하고, 회사는 지급 받은 금액에 해당하는 가치를 할리스카드에 관한 정보를 기준으로 회사의 시스템에 전자적 방법으로 저장한 후, 고객과 회사가 약정한 조건에 따라 별도의 절차 없이 단말기 등의 회사가 지정한 전자적 장치를 통해 회사의 시스템에 저장된 가치를 할리스카드로 이전하여 기록하는 방법<br>
                                3) 기타 회사가 사전에 고지하고 고객이 그 고지된 방법을 이용하는 방법<br>
                                (2) 할리스카드에 충전할 수 있는 최소 충전금액은 1만원입니다. 또한 하나의 할리스카드에 총 충전 가능한 금액은 50만원을 넘을 수 없습니다. 이와 같은 충전 금액 기준은 회사의 정책에 따라 변경될 수 있습니다.<br>
                                (3) 할리스카드에 충전된 금액에 대해서는 이자가 발생하지 않습니다.<br>
                                (4) 다음 각호에 해당되는 경우 회사는 고객의 충전을 제한할 수 있습니다.<br>
                                1) 고객이 지정되지 않은 방법이나 지급수단을 이용해 충전할 경우<br>
                                2) 기타 충전이 불가능한 기술적, 제도적 사유가 발생한 경우<br>
                                3) 부정한 방법이나 목적으로 충전을 요청할 경우<br>
                                4) 프로모션, 이벤트 등을 목적으로 회사가 발행한 일부 할리스카드<br>
                                <p>&nbsp;</p>
                                제 5조의 2 (자동 재충전)<br>
                                (1) 할리스카드는 아래와 같은 방법으로 자동 재충전을 설정할 수 있습니다.<br>
                                1) 기준 하한 자동 충전 : 카드의 잔액이 고객이 설정한 기준 잔액보다 하락하는 경우, 고객이 지정한 금액 및 사전에 선택한 결제 수단으로 자동 재충전 됩니다.<br>
                                <p>&nbsp;</p>
                                제 5조의 3 (온라인 충전신청 변경/취소 및 결제 확인 통지)<br>
                                (1) 회사는 고객이 온라인을 통해 할리스카드 구매 및 충전을 신청한 경우, 결제완료페이지를 통해 충전 / 구매 결제 확인을 통지합니다. 회사의 통지가 고객에게 도달한 시점에 계약이 성립된 것으로 보고, 그 통지에는 회원의 구매 및 충전 신청에 대한 확인 및 충전 / 구매 등에 관한 정보 등을 포함하도록 합니다.<br>
                                (2) 고객은 충전신청 변경/취소를 요청할 수 있고, 회사는 특별한 사정이 없는 한 그 요청에 따라 처리하여야 합니다.<br>
                                <p>&nbsp;</p>
                                제 6 조 (충전 또는 구매의 취소)<br>
                                (1) 충전 또는 구매 금액을 사용이력이 없을 경우에만 충전을 취소 할 수 있습니다. 단, 충전을 취소할 수 없는 경우로서 고객의 요청이 있는 경우에는 제8조에서 정한 바에 따라 잔액을 반환해 드립니다.<br>
                                (2) 충전 또는 구매를 취소하고자 하는 경우에는 다음 각호의 절차에 따라 처리합니다. 고객이 충전 취소를 요청함으로써 충전방법에 따라 현금 반환 또는 신용카드 취소 등의 형식으로 취소해 드립니다.<br>
                                (3) 매장에서 구매/충전한 건에 대해서는 매장에서만 취소가 가능하며, 온라인에서 구매/충전한 건에 대해서는 온라인을 통해서만 취소 가능합니다.<br>
                                1) 매장 취소 : 구매/충전 거래 영수증을 지참하여 구매일로부터 7일 내에 구매한 매장에 결제 취소를 요청하여 취소합니다.<br>
                                2) 온라인 취소 : 구매일 또는 충전일로부터 7일 내에 할리스 APP/홈페이지에서 취소합니다. [APP/홈페이지 -> HOLLYS MALL -> 구매내역 -> 결제취소] (단, 고객센터를 통한 취소를 요청할 경우 7영업일까지 가능합니다.)<br>
                                <p>&nbsp;</p>
                                제 7조 (유효기간)<br>
                                (1) 할리스카드의 유효기간은 최종 충전일 포함 5년입니다.<br>
                                (2) (2) 이벤트 또는 프로모션으로 발급된 할리스카드의 유효기간은 본 유효기간과 다를 수 있습니다.<br>
                                <p>&nbsp;</p>
                                제 8 조 (환급)<br>
                                (1) 고객이 할리스카드에 충전된 잔액의 반환을 요청하는 때에는 회사는 할리스카드의 상태에 따라 다음 각호의 절차에 따라 처리합니다.<br>
                                1) 구매 또는 최종 충전시점의 잔액을 기준으로 100분의 60이상을 사용한 후 40% 이하에 해당하는 잔액의 환급을 요구하는 경우 온라인을 통해 환급을 신청할 수 있습니다. 이 때 고객이 지정한 계좌로 4주 내에 잔액을 입금해 드립니다. (단, 1만원 이하의 충전 금액의 경우 80%이상 사용 후 환불 신청가능)<br>
                                2) 잔액이 1만원 미만일 경우 매장에서 환불을 요청할 수 있습니다. 단, 매장에서 환불 시 1)호의 내용을 적용하지 않습니다.<br>
                                (2) 환급을 요청할 수 있는 권리는 할리스카드의 최종 소지자가 가집니다. 다만, 최종 소지자가 환불을 요청할 수 없는 경우에 한하여, 구매자가 환급을 요청할 수 있습니다. 이 때, 구매자에게 환급한 경우, 회사는 환급에 대한 책임을 면하게 됩니다.<br>
                                (3) 고객이 할리스카드를 분실 혹은 도난 당한 경우 회사는 이를 책임지지 않으며, 이 경우 해당 카드 잔액은 환급되지 않습니다.<br>
                                (4) 할리스카드의 발행 목적 또는 기술적 사유(시스템 점검, 단말기 고장, 통신 회선 불량, 신규 카드 또는 단말기의 안정화 작업 등)로 일부 할리스카드는 잔액반환이 제한될 수 있으며, 이 경우 회사는 별도의 잔액반환 절차 및 방법을 매장에서 배포하는 안내장 혹은 홈페이지 등을 이용하여 고객에게 고지합니다.<br>
                                <p>&nbsp;</p>
                                제 9 조 (이상카드의 처리)<br>
                                (1) 이상카드를 매장에서 접수하시면 잔액 확인 등의 절차를 거쳐 이상카드의 잔액을 충전한 신규 할리스카드를 발급하여 드리며, 신규로 발급받은 후에는 이상카드를 사용하실 수 없습니다.<br>
                                (2) 고객이 이상카드의 잔액을 금전으로 받기 위하여는 제7조의 절차를 따라야 합니다.<br>
                                (3) 이상카드 중 카드 번호, 또는 승인번호의 식별이 불가능한 경우에는 제1항 및 제2항에 따른 신규 할리스카드발급 또는 잔액반환이 불가능 합니다.<br>
                                <p>&nbsp;</p>
                                제 10 조 (이용의 취소)<br>
                                (1) 고객이 할리스카드로 서비스를 제공받거나 제품 또는 상품(이하, 제품 등)을 구매하고 할리스카드의 잔액이 차감되어 거래내역이 기록된 후에는 그 거래가 발생한 날의 영업시간이 종료하면 이를 취소 할 수 없습니다.<br>
                                (2) 제1항에도 불구하고, 고객이 구매한 제품 등에 대하여 그 제품 등의 특성에 따라 제품 등을 사용하지 않았거나 구매 당시와 동일한 상태가 유지되는 제품 등에 한하여 구매일로부터 7일 이내에 영수증 등 구매사실을 소명할 수 있는 자료를 첨부하여 거래 취소를 요구할 수 있습니다. 단, 지급된 판촉물 등은 반드시 함께 반환하여야 거래 취소가 가능합니다.<br>
                                <p>&nbsp;</p>
                                제 11 조 (거래내역의 수집)<br>
                                (1) 회사는 고객이 할리스카드를 이용하는 경우 필요한 최소한의 거래내역 정보 (카드번호, 거래 일시, 거래 금액, 단말기 및 매장 정보 등)를 수집합니다.<br>
                                (2) 고객의 계속적인 할리스카드 사용은 할리스카드를 통해 수집된 거래내역 정보가 이용대금 정산의 목적에 사용되는 것에 대하여 동의한 것으로 간주합니다.<br>
                                <p>&nbsp;</p>
                                제 12 조 (거래내역의 제공)<br>
                                (1) 고객은 본인의 할리스카드 거래내역을 홈페이지를 통해 확인할 수 있습니다.<br>
                                (2) 고객은 고객센터로 요청하여 소정의 절차를 통해 거래내역을 전자우편 형식으로 전송받을 수 있습니다.<br>
                                (3) 매장에서는 거래내역을 확인할 수 없습니다.<br>
                                (4) 고객이 제2항에 따라 거래내역을 제공받기 위하여 회사에 제공한 수령지 정보에 오류가 있거나 그 정보가 부정확하여 발생된 고객의 해당 정보 유출 또는 고객의 손해에 대해서는 회사는 책임을 지지 아니합니다.<br>
                                <p>&nbsp;</p>
                                제 13 조 (거래내역의 정정)<br>
                                (1) 고객은 본인의 거래내역에 오류를 발견하는 경우, 소명할 수 있는 자료를 갖추어 회사가 정한 절차에 따라 그 오류를 정정해 줄 것을 요청할 수 있습니다.<br>
                                (2) 회사는 제1항에 의해 고객의 정정요청을 받은 날로부터 2주 이내에 해당 거래내역을 검토하여 고객에게 그 결과를 통보하여 드립니다.<br>
                                <p>&nbsp;</p>
                                제 14 조 (개인정보 보호)<br>
                                (1) 회사는 고객의 정보를 수집하는 경우 정상적인 서비스를 위한 최소한의 정보를 수집합니다.<br>
                                (2) 회사는 양질의 서비스를 제공하기 위해 여러 비즈니스 파트너와 제휴를 맺거나 국가 기관의 요구 등을 위해 개인정보를 위탁관리하거나 개인정보를 제공할 수 있습니다.<br>
                                (3) 고객의 별도 요청이 있는 경우를 제외하고 제2항의 경우에는 회사는 홈페이지를 통하여 해당 목적, 내용 및 업체명을 밝혀 고객의 동의를 받습니다.<br>
                                (4) 다음 각호의 경우를 제외하고는 고객이 제공한 개인정보를 고객의 동의 없이 제 3자에게 누설하거나 제공하지 않습니다.<br>
                                1) 배송을 위해 배송담당 업체 등에게 배송에 필요한 최소한의 고객 정보를 알려주는 경우<br>
                                2) 통계작성, 학술연구 또는 시장조사를 위해 특정 개인을 식별할 수 없는 형태로 제공하는 경우<br>
                                3) 관계 법령에 의하여 수사상의 목적으로 관계기관으로부터 요구 받은 경우<br>
                                4) 서비스의 이용에 따른 거래상 발생하는 요금 정산<br>
                                5) 서비스의 제공에 필요한 범위 내에서 제휴 회사와 공유해야 하는 경우<br>
                                6) 기타 관계 법령에 의한 경우<br>
                                <p>&nbsp;</p>
                                제 15 조 (책임 소재)<br>
                                (1) 회사는 고객이 할리스카드 서비스 이용 중 발생한 손해에 대하여 배상할 책임을 집니다. 단, 다음 각호의 1에 해당하는 경우 내지 본 약관에 달리 정함이 있는 경우에는 회사는 책임을 지지 아니합니다.<br>
                                1) 회사가 할리스카드 후면 또는 카드 단말기를 통해 안내하거나 규정하는 방법 이외의 방법으로 거래행위를 한 경우<br>
                                2) 할리스카드를 회사가 지정하지 아니한 방법으로 불법적으로 또는 부정하게 발행하거나 사용한 경우<br>
                                3) 할리스카드를 변형하거나 원형을 훼손하여 사용한 경우<br>
                                4) 할리스카드를 도난 당하거나 분실한 경우<br>
                                5) 제3자가 권한 없이 고객의 할리스카드를 이용할 수 있음을 알았거나 쉽게 알 수 있었음에도 불구하고 고객이 자신의 할리스카드정보(카드번호 및 승인번호 포함)를 누설 또는 노출하거나 방치한 경우<br>
                                (2) 고객이 제1항에서 규정한 행위를 함으로써 회사에 손해가 발생하는 경우, 고객은 회사의 손해에 대하여 배상할 책임을 집니다.<br>
                                (3) 할리스카드 서비스 이용과 관련하여 본 약관을 위반하는 행위 또는 불법행위를 한 이용자로 인하여 회사가 해당 고객 이외의 <br>제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우, 해당 고객은 자신의 책임과 비용으로 회사를 면책시켜야 하며, 회사가 면책되지 못한 경우 당해 이용자는 이로 인해 회사에 발생한 손해를 배상하여야 합니다.<br>
                                <p>&nbsp;</p>
                                제 16 조 (소멸시효)<br>
                                할리스카드를 구매한 날 또는 충전일로부터 5년이 경과하면 상법 상의 상사채권소멸시효가 완성되어 고객은 회사에게 물품 등의 제공, 환불 및 잔액반환을 요청할 수 없습니다.<br>
                                <p>&nbsp;</p>
                                제 17 조 (약관의 효력 및 변경 등)<br>
                                (1) 본 약관은 그 내용을 회사가 홈페이지에 게시하고 고객이 할리스카드를 소지하여 사용함으로써 그 효력이 발생됩니다.<br>
                                (2) 본 약관은 수시로 변경될 수 있으며, 회사가 약관을 변경하고자 할 경우에는 개정된 약관을 적용하고자 하는 날(이하 ”효력 발생일”)로부터 7일 이전에 약관이 개정된다는 사실과 개정된 내용 등을 아래에 규정된 방법 중 1가지 이상의 방법으로 회원에게 고지하여 드립니다. (다만, 법령의 개정이나 제도의 개선, 감독기관의 권고 등으로 인하여 긴급히 이 약관을 변경할 수 있고 회원에게 불리한 내용의 개정인 경우에는 최소 30일 이상의 사전 유예기간을 두고 고지합니다.)<br>
                                ① SMS<br>
                                ② 할리스 홈페이지(www.hollys.co.kr) 내 게시<br>
                                ③ 할리스 모바일 홈페이지(m.hollys.co.kr) 내 게시<br>
                                (3) 본조의 규정에 의하여 개정된 약관은 원칙적으로 그 변경되는 약관의 효력 발생일로부터 장래를 향하여 유효합니다.<br>
                                (4) 고객이 변경된 약관 사항에 동의하지 않을 경우 약관의 효력 발생 전일까지 서비스 이용을 중단함으로써 이용 계약을 해지할 수 있습니다. 단, 약관의 개정과 관련하여 효력 발생일 이내에 이의를 제기하지 않는 경우에는 개정된 약관에 동의한 것으로 간주합니다.<br>
                                <p>&nbsp;</p>
                                제 18 조 (지급보증 등)<br>
                                할리스카드는 충전금액에 대하여 별도의 지급보증보험증권 등에 가입되어 있지 아니합니다.<br>
                                <p>&nbsp;</p>
                                제 19 조 (약관 외 준칙)<br>
                                본 약관에서 정하지 아니한 사항과 본 약관의 해석에 관하여는 관계 법령 내지 일반관례에 따릅니다.<br>
                                <p>&nbsp;</p>
                                제 20 조 (분쟁해결)<br>
                                (1) 회사는 고객의 정당한 의견이나 불만을 반영하기 위하여 고객의견수렴 제도를 운영하며, 고객은 홈페이지를 통해 자신의 의견을 회사에 제시할 수 있습니다.<br>
                                1) 홈페이지 주소 : www.hollys.co.kr<br>
                                2) 문의전화 : 02-2188-7100(수신자부담)<br>
                                (2) 회사는 고객에게 손해가 발생하거나 회사와 고객간 분쟁(손해배상청구를 포함)이 발생하는 경우 이러한 분쟁의 처리를 위해 고객상담센터를 설치ㆍ운영합니다.<br>
                                (3) 회사는 고객으로부터 제출되는 불만사항 및 의견은 15일 이내에 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 고객에게 그 사유와 처리일정을 즉시 통보합니다.<br>
                                (4) 회사와 고객간에 발생한 분쟁이 원만히 해결되지 않는 경우, ‘소비자보호법’에 따른 한국소비자분쟁 조정위원회를 통해 조정신청이 가능합니다.<br>
                                <p>&nbsp;</p>
                                제 21 조 (관할 법원)<br>
                                할리스카드 서비스 및 본 약관과 관련한 일체의 분쟁 및 소송은 회사의 본점 소재지를 관할하는 법원 또는 민사소송법상의 관할법원을 제 1심 관할법원으로 합니다.<br>
                                <p>&nbsp;</p>
                                (부칙)<br>
                                본 이용약관은 2021년 7월 28일부터 시행합니다.<br>
                                본 이용약관의 시행과 동시에 종전 약관은 효력을 상실합니다.      <br>                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>

    <!--  footer  -->
    <footer id="footer"></footer>

</body>
</html>