button {
  padding: 0;
  border: 0;
  background: inherit;
}
a {
  color: inherit;
}

/* banner */

/* drink banner img */
.drink_banner {
  color: white;
  height: 100vh;
  background: url("../../assets/images/menu/banner/drink_banner.jpg") no-repeat;
  background-position-y: 85%;
  background-size: cover;
}
/* food banner img */
.food_banner {
  color: white;
  height: 100vh;
  background: url("../../assets/images/menu/banner/food_banner.jpg") no-repeat;
  background-size: cover;
}
/* md banner img */
.md_banner {
  color: white;
  height: 100vh;
  background: url("../../assets/images/menu/banner/md_banner.jpg") no-repeat;
  background-position-y: 30%;
  background-size: cover;
}
.menu_banner--wrap {
  margin-bottom: 100px;
}
.menu_lnb--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu_lnb {
  height: 200px;
}
.lnb_title--wrap {
  margin-bottom: 45px;
}
.lnb_title {
  color: white;
  font-size: 65px;
  text-align: center;
  margin-bottom: 5px;
}
.lnb_title--under {
  width: 500px;
  height: 3px;
  background: #c72f30;
  animation: animate 0.5s ease-in;
}
@keyframes animate {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    width: 350px;
  }
}
.lnb_list--wrap {
  display: flex;
  justify-content: center;
}
.lnb_list {
  display: flex;
}
.lnb_list--title {
  font-size: 16px;
  font-weight: 800;
  padding: 10px 50px;
  margin-right: 10px;
  background: rgba(128, 128, 128, 0.39);
  transition: 0.3s;
}
.lnb_list--title:hover {
  background: #c72f30;
}

/* main */

/* page route */
.page_route--wrap {
  width: 1200px;
  margin: 0 auto;
}
.page_route {
  font-size: 12px;
  margin-bottom: 50px;
}

/* menu content */
.menu_content--wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.menu_content h3 {
  font-size: 40px;
  margin-bottom: 30px;
}
.menu_category--title {
  font-size: 32px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}
.menu_category--wrap {
  width: 1200px;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid black;
  box-sizing: border-box;
}
.menu_category {
  padding: 10px 10px 0;
}
.menu_category--checkbox {
  margin-right: 10px;
  cursor: pointer;
}
.menu_category--checkbox:hover {
  color: #999;
}
.menu_category--checkbox span {
  font-size: 16px;
}
.menu_category--checkbox input {
  vertical-align: baseline;
}

/* menu list */
.menu_list--wrap {
  width: 1200px;
}
.menu_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
}
.menu_list li {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 16px;
}
.menu_list li:hover {
  scale: 1.1;
  transition: 0.3s;
  color: #999;
}
.menu_list a {
  width: 250px;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_list span {
  text-align: center;
  word-wrap: break-word;
}
.menu_list img {
  width: 250px;
  height: 210px;
}

.blank_item {
  width: 250px;
}

/* menu modal */
.menu_modal--wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  /* z-index: 50; */
}
.menu_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 700px; */
  /* height: 750px; */
  background: white;
  padding: 30px;
  box-sizing: border-box;
}
.menu_modal--close_btn {
  position: fixed;
  top: -50px;
  right: -50px;
  background: transparent;
}
.menu_modal--close_btn img {
  width: 50px;
  height: 50px;
}

.menu_modal--detail {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.modal_menu--title {
  font-size: 24px;
}
.modal_menu--title_en {
  border-bottom: 1px solid #6666;
  width: 100%;
  margin-bottom: 10px;
}
.modal_menu--img {
  width: 300px;
}
.modal_menu--desc {
  color: #666;
}
.menu_modal--detail span {
  margin-bottom: 10px;
}

.menu_modal--nutritional p {
  margin-bottom: 10px;
}
.menu_nutritional {
  border-collapse: collapse;
  margin: 0 auto 10px;
}
.menu_modal th,
td {
  width: 90px;
  height: 50px;
  text-align: center;
  border: 1px solid #000;
}
.menu_modal th:first-child {
  width: 50px;
}
.display_none {
  display: none;
}
.menu_modal--gift {
  text-align: center;
}
.menu_modal--gift_btn {
  font-weight: 500;
  display: inline-block;
  width: 150px;
  color: #1b1b1b;
  border: 1px solid #1b1b1b;
  padding: 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
}
.menu_modal--gift_btn:hover {
  background: #c72f30;
  color: white;
  border: 1px solid #c72f30;
}
.menu_page {
  text-align: center;
  margin-bottom: 100px;
}
.menu_page button {
  padding: 10px;
  cursor: pointer;
}
.menu_page button:hover {
  color: white;
  background: #c72f30;
}
.hollys_red {
  color: white;
  background: #c72f30;
}

/* drink.html */
.menu_new--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.menu_new--txt {
  width: 600px;
}
.menu_new--title p:first-child {
  font-size: 32px;
}
.menu_new--title p:last-child {
  font-size: 48px;
}
.menu_new--desc {
  font-size: 24px;
  color: #666;
}
.menu_new--img img {
  width: 500px;
}
