<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event 2</title>
    <!--        favicon css        -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/src/assets/images/favicon.png"
    />

    <!--        reset css        -->
    <link rel="stylesheet" href="/src/styles/reset.css" />

    <!--        font css        -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--        header css        -->
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />

    <!--        main css        -->
    <link rel="stylesheet" href="E2.css" />

    <!--        footer css        -->
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />

    <!--        header footer js        -->
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
    <script src="/src/views/footer_header/header_call.js"></script>

    <!--        main js        -->
    <script src="/src/views/hollysnews/event.js"></script>
  </head>
  <body>
    <!--  header  -->
    <header id="header"></header>

    <!--  main  -->
    <main id="main" class="main">
      <section class="banner_wrap">
        <div class="banner">
          <h2>할리스 소식</h2>
          <ul class="lnb">
            <li><a href="notice.html">공지사항</a></li>
            <li><a href="eevent.html">이벤트</a></li>
          </ul>
        </div>
      </section>

      <div class="content" id="content">
        <div class="location">
          <span><a href="#none">Home</a></span>
          <span><a href="notice.html">할리스 소식</a></span>
          <span><a href="eevent.html">이벤트</a></span>
        </div>

        <div class="board_wrap">
          <div class="board_title">이벤트</div>
          <div class="board_list_wrap">
            <div class="board_list">
              <div class="top">
                <div class="title">
                  [딜리버리] 매주 월요일은 레드데이! 딜리버리 주문 시 음료 1잔
                  무료!
                </div>
              </div>
              <div class="board_cont">
                <img
                  src="/src/assets/images/hollys_news/event_list2.jpg"
                  alt="멤버십 회원 5월 혜택"
                />
                <div class="text">
                  <p>※ 행사 제외 매장</p>
                  <p>- 상황에 따라 참여 매장 리스트는 변경될 수 있습니다.</p>
                  <ul>
                    <li>
                      [ㄱ] 가오CGV점, 강변역점, 건대입구점, 경주보불로점,
                      경주황성점, 고속터미널영동선점, 광교호수점, 광주우산점,
                      광주조선대점, 광화문LG점, 교통회관점, 국민연금공단점,
                      군산선유도점, 김천혁신도시점, 김포농협본점
                    </li>
                    <li>[ㄴ] 낙산해수욕장점, 논현역점</li>
                    <li>
                      [ㄷ] 다산리코빌파크뷰점, 대구반야월점, 대구연경점,
                      대구월성CGV점, 대구이월드점, 대구침산네거리점,
                      대림역점,대전건양대병원점, 대전만년점, 대전신성점,
                      동대구역사점, 동대구환승센터점, 동판교M타워점,
                      동해촛대바위점
                    </li>
                    <li>[ㄹ] 롯데시네마프리미엄만경관점</li>
                    <li>
                      [ㅂ] 범계로데오점, 별내카페거리점, 부산BIFF광장점,
                      부산역사점, 부산동의대점
                    </li>
                    <li>
                      [ㅅ] 산본점, 서울대사거리점, 삼성전자평택캠퍼스점,
                      서초마제스타시티점, 성남모란역점, 신정네거리역점
                    </li>
                    <li>
                      [ㅇ] 안산선부점, 안성팜랜드점, 양산신도시점, 양산원동점,
                      양주고읍점, 양평점, 연세대학교원주장례식장점, 왕십리역점,
                      울산공항1호~2호점, 원주세브란스기독병원점, 유스퀘어CGV점,
                      응암역점, 의정부로데오점, 이천마장점, 이천하이닉스점,
                      익산모현점, 익산부송점, 인천공항T1점, 인천엠파크허브점,
                      인천주안역점, 일산레이킨스몰점
                    </li>
                    <li>[ㅈ] 전주송천점, 제부도점, 진해속천점</li>
                    <li>
                      [ㅊ] 창원귀산점, 천안두정역점, 천안신부점, 천안아산역사점,
                      청주NC백화점CGV점, 청주성모병원점, 청주율량현대점
                    </li>
                    <li>[ㅌ] 테크노마트점</li>
                    <li>[ㅎ] 한티역점, 화성융건릉점, 휴게소점 전체</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="bt_wrap">
              <a href="eevent.html">목록</a>
            </div>

            <div class="list_preview">
              <div>
                <div>이전글</div>
                <div>
                  <a href="E1.html"
                    >[딜리버리] 매주 월요일은 레드데이! 딜리버리 주문 시 음료
                    1잔 무료!</a
                  >
                </div>
              </div>
              <div>
                <div>다음글</div>
                <div>
                  <a href="E3.html"
                    >VIVID SPRING. 싱그럽고 생생한 봄 음료 출시!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--  footer  -->
    <footer id="footer"></footer>
  </body>
</html>
