<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이벤트</title>
    <!--        favicon css        -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/src/assets/images/favicon.png"
    />

    <!--        reset css        -->
    <link rel="stylesheet" href="/src/styles/reset.css" />

    <!--        font css        -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--        header css        -->
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />

    <!--        main css        -->
    <link rel="stylesheet" href="/src/views/hollysnews/eevent.css" />

    <!--        footer css        -->
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />

    <!--        header footer js        -->
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
    <script src="/src/views/footer_header/header_call.js"></script>

    <!--        main js        -->
    <script src="/src/views/hollysnews/event.js"></script>
  </head>
  <body>
    <!--  header  -->
    <header id="header"></header>

    <!--  main  -->
    <main id="main" class="main">
      <section class="banner_wrap">
        <div class="banner">
          <h2>할리스 소식</h2>
          <ul class="lnb">
            <li><a href="notice.html">공지사항</a></li>
            <li><a href="eevent.html">이벤트</a></li>
          </ul>
        </div>
      </section>

      <div class="content" id="content">
        <div class="location">
          <span><a href="#none">Home</a></span>
          <span><a href="notice.html">할리스 소식</a></span>
          <span><a href="eevent.html">이벤트</a></span>
        </div>

        <div class="board_wrap">
          <div class="board_title">이벤트</div>

          <div class="board_list_wrap">
            <div class="select_wrap">
              <select name="event" id="event">
                <option value="all" selected>전체</option>
                <option value="M">멤버십이벤트</option>
                <option value="O">온라인이벤트</option>
                <option value="S">매장이벤트</option>
              </select>
            </div>

            <div class="board_list">
              <div id="page-1" class="page-cont current">
                <ul>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="E1.html"
                          ><img
                            src="/src/assets/images/hollys_news/event05.jpg"
                            alt="레드데이 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="E1.html"
                            >[딜리버리] 매주 월요일은 레드데이! 딜리버리 주문 시
                            음료 1잔 무료!</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-05-08 ~ 2023-05-22</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="E2.html"
                          ><img
                            src="/src/assets/images/hollys_news/event08.jpg"
                            alt="5월 멤버십 혜택"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="E2.html"
                            >[멤버십 혜택] 할리스 멤버십 회원만을 위한 5월의 혜택
                            안내</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-05-01 ~ 2023-05-31</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="E3.html"
                          ><img
                            src="/src/assets/images/hollys_news/event03.jpg"
                            alt="봄 음료 출시"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="E3.html"
                            >VIVID SPRING. 싱그럽고 생생한 봄 음료 출시!</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-04-07 ~ 2023-06-08</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event01.jpg"
                            alt="카네이션 케이크 픽업예약"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[출시기념 이벤트] 케이크 픽업 예약하고 더 많은 혜택
                            받아가세요!</a
                          >
                        </div>
                        <div class="sub">
                          카네이션 홀케이크 픽업 예약 시, 아메리카노(R) 2잔 증정
                        </div>
                        <div class="evt_date">2023-04-26 ~ 2023-05-04</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event02.jpg"
                            alt="카네이션 케이크 매장구매"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >Dear My Love. 카네이션 케이크 출시 Event</a
                          >
                        </div>
                        <div class="sub">
                          카네이션 케이크 매장 구매 시, 아메리카노(R) 1잔 FREE
                        </div>
                        <div class="evt_date">2023-04-21 ~ 2023-04-30</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="page-2" class="page-cont">
                <ul>
                  <li>
                    <div class="M">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event04.jpg"
                            alt="4월 멤버십 혜택"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">멤버십 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[멤버십 혜택] 할리스 멤버십 회원만을 위한 4월의 혜택
                            안내</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-04-01 ~ 2023-04-30</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event05.jpg"
                            alt="레드데이 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[딜리버리] 매주 월요일은 레드데이! 딜리버리 주문 시
                            음료 1잔 무료!</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-04-03 ~ 2023-04-24</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event06.jpg"
                            alt="할리스 핏 홈트 세트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[출시기념] 할리스 핏 홈트 세트 구매시 풍성한 혜택을
                            드립니다!</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-03-28 ~ 2023-04-10</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event07.jpg"
                            alt="딸기 신메뉴"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[출시 안내] Strawberry Milky Way, 딸기 신메뉴 등장!</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-01-27 ~ 2023-04-06</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event09.jpg"
                            alt="3월 멤버십 혜택"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[멤버십 혜택] 할리스 멤버십 회원만을 위한 3월의 혜택
                            안내</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-03-01 ~ 2023-03-31</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="page-3" class="page-cont">
                <ul>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event05.jpg"
                            alt="레드데이 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[딜리버리] 매주 월요일은 레드데이! 딜리버리 주문 시
                            음료 1잔 무료!</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-03-06 ~ 2023-03-27</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event10.jpg"
                            alt="어플 신규가입 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >Berry Very Welcome Hollys! 어플 신규 가입 시, 딸기 듬뿍
                            라떼 100원!</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-02-14 ~ 2023-02-28</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event11.jpg"
                            alt="아메리카노 증정 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >딸기숲 생크림 케이크 구매 시, 아메리카노(R) 1잔 증정</a
                          >
                        </div>
                        <div class="sub">딸기숲 생크림 케이크 출시 기념 이벤트</div>
                        <div class="evt_date">2023-04-03 ~ 2023-04-24</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="M">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event12.jpg"
                            alt="2월 멤버십 혜택"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">멤버십 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >할리스 멤버십 회원만을 위한 2월의 혜택 안내</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-02-01 ~ 2023-02-28</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event13.jpg"
                            alt="설 선물세트 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none">2023년 할리스 설 선물세트 구매 이벤트</a>
                        </div>
                        <div class="sub">
                          설 선물 세트 구매 시 아메리카노(R) 쿠폰 & 크라운 추가 적립
                          혜택
                        </div>
                        <div class="evt_date">2023-01-06 ~ 2023-02-28</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="page-4" class="page-cont">
                <ul>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event05.jpg"
                            alt="레드데이 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[딜리버리] 매주 월요일 딜리버리 시크릿 음료 1잔 무료</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-02-06 ~ 2023-02-27</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event14.jpg"
                            alt="스윗 뚱카롱 세트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >Happy Valentine's Day! 스윗 뚱카롱 세트 출시</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-02-13 ~ 2023-02-19</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event15.jpg"
                            alt="샤이닝 윈터케이크"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >What a Wonderful Time. 샤이닝 윈터케이크 출시</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-01-01 ~ 2023-02-02</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event16.jpg"
                            alt="할리스 보냉백 증정"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >할리스 그릴닭가슴살 3개 구매 시, 보냉백 증정</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-01-01 ~ 2023-01-31</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="M">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event17.jpg"
                            alt="1월 멤버십 혜택"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">멤버십 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >할리스 멤버십 회원만을 위한 1월의 혜택 안내</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-01-01 ~ 2023-01-31</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="page-5" class="page-cont">
                <ul>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event05.jpg"
                            alt="레드데이 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[할리스 레드데이] 매주 월요일 딜리버리 시크릿 음료 1잔
                            무료</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-01-02 ~ 2023-01-30</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event18.jpg"
                            alt="겨울 신제품 출시"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none">Mellow Winter, 할리스 겨울 신제품 출시</a>
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2023-01-01 ~ 2023-01-26</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event05.jpg"
                            alt="레드데이 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none">설!프라이즈 스페셜 레드데이(1/23)</a>
                        </div>
                        <div class="sub">설연휴에도 레드데이♥</div>
                        <div class="evt_date">2023-01-17 ~ 2023-01-23</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event19.jpg"
                            alt="12월 멤버십 혜택"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >할리스 멤버십 회원만이 누릴 수 있는 12월의 혜택 안내</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2022-12-01 ~ 2022-12-31</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="S">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event20.jpg"
                            alt="아메리카노 증정 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">매장 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >샤이닝 윈터 홀케이크 구매 시, 아메리카노(R) 1잔 증정</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2022-12-09 ~ 2022-12-31</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="page-6" class="page-cont">
                <ul>
                  <li>
                    <div class="O">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event21.jpg"
                            alt="어플 신규가입 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">온라인 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >할리스 어플 신규 가입하면, 겨울에 잘 어울리는 BEST 라떼
                            100원!</a
                          >
                        </div>
                        <div class="sub"></div>
                        <div class="evt_date">2022-12-15 ~ 2022-12-31</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="M">
                      <div class="evt_img">
                        <a href="#none" class="finish"
                          ><img
                            src="/src/assets/images/hollys_news/event22.jpg"
                            alt="아메리카노 증정 이벤트"
                        /></a>
                      </div>
                      <div class="evt_text">
                        <div class="category">멤버십 이벤트</div>
                        <div class="main">
                          <a href="#none"
                            >[출시기념 이벤트] 케이크 사전 예약하고 더 낳은 혜택
                            받아가세요!</a
                          >
                        </div>
                        <div class="sub">
                          시즌 홀케이크 사전 예약 시 아메리카노 증정
                        </div>
                        <div class="evt_date">2022-12-02 ~ 2022-12-16</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="board_page">
              <a href="#none" class="page-link on" data-tab="page-1">1</a>
              <a href="#none" class="page-link" data-tab="page-2">2</a>
              <a href="#none" class="page-link" data-tab="page-3">3</a>
              <a href="#none" class="page-link" data-tab="page-4">4</a>
              <a href="#none" class="page-link" data-tab="page-5">5</a>
              <a href="#none" class="page-link" data-tab="page-6">6</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--  footer  -->
    <footer id="footer"></footer>
  </body>
</html>
