<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notice 93</title>
    <!--        favicon css        -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/src/assets/images/favicon.png"
    />

    <!--        reset css        -->
    <link rel="stylesheet" href="/src/styles/reset.css" />

    <!--        font css        -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--        header css        -->
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />

    <!--        main css        -->
    <link rel="stylesheet" href="N93.css" />

    <!--        footer css        -->
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />

    <!--        header footer js        -->
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
    <script src="/src/views/footer_header/header_call.js"></script>

    <!--        main js        -->
    <script src="/src/views/hollysnews/notice.js"></script>
  </head>
  <body>
    <!--  header  -->
    <header id="header"></header>

    <!--  main  -->
    <main id="main" class="main">
      <section class="banner_wrap">
        <div class="banner">
          <h2>할리스 소식</h2>
          <ul class="lnb">
            <li><a href="notice.html">공지사항</a></li>
            <li><a href="eevent.html">이벤트</a></li>
          </ul>
        </div>
      </section>

      <div class="content" id="content">
        <div class="location">
          <span><a href="#none">Home</a></span>
          <span><a href="notice.html">할리스 소식</a></span>
          <span><a href="notice.html">공지사항</a></span>
        </div>

        <div class="board_wrap">
          <div class="board_title">공지사항</div>
          <div class="board_list_wrap">
            <div class="board_list">
              <div class="top">
                <div class="title">
                  [제휴 안내] 5월 KT <달.달. 혜택> 프로모션 이용 안내
                </div>
                <div class="date">2023-05-09 19:04:48</div>
              </div>
              <div class="board_cont">
                <p>
                  할리스를 사랑해주시는 고객 여러분께 감사드립니다.<br />
                  KT <달.달 혜택> 사용 제외 매장 및 유의 사항 안내 드리오니
                  이용에 참고하여 주시기 바랍니다.
                </p>

                <p>※ 사용 제외 매장</p>
                <ul>
                  <li>
                    [ㄱ] 강남대로논현점, 강남우리라운지점, 강릉항마리나점,
                    강변역점, 광교호수점, 광주수완2호점, 광주조선대점, 교대역점,
                    교통회관점, 구로거리공원점, 구로디지털점, 국민연금공단점,
                    군산선유도점, 김포농협본점
                  </li>
                  <br />
                  <li>[ㄴ] 낙산해수욕장점, 난곡사거리점</li>
                  <br />
                  <li>
                    [ㄷ] 대구동천점, 대구반야월점, 대구본리점, 대구연경점,
                    대구월성CGV점, 대구이월드점, 대림역점, 대전가정점,
                    대전건양대병원점, 대전만년점, 대전신성점, 대전호텔ICC점,
                    동대구역사점, 동대구환승센터점, 동탄호수공원점,
                    동해촛대바위점
                  </li>
                  <br />
                  <li>[ㄹ] 롯데시네마프리미엄만경관점</li>
                  <br />
                  <li>[ㅁ] 마두역점</li>
                  <br />
                  <li>
                    [ㅂ] 방배점, 별내카페거리점, 부산BIFF광장점, 부산동의대점,
                    부산역사점, 분당서현점
                  </li>
                  <br />
                  <li>
                    [ㅅ] 상암DDMC점, 서울대사거리점, 선릉샹제리제점, 수서점,
                    수원오목천점, 신정네거리역점
                  </li>
                  <br />
                  <li>
                    [ㅇ] 아산우체국점, 안성팜랜드점, 안양역점, 양산신도시점,
                    양산원동점, 양평점, 연세대학교원주장례식장점, 오류동역점,
                    오산시청점, 오송역사점, 울산공항1호점, 울산공항2호점,
                    울산교보핫트랙스점, 울산명촌점, 울산삼산대로점, 울산시청점,
                    울산시청점, 의왕현대연구소점, 이대점, 이천하이닉스점,
                    인천검단사거리점, 인천공항T1점, 인천엠파크허브점.
                    일산레이킨스몰점
                  </li>
                  <br />
                  <li>[ㅈ] 전주백제대로점, 전주아중점, 제부도점, 진해속천점</li>
                  <br />
                  <li>
                    [ㅊ] 천안아산역사점, 청주동남점, 청주성모병원점, 충남대점
                  </li>
                  <br />
                  <li>[ㅋ] 코엑스점</li>
                  <br />
                  <li>[ㅍ] 파주야당역점, 판교역점, 평택서재점</li>
                  <br />
                  <li>[ㅎ] 화성병정점, 휴게소점 전체</li>
                  <br />
                </ul>

                <p>※ 유의사항</p>
                <ul>
                  <li>
                    - 해당 서비스는 KT 서비스 중 <달.달. 혜택> 프로모션 이며
                    대상 고객은 KT서비스 중 “캐치콜”서비스 기존/신규 이용
                    고객(필수팩 L1, V컬러링X캐치콜등) 에 한해 제공됩니다.
                  </li>
                  <li>
                    - 쿠폰 발급은 KT 멤버십 앱에서 가능합니다. (캡쳐이미지 사용
                    불가)
                  </li>
                  <li>
                    - 본 쿠폰은 매장 방문시에만 가능하며, 할리스 APP (스마트오더
                    및 딜리버리) 이용 시에는 불가합니다.
                  </li>
                  <li>- 23년 5월 31일까지 사용, 유효기간 연장 불가</li>
                  <li>- 대상 메뉴는 아메리카노(HOT/ICED 선택 가능) 입니다</li>
                  <li>
                    - 차액 지불 시 메뉴 변경 가능(Coffee군, 레귤러 R 사이즈)
                  </li>
                  <li>
                    - 비용 추가 시 엑스트라 추가 가능 (시럽, 샷, 소스 추가 등)
                  </li>
                  <li>
                    - 쿠폰 사용시 크라운 적립 불가하며 멤버십 혜택, 개인컵 할인
                    등 다른 할인 혜택과 중복 적용 불가합니다.
                  </li>
                  <li>- 본 쿠폰은 현금 영수증을 발행하실 수 없습니다.</li>
                  <li>
                    - 기타 문의 사항은 KT 통신사 고객센터로 문의하여 주시기
                    바랍니다.
                  </li>
                </ul>
              </div>
            </div>

            <div class="bt_wrap">
              <a href="notice.html">목록</a>
            </div>

            <div class="list_preview">
              <div>
                <div>이전글</div>
                <div>
                  <a href="Nnotice.html"
                    >[공고] 제3자 배정 유상증자 신주발행 공고</a
                  >
                </div>
              </div>
              <div>
                <div>다음글</div>
                <div><a href="N92.html">개인정보 처리 방침 개정 안내</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--  header  -->
    <footer id="footer"></footer>
  </body>
</html>
