<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notice 1</title>
    <!--        favicon css        -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/src/assets/images/favicon.png"
    />

    <!--        reset css        -->
    <link rel="stylesheet" href="/src/styles/reset.css" />

    <!--        font css        -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--        header css        -->
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />

    <!--        main css        -->
    <link rel="stylesheet" href="Nnotice.css" />

    <!--        footer css        -->
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />

    <!--        header footer js        -->
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
    <script src="/src/views/footer_header/header_call.js"></script>

    <!--        main js        -->
    <script src="/src/views/hollysnews/notice.js"></script>
  </head>
  <body>
    <!--  header  -->
    <header id="header"></header>

    <!--  main  -->
    <main id="main" class="main">
      <section class="banner_wrap">
        <div class="banner">
          <h2>할리스 소식</h2>
          <ul class="lnb">
            <li><a href="notice.html">공지사항</a></li>
            <li><a href="eevent.html">이벤트</a></li>
          </ul>
        </div>
      </section>

      <div class="content" id="content">
        <div class="location">
          <span><a href="#none">Home</a></span>
          <span><a href="notice.html">할리스 소식</a></span>
          <span><a href="notice.html">공지사항</a></span>
        </div>

        <div class="board_wrap">
          <div class="board_title">NOTICE</div>
          <div class="board_list_wrap">
            <div class="board_list">
              <div class="top">
                <div class="title">
                  [공고] 제3자 배정 유상증자 신주발행 공고
                </div>
                <div class="date">2022-05-03 14:54:17</div>
              </div>
              <div class="board_cont">
                <img
                  src="/src/assets/images/hollys_news/nnotice"
                  alt="개인정보 처리 방침 개정 안내"
                />
              </div>
            </div>

            <div class="bt_wrap">
              <a href="notice.html">목록</a>
            </div>

            <div class="list_preview">
              <div>
                <div>이전글</div>
                <div>이전글이 없습니다.</div>
              </div>
              <div>
                <div>다음글</div>
                <div>
                  <a href="N93.html"
                    >[제휴 안내] 5월 KT <달.달. 혜택> 프로모션 이용 안내</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--  header  -->
    <footer id="footer"></footer>
  </body>
</html>
