/**     main     **/

/**     banner     **/
main .banner_wrap {
  height: 100vh;
  background: url(/src/assets/images/hollys_news/notice_banner.png);
  background-size: cover;
  position: relative;
}
main .banner_wrap .banner {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .banner_wrap h2 {
  width: 450px;
  color: #fff;
  font-size: 65px;
  text-align: center;
  padding: 15px 0;
  border-bottom: 3px solid rgb(199, 47, 47);
}
main .banner_wrap .lnb {
  margin-top: 15px;
  height: 60px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .banner_wrap .lnb li {
  padding: 12px 45px;
  align-items: center;
  background: rgba(150, 150, 150, 0.39);
}
main .banner_wrap .lnb li:hover {
  background: #c72f30;
  transition: 0.5s;
}
main .banner_wrap .lnb li:nth-child(1) {
  margin-right: 20px;
}
main .banner_wrap .lnb li.active {
  background: #c72f30;
}
main .banner_wrap .lnb li a {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

/**     contents     **/
main .content {
  width: 1200px;
  margin: auto;
}

/**     location     **/
main .content .location {
  padding: 100px 0 0;
}
main .content .location span::after {
  content: " >";
}
main .content .location span:last-child::after {
  content: " ";
}

/**     게시판     **/
.board_wrap .board_title {
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0;
}

/**     검색     **/
.board_wrap .search_wrap {
  height: 60px;
  padding: 5px 20px;
  position: relative;
}
.board_wrap .search_wrap div {
  right: 0;
  position: absolute;
  align-items: center;
  display: flex;
}
.board_wrap .search_wrap div input {
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 0 0 0 5px;
}
.board_wrap .search_wrap div button {
  margin-left: 5px;
  height: 40px;
  display: inline-block;
  padding: 8px 15px;
  background: #9b9a9a;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border: none;
}
.board_wrap .search_wrap div button:hover,
.board_wrap .search_wrap div button:focus {
  background: #6c6c6c;
}

/**     리스트     **/
.board_wrap .board_list_wrap .board_list {
  margin: 20px 0 40px 0;
  padding: 5px 0 10px 0;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.board_wrap .board_list_wrap .board_list > div {
  font-size: 0;
}

.board_wrap .board_list_wrap .board_list .top {
  font-size: 0;

  border-bottom: 1px solid #9b9a9a;
  display: flex;
}
.board_wrap .board_list_wrap .board_list .top > div {
  font-weight: bold;
}
.board_wrap .board_list_wrap .board_list .Notice {
  font-size: 0;

  display: flex;
}
.board_wrap .board_list_wrap .board_list .page-cont ul li> div {
  font-size: 0;

  display: flex;
}
.board_wrap .board_list_wrap .board_list .page-cont {
  display: none;
}
.board_wrap .board_list_wrap .board_list .page-cont.current {
  display: inherit;
}
.board_wrap .board_list_wrap .board_list > div > div,
.board_wrap .board_list_wrap .board_list > div ul li div  {
  text-align: center;
  font-size: 1rem;
  padding: 10px 0;
  line-height: 1.5;
}
.board_wrap .board_list_wrap .board_list .num {
  width: 10%;
}
.board_wrap .board_list_wrap .board_list .title {
  text-align: left;
  width: 80%;
}
.board_wrap .board_list_wrap .board_list .title a:hover {
  text-decoration: underline;
}
.board_wrap .board_list_wrap .board_list .top .title {
  text-align: center;
}
.board_wrap .board_list_wrap .board_list .date {
  width: 10%;
}

/**  페이징  **/
.board_wrap .board_list_wrap .board_page {
  margin: 40px 0;
  width: 300px;
  height: 30px;
  display: flex;
  margin: auto;
  font-size: 0;
  align-items: center;
  padding-bottom: 100px;
}
.board_wrap .board_list_wrap .board_page a {
  display: inline-block;
  width: 10%;
  height: 27px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #000;
  box-sizing: border-box;
}
.board_wrap .board_list_wrap .board_page a.on {
  background: #000;
  color: #fff;
}

/**  검색  **/
/* .board_wrap .board_list_wrap .board_search{
    width: 360px;
    margin: auto;
}
.board_wrap .board_list_wrap .board_search form{
    margin: 30px 0 50px 0;
}
.board_wrap .board_list_wrap .board_search form fieldset{
    border: none;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.board_wrap .board_list_wrap .board_search form fieldset select{
    width: 100px;
    height: 20px;
    vertical-align: top;
    margin: 0 10px 0 -20px;
}
.board_wrap .board_list_wrap .board_search form fieldset input{
    width: 200px;
    height: 20px;
    font-size: 14px;
    vertical-align: top;
    border: 1px solid #aeaeae;
}
.board_wrap .board_list_wrap .board_search form fieldset a{
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid #aeaeae;
}
.board_wrap .board_list_wrap .board_search form fieldset a img{
    width: 14px;
    text-align: center;
    padding-bottom: 1px;
} */

/**  글쓰기  
.board_wrap .board_list_wrap .bt_wrap{
    position: relative;
    left: 90%;
    display: inline-block;
    border: 1px solid #000;
}
.board_wrap .board_list_wrap .bt_wrap a{
    padding: 20px 10px;
}**/

.hide {
  width: 0;
  height: 0;
  text-indent: -9999px;
}
