<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>consultRequest</title>
    <script src="../../jquery/jquery-3.6.4.min.js"></script>
    <script src="../../jquery/jquery.js"></script>
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="consultRequest.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png">

    <link rel="stylesheet" href="../footer_header/footer.css">
    <script src="../footer_header/header_call.js"></script>
    <link rel="stylesheet" href="../footer_header/header.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script>
            document.title='상담신청'
        </script>
</head>

<body>
    <header class="header" id="header"></header>
    <main>
        <article class="article container" id="article">
            <section class="sec01">
                <div class="banner">
                    <div class="banner_txt">
                        <span class="h2_deco"></span>
                        <h2>상담신청</h2>
                        <div class="lnb" id="lnb">
                            <ul>
                                <li><a href="franchiseIntro.html">창업설명회 안내</a> </li>
                                <li><a href="franchiseFriends.html">할리스 가맹점</a> </li>
                                <li><a href="howFriends.html">가맹문의 및 절차</a> </li>
                                <li><a href="consultRequest.html">상담신청</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="sec02">
                <div class="franchise_info">
                    <div class="page_info">
                        <div class="path">
                            홈 > 프랜차이즈 > 상담신청
                        </div>
                        <div class="page_name">
                            <h3>상담신청</h3>
                        </div>
                    </div>
                    <div class="content">
                        <div class="tableInfo03 mar_t_60">
                            <p class="fl_r">* 가맹점 문의 / 점포개설에 대한 상담은 전화, 이메일 모두 가능합니다.</p><br>
                            <p class="fl_r">* 이메일 문의 시 개설 희망지역과 연락처를 함께 남겨주시면 더욱 빠른 응대가 가능합니다.</p><br>
                            <p class="fl_r">할리스 가맹문의 : 02-6350-7229 (develop@hollyscoffee.com)</p>
                        </div>

                        <div class="tableType01 counsel mar_t_20">
                            <table summary="">
                                <caption></caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="15%">
                                    <col width="30%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col" class="noline">구분</th>
                                        <th scope="col">지역</th>
                                        <th scope="col">담당자명</th>
                                        <th scope="col">이메일주소</th>
                                        <th scope="col">연락처</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="8" scope="row">서울</th>
                                        <td>전국, 특수매장, 법인 영업</td>
                                        <td>탁성우 이사</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>강서, 양천, 영등포</td>
                                        <td>김근동 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>성동, 동대문, 중랑, 광진</td>
                                        <td>조재근 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>강남, 서초, 서대문, 마포, 은평</td>
                                        <td>김연진 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>종로, 중구, 용산, 성북</td>
                                        <td>김현철 대리</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>강북, 도봉, 노원</td>
                                        <td>권오성 대리</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>구로, 금천, 동작, 관악</td>
                                        <td>강기훈 주임</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>강동, 송파</td>
                                        <td>백두이 주임</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tableType01 counsel mar_t_20">
                            <table summary="">
                                <caption></caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="15%">
                                    <col width="30%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col" class="noline">구분</th>
                                        <th scope="col">지역</th>
                                        <th scope="col">담당자명</th>
                                        <th scope="col">이메일주소</th>
                                        <th scope="col">연락처</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="6" scope="row">경기</th>
                                        <td>인천, 강화</td>
                                        <td>김현철 대리</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>용인, 수원, 화성, 오산, 평택</td>
                                        <td>김근동 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>하남, 성남, 광주, 양평, 여주, 이천, 안성</td>
                                        <td>조재근 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>파주, 고양, 김포</td>
                                        <td>김연진 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>의정부, 양주, 동두천, 연천, 포천, 양평, 가평, 남양주, 구리</td>
                                        <td>권오성 대리</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>부천, 광명, 시흥, 안산, 안양, 과천, 의왕, 군포</td>
                                        <td>강기훈 주임</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tableType01 counsel mar_t_20">
                            <table summary="">
                                <caption></caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="15%">
                                    <col width="30%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col" class="noline">구분</th>
                                        <th scope="col">지역</th>
                                        <th scope="col">담당자명</th>
                                        <th scope="col">이메일주소</th>
                                        <th scope="col">연락처</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="4" scope="row">경남</th>
                                        <td>울산시</td>
                                        <td>박상욱 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>부산시(기장군, 금정구, 남구, 동래구, 수영구, 연제구, 해운대구)</td>
                                        <td>박상욱 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>부산시(강서구, 사상구, 사하구, 북구, 서구, 중구, 동구, 영도구, 부산진구)</td>
                                        <td>박철형 차장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>
                                    <tr>
                                        <td>경상남도</td>
                                        <td>박철형 차장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>

                                    <tr>
                                        <th rowspan="1" scope="row">경북</th>
                                        <td>대구시 / 경상북도</td>
                                        <td>최상환 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tableType01 counsel mar_t_20">
                            <table summary="">
                                <caption></caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="15%">
                                    <col width="30%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col" class="noline">구분</th>
                                        <th scope="col">지역</th>
                                        <th scope="col">담당자명</th>
                                        <th scope="col">이메일주소</th>
                                        <th scope="col">연락처</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="1" scope="row">충남</th>
                                        <td>대전시, 세종시 , 충청남도</td>
                                        <td>강기훈 주임</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>

                                    <tr>
                                        <th rowspan="1" scope="row">충북</th>
                                        <td>충청북도</td>
                                        <td>강기훈 주임</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tableType01 counsel mar_t_20">
                            <table summary="">
                                <caption></caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="15%">
                                    <col width="30%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col" class="noline">구분</th>
                                        <th scope="col">지역</th>
                                        <th scope="col">담당자명</th>
                                        <th scope="col">이메일주소</th>
                                        <th scope="col">연락처</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="1" scope="row">전라도</th>
                                        <td>광주시, 전라도</td>
                                        <td>최상환 과장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tableType01 counsel mar_t_20">
                            <table summary="">
                                <caption></caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="15%">
                                    <col width="30%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col" class="noline">구분</th>
                                        <th scope="col">지역</th>
                                        <th scope="col">담당자명</th>
                                        <th scope="col">이메일주소</th>
                                        <th scope="col">연락처</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="1" scope="row">강원도</th>
                                        <td>강원도</td>
                                        <td>백두이 주임</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tableType01 counsel mar_t_20">
                            <table summary="">
                                <caption></caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="15%">
                                    <col width="30%">
                                    <col width="15%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col" class="noline">구분</th>
                                        <th scope="col">지역</th>
                                        <th scope="col">담당자명</th>
                                        <th scope="col">이메일주소</th>
                                        <th scope="col">연락처</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="1" scope="row">제주도</th>
                                        <td>제주도</td>
                                        <td>진승호 차장</td>
                                        <td><a href="mailto:develop@hollyscoffee.com">develop@hollyscoffee.com</a></td>
                                        <td>02-6350-7229</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <footer class="footer" id="footer"></footer>
</body>

</html>