<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>franchiseFriends</title>
    <script src="../../jquery/jquery-3.6.4.min.js"></script>
    <script src="../../jquery/jquery.js"></script>
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="franchiseFriends.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png">

    <link rel="stylesheet" href="../footer_header/footer.css">
    <script src="../footer_header/header_call.js"></script>
    <link rel="stylesheet" href="../footer_header/header.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script>
            document.title='할리스 가맹점'
        </script>
</head>
<body>
    <header class="header" id="header"></header>
    <main>
        <article class="article container" id="article">
            <section class="sec01">
                <div class="banner">
                    <div class="banner_txt">
                        <span class="h2_deco"></span>
                        <h2>할리스 가맹점</h2>
                        <div class="lnb" id="lnb">
                            <ul>
                                <li><a href="franchiseIntro.html">창업설명회 안내</a> </li>
                                <li><a href="franchiseFriends.html">할리스 가맹점</a> </li>
                                <li><a href="howFriends.html">가맹문의 및 절차</a> </li>
                                <li><a href="consultRequest.html">상담신청</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="sec02">
                <div class="franchise_info">
                    <div class="page_info">
                        <div class="path">
                            홈 > 프랜차이즈 > 할리스 가맹점
                        </div>
                        <div class="page_name">
                            <h3>할리스 가맹점</h3>
                        </div>
                    </div>
                    <ul class="franchise_wrap">
                        <li>
                            <p><img src="https://www.hollys.co.kr/websrc/images/franchise/img_franchise_benefit01.gif" alt=""></p>
                            <strong><span>01</span>우리나라 최초<br>커피 전문점</strong>
                            1998년 6월 한국 최초로<br>에스프레소 전문점을 오픈한<br>커피 전문 브랜드
                        </li>
                        <li>
                            <p><img src="https://www.hollys.co.kr/websrc/images/franchise/img_franchise_benefit02.gif" alt=""></p>
                            <strong><span>02</span>체계적인 운영시스템으로<br>가맹점 관리</strong>
                            20년간의 커피전문점<br>브랜드 운영 노하우로<br>철저한 관리
                        </li>
                        <li>
                            <p><img src="https://www.hollys.co.kr/websrc/images/franchise/img_franchise_benefit03.gif" alt=""></p>
                            <strong><span>03</span>창업자금<br>지원 대출</strong>
                            할리스<br>예비 창업자 대상 창업자금<br>최대 1억원 대출 지원
                        </li>
                        <li>
                            <p><img src="https://www.hollys.co.kr/websrc/images/franchise/img_franchise_benefit04.gif" alt=""></p>
                            <strong><span>04</span>국내 로스팅 / 신선한 원두</strong>
                            자체 로스팅 센터 운영으로<br>생산지에서 직수입한 생두를<br>각각의 특성에 맞게 로스팅하여<br>스페셜티 커피 및<br>COE(Cup Of Excellence) 의<br>고품질 커피까지<br>최적의 커피맛을 구현
                        </li>
                        <li>
                            <p><img src="https://www.hollys.co.kr/websrc/images/franchise/img_franchise_benefit05.gif" alt=""></p>
                            <strong><span>05</span>Marketing Activities</strong>
                            할리스 멤버십, 신규 고객 등<br>다양한 고객을 대상으로<br>활발한 마케팅 활동 진행<br> SNS 및 블로그 채널을 통해<br>실시간으로 고객과 소통
                        </li>
                      </ul>

                </div>
            </div>
        </article>
    </main>
    <footer class="footer" id="footer"></footer>
   

</body>

</html>