<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>howFriends</title>
    <script src="../../jquery/jquery-3.6.4.min.js"></script>
    <script src="../../jquery/jquery.js"></script>
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="howFriends.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png">

    <link rel="stylesheet" href="../footer_header/footer.css">
    <script src="../footer_header/header_call.js"></script>
    <link rel="stylesheet" href="../footer_header/header.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script>
            document.title='가맹문의 및 절차'
        </script>
</head>

<body>
    <header class="header" id="header"></header>
    <main>
        <article class="article container" id="article">
            <section class="sec01">
                <div class="banner">
                    <div class="banner_txt">
                        <span class="h2_deco"></span>
                        <h2>가맹문의 및 절차</h2>
                        <div class="lnb" id="lnb">
                            <ul>
                                <li><a href="franchiseIntro.html">창업설명회 안내</a> </li>
                                <li><a href="franchiseFriends.html">할리스 가맹점</a> </li>
                                <li><a href="howFriends.html">가맹문의 및 절차</a> </li>
                                <li><a href="consultRequest.html">상담신청</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="sec02">
                <div class="franchise_info">
                    <div class="page_info">
                        <div class="path">
                            홈 > 프랜차이즈 > 가맹문의 및 절차
                        </div>
                        <div class="page_name">
                            <h3>가맹문의 및 절차</h3>
                        </div>
                    </div>
                    <div class="content">
                        <div class="step_wrap">
                            <img class="step_img"
                                src="https://www.hollys.co.kr/websrc/images/franchise/img_franchise_step.png"
                                alt="가맹문의">
                        </div>
                        <p class="tit_sub">가맹점 창업 조건</p>
                        <div class="tb_01">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">구분</th>
                                        <th scope="col">내용</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">창업 가능 지역</td>
                                        <td>서울/수도권</td>
                                    </tr>
                                    <tr>
                                        <td style="border-left:1px solid #d9d9d9">전국 광역시 및 중,소 도시</td>
                                    </tr>
                                    <tr>
                                        <td>창업 가능 상권</td>
                                        <td>대로변 1~2층, 상업지 오피스 역세권 대학가 대형 집객시설물 등</td>
                                    </tr>
                                    <tr>
                                        <td>창업 기준 면적</td>
                                        <td>1층 165㎡ (50평이상) / 전면 8M 이상</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">기본 시설 사항</td>
                                        <td>전기 : 45KW 이상 / 급 배수</td>
                                    </tr>
                                    <tr>
                                        <td style="border-left:1px solid #d9d9d9">용도 : 근린생활 시설/일반음식점/휴게음식점업 신고 가능</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="tit_sub">가맹점 예상 투자 비용</p>
                        <p class="tit_table">예상투자비용(단위: 천원, 165㎡(약 50평) 기준, VAT 별도)</p>
                        <div class="tb_01">
                            <table>
                                <caption>가맹점 예상 투자 비용</caption>
                                
                                <thead>
                                    <tr>
                                        <th scope="col">구분</th>
                                        <th scope="col">투자비(천원)</th>
                                        <th scope="col">내용</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>가맹비</td>
                                        <td>10,000</td>
                                        <td>소멸성(할리스타 교육 및 경영기법 전수)</td>
                                    </tr>
                                    <tr>
                                        <td>보증금</td>
                                        <td>10,000</td>
                                        <td>계약 종료시 반환(물품대금지급 보증금, VAT없음)</td>
                                    </tr>
                                    <tr>
                                        <td>인테리어</td>
                                        <td>100,000</td>
                                        <td>165㎡(약 50평) 기준</td>
                                    </tr>
                                    <tr>
                                        <td>간판/사인물</td>
                                        <td>15,000</td>
                                        <td>간판 및 사인물 일체</td>
                                    </tr>
                                    <tr>
                                        <td>이동집기/가구</td>
                                        <td>55,000</td>
                                        <td>의탁자 기타 집기가구</td>
                                    </tr>
                                    <tr>
                                        <td>기기장비</td>
                                        <td>65,000</td>
                                        <td>자동머신, 쇼케이스, 냉장, 냉동고, 디지털사이니지, KDS 등 </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="row">합계</th>
                                        <th scope="row">245,000</th>
                                        <td>계약이행 보증금 제외</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <ul class="guide_txt">
                            <li>*별도공사: 철거, 외부공사, 전기증설, 소방완비, 화장실, 설비, 냉·난방기, 테라스, 계단실, 철거 등</li>
                            <li>*직접 시공시 설계감리비 13,000천원(VAT 별도)</li>
                            <li>*초도물품비 제외</li>
                            <li>*상기 투자비는 매장 형태 및 상황에 따라 변동 가능합니다.</li>
                        </ul>
                        <p class="tit_sub">가맹점 적용 금융상품</p>
                        <div class="tb_01">
                            <table>
                                <caption>가맹점 예상 투자 비용</caption>
                                
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">구분</th>
                                        <th scope="col">내용</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="5">하나은행</td>
                                        <td>대출대상</td>
                                        <td>할리스 예비창업자</td>
                                    </tr>
                                    <tr>
                                        <td style="border-left:1px solid #d9d9d9">대출한도 및 금액</td>
                                        <td>창업자금 최대 1억원</td>
                                    </tr>
                                    <tr>
                                        <td style="border-left:1px solid #d9d9d9">대출금리</td>
                                        <td>지역 담당자에 문의 <a
                                                href="../franchise/consultRequest.html"
                                                class="point_link" target="_blank">[상담신청바로가기]</a></td>
                                    </tr>
                                    <tr>
                                        <td style="border-left:1px solid #d9d9d9">대출기간</td>
                                        <td>지역 담당자에 문의 <a
                                            href="../franchise/consultRequest.html"
                                                class="point_link" target="_blank">[상담신청바로가기]</a></td>
                                    </tr>
                                    <tr>
                                        <td style="border-left:1px solid #d9d9d9">대출문의</td>
                                        <td>하나은행 남서울지점 02-540-1111</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </main>
    <footer class="footer" id="footer"></footer>

</body>

</html>