header{
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1200px;
    margin: auto;
    height: 70px;
    background: #c72f2f48;
    z-index: 999;
    }
main{
    width: 100%;
    min-width: 1200px;
    margin: auto;
}
/* banner */
.banner{
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 100vh;
    background: url(../../assets/images/franchise/howFriend.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.banner_txt{
    position: relative;
    width: 1200px;
    height: 200px;

    margin: auto;
    
    display: flex;
    justify-content: center;
}
h2{
    position: relative;
    font-size: 5em;
    color: #fff;
}
.h2_deco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    content: '';

    width: 500px;
    height: 3px;
    background: rgb(199, 47, 47);
    animation: animate 0.5s ease-in;
}

.container .banner .lnb{
    position: absolute;
    left: 0;

    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container .banner .lnb ul{
    position: relative;
    top: 70%;
    width: 40%;
    height: 20%;

    display: flex;
    justify-content: center;
    gap: 10px;
}
.container .banner .lnb ul li{
    width: 30%;
    text-align: center;
    background: rgba(128, 128, 128, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.container .banner .lnb ul li:hover{
    background: rgb(199, 47, 47);
}
.container .banner  .lnb ul li a{
    color: #fff;

    font-size: 16px;
    font-weight: 800;
}
@keyframes animate {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        width: 340px;
    }
}

/* sec02 */
.sec02{
    width: 1200px;
    margin: auto;
}

.franchise_info{
    width: 100%;
}
.franchise_info .page_info {
    width: 100%;
    padding-top: 70px;
    position: relative;
}
.container .sec02 .franchise_info .page_info .path{
    position: absolute;
    margin-left: 10px;
}
.sec02 .franchise_info .page_name{
    font-size: 3em;
    margin-top: 10px;
    border-bottom: 1px solid lightgray;
}
/* sec02 - content */
.content{
    margin: 0 140px 200px 140px;
}
.content .step_wrap .step_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 28px;
}
.tit_sub {
    font-size: 16pt;
    color: #303030;
    font-weight: bold;
}
.tit_sub + .tb_01 {
    margin-top: 22px;
}
.tb_01 table {
    width: 100%;
    border-top: 1px solid #303030;
}
caption{
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.tb_01 table thead th:first-child {
    border-left: 0;
}
.tb_01 table thead th {
    padding: 10px 0 10px 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    border-right: 0;
    font-size: 9pt;
    color: #303030;
    font-weight: bold;
    background: #f1f1f1;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.tb_01 table td:first-child {
    border-left: 0;
}

.tb_01 table td {
    text-align: center;
    padding: 10px 0 10px 0;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    font-size: 9pt;
    color: #6f6f6f;
}
table {
    border-collapse: collapse;
}
.tb_01 + .tit_sub {
    margin-top: 63px;
}
.tit_table {
    margin-bottom: 6px;
    text-align: right;
    font-size: 9pt;
    color: #b91c22;
}
.guide_txt {
    margin: 6px 0 0 0;
}
.guide_txt li {
    font-size: 9pt;
    color: #6f6f6f;
}
.guide_txt + .tit_sub {
    margin-top: 60px;
}
.tit_sub + .tb_01 {
    margin-top: 22px;
}
tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}
.tb_01 table tfoot th:first-child {
    border-left: 0;
}
.tb_01 table tfoot th {
    padding: 10px 0 10px 0;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #303030;
    font-size: 9pt;
    color: #303030;
    font-weight: bold;
    background: #f1f1f1;
}
.point_link {
    font-size: 9pt;
    color: #b91c22;
    font-weight: bold;
}
.point_link:hover{color:#b91c22;text-decoration:underline;}
