<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 음식</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../menu_style.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="menu_banner--wrap">
        <section class="food_banner">
          <section class="menu_lnb--wrap">
            <section class="menu_lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">할리스 음식</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a href="../drink/drink.html" class="lnb_list--title"
                      >음료</a
                    >
                  </li>
                  <li>
                    <a href="../food/food.html" class="lnb_list--title">음식</a>
                  </li>
                  <li>
                    <a href="../md/md.html" class="lnb_list--title">MD</a>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > 메뉴 > 음식</p>
      </section>
      <section class="menu_content--wrap" id="content">
        <section class="menu_content">
          <section class="menu_new--wrap">
            <section class="menu_new--txt">
              <section class="menu_new--title">
                <p>특별한날, 소중한 사람과 함께,</p>
                <p>카네이션 케이크를 나누세요!</p>
              </section>
              <section class="menu_new--desc">
                <p>할리스 커피에서 카네이션 케이크를 만나보세요!</p>
              </section>
            </section>
            <section class="menu_new--img">
              <img
                src="../../../assets/images/menu/food/food_main.jpg"
                alt=""
              />
            </section>
          </section>
          <h3>할리스 음식</h3>
          <section class="menu_category--wrap">
            <p class="menu_category--title">분류</p>
            <section class="menu_category">
              <label class="menu_category--checkbox">
                <span>전체</span>
                <input type="checkbox" checked />
              </label>
              <label class="menu_category--checkbox">
                <span>케이크</span>
                <input type="checkbox" />
              </label>
              <label class="menu_category--checkbox">
                <span>샌드위치·토스트</span>
                <input type="checkbox" />
              </label>
              <label class="menu_category--checkbox">
                <span>빵</span>
                <input type="checkbox" />
              </label>
              <label class="menu_category--checkbox">
                <span>식사</span>
                <input type="checkbox" />
              </label>
            </section>
          </section>
          <section class="menu_list--wrap">
            <ul class="menu_list"></ul>
          </section>
          <section class="menu_modal--wrap display_none">
            <section class="menu_modal">
              <button type="button" class="menu_modal--close_btn">
                <img src="../../../assets/icons/menu/close_btn.png" />
              </button>
              <section class="menu_modal--detail"></section>
              <section class="menu_modal--nutritional">
                <section class="menu_servingsize"></section>
                <table class="menu_nutritional"></table>
                <section class="menu_allergy"></section>
              </section>
              <section class="menu_modal--gift"></section>
            </section>
          </section>
          <section class="menu_page"></section>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
  <script src="../menu_script.js"></script>
</html>
