<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png">

    <link rel="stylesheet" href="main_tag.css">
    <link rel="stylesheet" href="../footer_header/footer.css">
    <link rel="stylesheet" href="../footer_header/header.css">

    <link rel="stylesheet" href="Hollys_mall_sec_one.css">
    <link rel="stylesheet" href="Hollys_mall_sec_two.css">

    <link rel="stylesheet" href="Hollys_mall_sec_two_Hollys_card.css">
    <link rel="stylesheet" href="Hollys_mall_sec_two_buy_card.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="../../jquery/jquery.js"></script>
    
    <script src="header.js"></script>
    <script src="footer.js"></script>
    <script src="lnb_src.js"></script>
    <script src="page_src.js"></script>
    
    <title>할리스 몰</title>
</head>
<body>
    <header id="header"></header>
    <main>
        <article class="article container" id="article">
            <section class="sec_one banner_tab" id="banner_tab">
                <div class="banner_wrap">
                    <div class="banner">
                        <div class="banner_txt">
                            <span class="h2_deco"></span>
                            <h2>할리스 몰</h2>
                        </div>
                        
                        <div class="lnb" id="lnb">
                            <ul>
                                <li><a href="Hollys_mall.html">할리스 카드</a></li>
                                <li><a href="https://smartstore.naver.com/hollysstore" target="_blank">E-Store</a></li>
                                <li><a href="Hollys_card/card_buy_list/card_buy_list.html" class="purchase list">구매 내역</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sec_two content" id="content"><!-- width:1200px -->
                <div class="hollys_card_guide_wrap">
                    <div class="page_info"> <!-- width: 100% ==1200px -->
                        <div class="path">  <!-- width: 100% ==1200px -->
                            홈 > 할리스몰 > 할리스카드
                        </div>
                
                        <div class="page_name"> <!-- width: 100% ==1200px -->
                            <h3>할리스 카드</h3>
                        </div>
                    </div>
                
                    <div class="hollys_card_guide"> <!-- width: 100% ==1200px -->
                        <div class="hollys_card_img_guide_wrap"> <!-- width: 100% ==1200px -->
                            <div class="hollys_card_img_guide"> <!-- width: 70% == 840px -->
                                <table> <!-- width:100% 840px-->
                                    <tr>    <!-- width:100% 840px-->
                                        <th>할리스 카드안내</th>    
                                        <th>카드 충전방법</th>
                                        <th>카드 구매방법</th>
                                    </tr>
                                    
                                    <tr>    <!-- width:100% 840px-->
                                        <td>
                                            <div class="img_box"><img src="../../assets/images/hollysmall/use_way_img_box/giftcard_info_1.jpg" alt="카드등록 및 사용방법"></div>
                                        </td>
                                        <td>
                                            <div class="img_box"><img src="../../assets/images/hollysmall/use_way_img_box/giftcard_info_2-1.jpg" alt="카드 충전방법"></div>
                                        </td>
                                        <td>
                                            <div class="img_box"><img src="../../assets/images/hollysmall/use_way_img_box/giftcard_info_2-2.jpg" alt="카드 구매방법"></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                
                        <div class="hollys_card_text_guide_wrap"> <!-- width: 100% ==1200px -->
                            <div class="hollys_card_text_guide"> <!-- width: 70% == 840px -->
                                <div class="text_guide_wrap">
                                    <div class="guide use_guide">
                                        <h4>이용안내</h4>
                                        <ul>
                                            <li>할리스카드로 할리스의 모든 제품을 구매할 수 있습니다. (단, 유가증권 및 현금 교환 불가)</li>
                                            <li>할리스카드는 신용(체크)카드, 현금 등 다른 결제수단과 함께 결제할 수 있습니다.</li>
                                            <li>할리스카드로 결제하신 금액에 대해 소득공제 혜택을 받을 수 있습니다.</li>
                                        </ul>
                                    </div>
                
                                    <div class="guide buy_guide">
                                        <h4>결제안내</h4>
                                        <ul>
                                            <li>할리스카드에 충전할 수 있는 최소 충전금액은 1만원입니다.</li>
                                            <li>구매 및 충전은 1만원~10만원까지 1만원 단위로 가능합니다.</li>
                                            <li>할인 가능한 신용카드로 할리스카드 구매 및 충전 시, 할인이 적용되지 않습니다.</li>
                                            <li>할리스카드 구매 및 충전 시에는 소득공제를 받을 수 없습니다.</li>
                                        </ul>
                                    </div>
                
                                    <div class="guide cash_receipt">
                                        <h4>현금영수증 안내</h4>
                                        <ul>
                                            <li>현금영수증 발급 정보를 저장해 놓으시면 매장에서 사용 시 현금영수증이 자동 발급 됩니다.</li>
                                            <li>MY HOLLYS> 회원정보 관리에서 설정하실 수 있습니다.</li>
                                        </ul>
                                    </div>
                
                                    <div class="guide pay_attention">
                                        <h4>유의사항</h4>
                                        <ul>
                                            <li>할리스 매장에서 구매한 카드도 등록하여 사용할 수 있습니다.</li>
                                            <li>할리스카드는 스마트오더 및 할리스 전 매장에서 사용이 가능합니다. (일부매장 불가)</li>
                                            <li>할리스카드로 결제 시 자동으로 크라운이 적립됩니다.</li>
                                            <li>할리스카드는 본인 및 친구에게 선물할 수 있습니다.</li>
                                            <li>구매 또는 충전하신 할리스카드는 사용하지 않은 상태에 한하여 구매 취소가 가능합니다.</li>
                                            <li>구매/충전한 할리스카드 결제취소를 하실 경우 HOLLYS Mall > 구매내역에서 취소하실 수 있습니다.</li>
                                            <li>할리스카드를 비정상적, 불법적인 방법으로 사용하실 경우에 대해 당사는 책임지지 않습니다.</li>
                                            <li>고객센터 02-2188-7100 (운영시간 : 평일 09:30~12:00, 13:00~17:00 / 토,일,공휴일 휴무)</li>
                                        </ul>
                                    </div>
                                </div>
                
                                <div class="card_info_wrap">
                                    <div class="hollys_card_design_txt">
                                        할리스 카드 디자인
                                    </div>
                
                                    <div class="hollys_card_design_wrap">
                                        <div class="card_box">  <!-- overflow -->
                                            <ul>
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Hollys card/giftCard_202102261005439581.png" alt="Hollys Red">
                                                    </div>
                
                                                    <div class="card_name">Hollys Red</div>
                                                </li>
                
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Hollys card/giftCard_201903130229352821.png" alt="Hollys Sliver">
                                                    </div>
                
                                                    <div class="card_name">Hollys Sliver</div>
                                                </li>
                
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Thank you card/giftCard_201903130229041671.png" alt="Thankyou Yellow">
                                                    </div>
                
                                                    <div class="card_name">Thankyou Yellow</div>
                                                </li>
                
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Thank you card/giftCard_201903130229266111.png" alt="Thankyou Light Yellow">
                                                    </div>
                
                                                    <div class="card_name">Thankyou Light Yellow</div>
                                                </li>
                
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Thank you card/giftCard_201903130229453081.png" alt="Thankyou Mint">
                                                    </div>
                
                                                    <div class="card_name">Thankyou Mint</div>
                                                </li>
                
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Thank you card/giftCard_202010190928378451.png" alt="Thankyou Light brown">
                                                    </div>
                
                                                    <div class="card_name">Thankyou Light brown</div>
                                                </li>
                
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Season card/giftCard_201903130229161971.png" alt="벚꽃하늘">
                                                    </div>
                
                                                    <div class="card_name">벚꽃하늘</div>
                                                </li>
                
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Season card/giftCard_201903130229546281.png" alt="가을 밤 보름달">
                                                    </div>
                
                                                    <div class="card_name">가을 밤 보름달</div>
                                                </li>
                
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Season card/giftCard_201903130230036421.png" alt="물구나무 눈사람">
                                                    </div>
                
                                                    <div class="card_name">물구나무 눈사람</div>
                                                </li>
                
                                                <li>
                                                    <div class="img_box">
                                                        <img src="../../assets/images/hollysmall/card_img/Season card/giftCard_202010190932208901.png" alt="숲속 열매">
                                                    </div>
                
                                                    <div class="card_name">숲속 열매</div>
                                                </li>
                                            </ul>
                                            <a href="#none" class="prev"><i class="fa-solid fa-caret-left"></i></a>
                                            <a href="#none" class="next"><i class="fa-solid fa-caret-right"></i></a>
                                        </div>
                                    </div>
                
                                    <div class="hollys_card_introduce">
                                        <h4>할리스 카드란?</h4>
                                        <p>- 할리스카드는 1만원 단위로 충전하여 원하시는 상품을 구매하실 때 현금처럼 사용하실 수 있습니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#none" class="buy_btn">구매하기</a>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer id="footer"></footer>
    <script src="Hollys_card.js"></script>
</body>
</html>