/***     footer     ***/
footer {
  width: 100%;
  height: 300px;
  background: rgb(199, 47, 47);
}
footer > div {
  width: 1200px;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0 20px;
}

/***     left     ***/
footer > div .f_left {
  width: 650px;
}
footer > div .f_left .icon {
  width: 210px;
  display: flex;
  justify-content: space-between;
}
footer > div .f_left .icon img {
  height: 60px;
}
footer > div .f_left .icon .social {
  height: 60px;
  width: 110px;
  margin-top: 20px;
}
footer > div .f_left .icon .social ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > div .f_left .icon .social img {
  height: 30px;
}
footer > div .f_left .footer_text {
  padding-top: 20px;
  font-size: 12px;
}

/***     right     ***/
footer > div .f_right {
  width: 500px;
}
footer > div .f_right .list ul {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 15px 0;
}
footer > div .f_right .list ul li {
  width: 20%;
}
footer > div .f_right .list ul li a {
  font-size: 16px;
  color: #fff;
}
footer > div .f_right .list ul li a:hover {
  text-decoration: underline;
}
footer > div .f_right .sub_list ul {
  width: 20%;
}
footer > div .f_right .sub_list ul li a:hover {
  text-decoration: underline;
}

footer > div .f_right .sub_list {
  display: flex;
}
footer > div .f_right .sub_list ul {
  width: 20%;
  line-height: 2;
}
footer > div .f_right .sub_list ul li a {
  font-size: 11px;
  color: #fff;
}

/**     h2 글씨 숨기기     **/
.hide {
  width: 0;
  height: 0;
  text-indent: -9999px;
}
