<div class="footer_wrap">
  <div class="f_left">
    <div class="icon">
      <h2>
        <img
          src="/src/assets/images/footer/all_white_logo.png"
          alt="hollys logo"
        />
      </h2>

      <div class="social">
        <ul>
          <li>
            <a href="https://www.facebook.com/EnjoyHollys"
              ><img
                src="/src/assets/images/footer/white_facebook.png"
                alt="facebook"
            /></a>
          </li>
          <li>
            <a href="https://www.youtube.com/@HollysCoffeeKorea"
              ><img
                src="/src/assets/images/footer/white_youtube.png"
                alt="youtube"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/hollyscoffee.official"
              ><img
                src="/src/assets/images/footer/white_instagram.png"
                alt="instagram"
            /></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer_text">
      <h2 class="hide">사업자 정보</h2>

      <p>
        법인명: (주) 케이지할리스에프앤비 대표자: 이종현 사업자등록번호
        211-87-61044 통신판매업: 제2019-서울종로-0193호
      </p>
      <address>
        주소 : 서울특별시 중구 통일로 92, 9층(순화동, 케이지타워) 대표전화 :
        02-2188-7100 (가맹문의 : 02-6350-7229)
      </address>
      <p>COPYRIGHT (C) KG HOLLYS F&B. All Rights Reserved.</p>
    </div>
  </div>

  <div class="f_right">
    <h2 class="hide">약관</h2>
    <div class="list">
      <ul>
        <li><a href="/src/views/term/info_policy.html">약관</a></li>
        <li><a href="/src/views/academy/Academy_intro/Academy.html">아카데미</a></li>
        <li>
          <a href="/src/views/my_page/my_info/my_info.html">마이페이지</a>
        </li>
        <li><a href="/src/views/customer/faq.html">고객센터</a></li>
        <li><a href="/src/views/sitemap/Sitemap.html">사이트맵</a></li>
      </ul>
    </div>

    <div class="sub_list">
      <ul class="s_list1">
        <li><a href="/src/views/term/info_policy.html">개인정보처리방침</a></li>
        <li><a href="/src/views/term/service_term.html">서비스이용약관</a></li>
        <li>
          <a href="/src/views/term/membership_term.html">멤버십이용약관</a>
        </li>
        <li><a href="/src/views/term/card_term.html">할리스카드이용약관</a></li>
      </ul>
      <ul class="s_list2">
        <li><a href="/src/views/academy/curriculum_guide/curiculum_guide.html">교육과정안내</a></li>
      </ul>
      <ul class="s_list3">
        <li>
          <a href="/src/views/my_page/my_membership/my_membership.html"
            >MY 멤버십</a
          >
        </li>
        <li>
          <a href="/src/views/my_page/my_coupon/my_coupon.html">MY 쿠폰</a>
        </li>
        <li>
          <a href="/src/views/my_page/my_hollys_card/my_hollys_card.html"
            >MY 할리스카드</a
          >
        </li>
        <li>
          <a href="/src/views/my_page/my_academy/my_academy.html"
            >MY 아카데미</a
          >
        </li>
        <li>
          <a href="/src/views/my_page/my_info/my_info.html">회원정보관리</a>
        </li>
      </ul>
      <ul class="s_list4">
        <li><a href="/src/views/customer/faq.html">FAQ</a></li>
        <li><a href="/src/views/customer/ask.html">고객문의</a></li>
        <li><a href="/src/views/customer/survey.html">고객설문</a></li>
      </ul>
    </div>
  </div>
</div>
