<div class="header_first">
    <a href="#content">본문으로 바로가기</a>

    <h1>
        <a href="/src/views/main/index.html">     
            <p>
                <img src="/src/assets/images/header/o_logo_img.png" alt="logo img">
                <img src="/src/assets/images/header/o_logo_txt-removebg-preview.png" alt="logo text">
            </p>
        </a>
        <a href="/src/views/main/index.html">         
            <p>
                <img src="/src/assets/images/header/w_logo_img.png" alt="logo img">
                <img src="/src/assets/images/header/w_logo_txt-removebg-preview.png" alt="logo text">
            </p>
        </a>
    </h1>

    <div class="gnb_right">
        <div class="header_top">
            <ul>
                <li><a href="/src/views/franchise/franchiseIntro.html">창업설명회</a></li>
                <li><a href="/src/views/hollys_is/b2b/info.html">기업특판</a></li>
                <li><a href="/src/views/login_singup/login/login.html">로그인</a></li>
            </ul>
        </div>

        <div class="gnb_wrap">
            <nav class="gnb">
                <div class="depth-01">
                    <ul>
                        <li><a href="/src/views/menu/drink/drink.html">메뉴</a></li>
                        <li><a href="/src/views/hollysmall/Hollys_mall.html">할리스 몰</a></li>
                        <li><a href="/src/views/membership/membership_benefit.html">멤버십</a>
                        <li><a href="/src/views/hollysnews/notice.html">이벤트 및 공지</a></li>
                        <li><a href="/src/views/store/Store_search.html">매장</a></li>
                        <li><a href="/src/views/hollys_is/hollys/about_hollys.html">할리스 소개</a></li>
                    </ul>
                </div>
                <div class="depth-02">
                    <div>
                        <ul>
                            <li><a href="/src/views/menu/drink/drink.html">음료</a></li>
                            <li><a href="/src/views/menu/food/food.html">음식</a></li>
                            <li><a href="/src/views/menu/md/md.html">MD</a></li>
                        </ul>
                        <ul>
                            <li><a href="/src/views/hollysmall/Hollys_mall.html">할리스카드</a></li>
                            <li><a href="https://smartstore.naver.com/hollysstore">E-store</a></li>
                            <li><a href="/src/views/hollysmall/Hollys_card/card_buy_list/card_buy_list.html">구매내역</a></li>
                        </ul>
                        <ul>
                            <li><a href="/src/views/membership/membership_benefit.html">멤버십혜택</a></li>
                            <li><a href="/src/views/membership/membership_smartorder.html">모바일 앱</a></li>
                        </ul>
                        <ul>
                            <li><a href="/src/views/hollysnews/notice.html">공지사항</a></li>
                            <li><a href="/src/views/hollysnews/eevent.html">이벤트</a></li>
                        </ul>
                        <ul>
                            <li><a href="/src/views/store/Store_search.html">매장찾기</a></li>
                        </ul>
                        <ul>
                            <li><a href="/src/views/hollys_is/hollys/about_hollys.html">할리스</a></li>
                            <li><a href="/src/views/hollys_is/location/location.html">할리스 위치</a></li>
                            <li><a href="/src/views/hollys_is/recruit/recruit.html">채용안내</a></li>
                            <li><a href="/src/views/hollys_is/b2b/info.html">B2B 사업</a></li>
                        </ul>
                    </div>
            </nav>
        </div>     
    </div>       
</div>