<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../../assets/images/favicon.png">

    <link rel="stylesheet" href="Academy.css">
    <link rel="stylesheet" href="../../footer_header/header.css">
    <link rel="stylesheet" href="../../footer_header/footer.css">
    <link rel="stylesheet" href="../curriculum_guide/main_tag.css">

    <link rel="stylesheet" href="../../../styles/reset.css">

    <link rel="stylesheet" href="Academy_section_two.css">
    <link rel="stylesheet" href="Academy_section_three.css">
    <link rel="stylesheet" href="Academy_section_four.css">
    <link rel="stylesheet" href="Academy_section_three.css">
    
    <script src="../../../jquery/jquery.js"></script>
    <script src="../curriculum_guide/header.js"></script> <!-- header -->
    <script src="../curriculum_guide/footer.js"></script> <!-- footer -->
    <script src="Academy_teacher.js"></script>
    <script src="Academy_space_img.js"></script>
    <title>할리스: 아카데미 소개</title>
</head>
<body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
        <article id="container" class="container">
            <section class="sec_one">
                <div class="banner_wrap">
                    <div class="banner">
                        <div class="banner_txt">
                            <span class="h2_deco"></span>
                            <h2>아카데미 소개</h2>
                        </div>
                        <div class="lnb">
                            <ul>
                                <li><a href="#teacger_intro">강사진 소개</a></li>
                                <li><a href="#space_intro">시설 소개</a></li>
                                <li><a href="#Academy_path">오시는길</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </section>

            <section class="sec_two" id="teacger_intro">
                <div class="teacher_intro_wrap" id="content">
                    <h3>강사소개</h3>
                    <div class="teacher_intro">
                        <div class="teacher_detail_intro">
                            <div class="say_it">
                                <img src="../../../assets/images/Academy_img_box/따옴표왼쪽.png" alt="">
                                <img src="../../../assets/images/Academy_img_box/따옴표오른쪽.png" alt="">
                            </div>

                            <div class="teacher_profile">
                                <div class="show_teacher_img">
                                    <img src="../../../assets/images/Academy_img_box/teacher1.png" alt="">
                                </div>

                                <div class="info">
                                    <ul>
                                        <li>
                                            <div class="name">이름 :</div>
                                            <div class="teacher_name">남아름</div>
                                        </li>
                                        
                                        <li>
                                            <div class="locate">지역 :</div>
                                            <div class="teacher_locate">서울</div>
                                        </li>
                                        
                                        <li>
                                            <div class="small_school">초등학교 :</div>
                                            <div class="teacher_small_school">서울 초등학교</div>
                                        </li>
                                        
                                        <li>
                                            <div class="middle_school">중학교 :</div>
                                            <div class="teacher_middle_school">서울 중학교</div>          
                                        </li>
                                        
                                        <li>
                                            <div class="high_school">고등학교 :</div>
                                            <div class="teacher_high_school">서울 고등학교</div>      
                                        </li>
                                        
                                        <li>
                                            <div class="college">대학교 :</div>
                                            <div class="teacher_college">서울 대학교</div>          
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <ul class="card">
                            <li>
                                <a href="#none">
                                        <div class="teacher_info">
                                            <img src="../../../assets/images/Academy_img_box/teacher1.png" alt="남아름">
                                            <div class="teacher_name">Trainer. 남아름</div>
                                        </div>
                                </a>
                                    
                                <div class="say_it active">
                                    <p>풍부한 현장 경험을 바탕으로 여러분과 함께 커피의 매력에 빠져보고 싶습니다.</p>
                                </div>
                            </li>

                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="../../../assets/images/Academy_img_box/teacher2.png" alt="임진영">
                                        <div class="teacher_name">Trainer. 임진영</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">커피 한잔이 주는 여유를 즐기다 보면 행복감에 빠져들곤 합니다. 커피 한잔에 행복을 느끼시는 일이 많아 질 수 있도록 도와드리겠습니다.</p>
                                </div>
                            </li>


                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="../../../assets/images/Academy_img_box/teacher3.png" alt="이수진">
                                        <div class="teacher_name">Trainer. 이수진</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">매일 아침을 시작하고 지친 마음을 깨워주는 커피, 그 속에 커피가 가진 매력을 함께 나누고 싶습니다.</p>
                                </div>
                            </li>

                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="../../../assets/images/Academy_img_box/teacher4.png" alt="임혜란">
                                        <div class="teacher_name">Trainer. 임혜란</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">바쁜 일상 속 쉼표처럼 마음의 위로가 되어주는 커피 한잔의 즐거움을 전해드리고 싶습니다.</p>
                                </div>
                            </li>

                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="../../../assets/images/Academy_img_box/teacher5.png" alt="조은">
                                        <div class="teacher_name">Trainer. 조은</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">커피를 떠올리면 살포시 웃을 수 있는 좋은 기억을 담아갈 수 있도록 도와드리겠습니다.</p>
                                </div>
                            </li>

                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="../../../assets/images/Academy_img_box/teacher6.png" alt="허재균">
                                        <div class="teacher_name">Trainer. 허재균</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">커피라는 매개체로 여러분과 교감하고 소통하며 좋은 추억을 만들고 싶습니다.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="sec_three space_intro" id="space_intro">
                <div class="section_three_wrap">
                    <div class="space_intro_wrap">
                        <h3>시설소개</h3>

                        <div class="space_wrap">
                            <h4 class="screen_out">시설 메뉴들</h4>
            
                            <!-- 작은이미지들 -->
                            <ul class="space_menu">
                                <li>
                                    <a href="#none">CAFE MOCHA</a>
                                    <div class="space_img_wrap">
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/CAFE_MOCHA/image1.jpg" alt="카페모카 수업시설"></a>
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/CAFE_MOCHA/image2.jpg" alt="카페모카 수업시설"></a>
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/CAFE_MOCHA/image3.jpg" alt="카페모카 수업시설"></a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#none">CAPPUCCINO</a>
                                    <div class="space_img_wrap">
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/CAPPUCCINO/image1.jpg" alt="카푸치노 수업시설"></a>
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/CAPPUCCINO/image2.jpg" alt="카푸치노 수업시설"></a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#none">ESPRESSO</a>
                                    <div class="space_img_wrap">
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/ESPRESSO/image1.jpg" alt="에스프레소 수업시설"></a>
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/ESPRESSO/image2.jpg" alt="에스프레소 수업시설"></a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#none">라운지</a>
                                    <div class="space_img_wrap">
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/LOUNGE/image1.jpg" alt="라운지"></a>
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/LOUNGE/image2.jpg" alt="라운지"></a>
                                        <a href="#none"><img src="../../../assets/images/Academy_img_box/LOUNGE/image3.jpg" alt="라운지"></a>
                                    </div>
                                </li>
                            </ul>
            
                            <div class="space_main_img">
                                <p>CAFE MOCHA</p>
                                <img src="../../../assets/images/Academy_img_box/CAFE_MOCHA/image1_2.jpg" alt="카페모카 수업시설">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sec_four Academy_path" id="Academy_path">
                <div class="section_four_wrap">
                    <div class="Academy_infomation">
                        <h3>오시는길</h3>
                        <div class="load_wrap">
                            <div class="map" id="map"></div>

                            <div class="Academy_info_wrap">
                                <h4 class="Academy_name">할리스에프앤비 커피아카데미</h4>

                                <div class="infomation">
                                    <div class="tel">
                                        <p>대표전화</p>
                                        <div>
                                            02-2188-7188
                                        </div>
                                    </div>
                
                                    <div class="addr">
                                        <p>주소</p>
                                        <div>서울특별시 종로구 삼일대로 395 종로빌딩 5층</div>
                                    </div>
                                    <div class="email">
                                        <p>e-mail</p>
                                        <div>academy@Hollyscoffee.com</div>
                                    </div>
                
                                    <div class="Academy_path">
                                        <p>오시는길</p>
                                        <div>
                                            <ol>
                                                <li><div>지하철 3호선 12번 출구에서 도보 5분</div></li>
                                                <li><div>지하철 1호선 4번 출구 혹은 종각 지하쇼핑센터 12번 출구에서 도보 3분</div></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer id="footer" class="footer"></footer>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=74a94afd9f737c91cf3fe910bba47be8&libraries=services"></script>
    <script src="mapAPI.js"></script>
</body>
</html>