<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="shortcut icon" href="../../../assets/images/favicon.png">

    <link rel="stylesheet" href="../main_tag.css">
    <link rel="stylesheet" href="../../footer_header/header.css">
    <link rel="stylesheet" href="../../footer_header/footer.css">
    
    <link rel="stylesheet" href="login.css">

    <script src="../../../jquery/jquery.js"></script>
    <script src="../header.js"></script>
    <script src="../footer.js"></script>
    <script src="login.js"></script>
    <title>할리스 - 로그인</title>
</head>
<body>
    <header id="header"></header>
    <main>
        <article class="login_wrap" id="content">
            <section class="section_one login_txt_box">
                <h2>로그인</h2>
            </section>

            <section class="section_two login_input_wrap">
                <form action="#" method="get" name="login_input_box">
                    <div class="id_wrap">
                        <div class="id_input_box" id="id_input_box">
                            <input type="text" id="id_input">
                            <label for="id_input">이메일 입력</label>
                        </div>
                        <a href="#none" class="cancel_btn">X</a>
                    </div>
                    
                    <div class="pw_wrap">
                        <div class="pw_input_box" id="pw_input_box">
                            <input type="password" id="pw_input">
                            <label for="pw_input">비밀번호 입력</label>
                        </div>
                        <a href="#none" class="cancel_btn">X</a>
                    </div>
                </form>
            </section>


            <section class="section_three login_btn_wrap">
                <button type="button" class="login_btn" id="login_btn">로그인</button>
            </section>

            <section class="tection_four search_sign_up_wrap">
                <div class="search_box">
                    <div class="id_search_wrap">
                        <a href="../id_pw_search/id_pw_search.html" class="id_search">아이디/비밀번호 찾기</a>
                    </div>
                </div>

                <div class="sign_up_box">
                    <a href="../sign_up/contract/contract.html">회원가입</a>
                </div>
            </section>
        </article>

    </main>
    <footer id="footer"></footer>
</body>
</html>