@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.section_map a{
    text-decoration: none;
    text-align: center;
}
.section_map a:hover{
    text-decoration: underline;
}
.Store_table{
    height: 450px;
    overflow: auto;
}

.Store_table .Store_detail_table th,
.Store_table .Store_detail_table td{
    padding: 10px;
    font-size: 1em;
}

/* *************************************************** */
table{
    border-top: #000;
    border-bottom: #000;
    border-collapse: collapse;
    overflow: auto;
}
td,th{
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
/*********** main ***********/
main .section_wrap{
    position: relative;
    width: 1200px;

    margin: auto;
    padding-top: 30px;

    display: flex;

    overflow: hidden;
}
/* 경로 */
/* class = page_info */
main .page_info{
    width: 1200px;  /* 1200px */

    padding-top: 70px;
    margin: auto;
}

main .page_info .page_name{
    font-size: 3em;

    padding-bottom: 3px;
    border-bottom: 1px solid #808080;
}

/************** sec_two *************/
main .section_wrap .sec_two{
    position: relative;
    width: 100%;
    height: 1080px;
    transition: 0.5s;
    z-index: 1;
    background: #fff;
}
main .section_wrap .sec_two.active{
    width: 750px;
    transition: 0.5s;
}

/* 매장검색 */
main .section_wrap .sec_two .h2_wrap{
    width: 100%;
    font-size: 1.5em;
    padding: 5px 0;
    margin-bottom: 70px;
    letter-spacing: -2px;
}

/* sec_two, sec_three 묶음 */
main .section_wrap .sec_two .search__search_table_wrap{
    position: absolute;
    width: 100%;
}


/* 매장 검색했을때 위치와 검색하는 곳 */
main .section_wrap .sec_two .search_wrap{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
}

/* 지도 사이즈 */
main .section_wrap .sec_two .search_wrap .map{
    position: relative;
    width: 100%;
    height: 430px;
    z-index: 0;
    border: 1px solid #d3d3d3;
    margin-bottom: 10px;
}

/* 매장 검색하는곳 */
main .section_wrap .sec_two .search_wrap .search_Store{
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%) translateX(-34%);
    width: 30%;
    height: 300px;
    transition: 0.5s;
}
main .section_wrap .sec_two .search_wrap .search_Store.active{
    width: 30%;

    left: 5px;
    
    transform: translateY(-50%) translateX(-5px);

    transition: 0.5s;
}
/* 매장 검색하는곳 열고 닫는곳 */
main .section_wrap .sec_two .search_wrap .search_Store .open_close{
    position: absolute;
    background: #c72f2f;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 800;
    width:20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    right: -21px;
}
/* 매장명, 매장주소로 찾기 */
main .section_wrap .sec_two .search_Store .search_Store_wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
/************* 매장검색 버튼 ************/
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_button_wrap{
    position: absolute;
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    font-size: 1em;
    background: #c72f2f;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_button_wrap a{
    color: #fff;
}
/* 매장검색 버튼에 관한 내용들 */
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_input_label{
    position: absolute;
    top: 42px;
    width: 100%;
    height: calc(100% - 42px);
}
/* 매장찾기, 지역검색 */
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_input_label .input_label_detail,
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_input_label .input_label_locate_search{
    width: 100%;
    position: absolute;
    background: #c72f2f;
}
/* 매장찾기 */
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_input_label h5{
    padding: 10px;
    text-align: center;
    color: #fff;

    font-size: 1.2em;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_input_label p{
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    padding: 20px 5px;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_input_label input{
    width: 100%;
    padding: 5px;
}
/* 검색버튼 및 설명 */
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_input_label form{
    position: relative;
    padding: 10px;
    text-align: center;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .search_Store_input_label a{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background: none;
    border: 0;
    padding: 2px;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label{
    display: none;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label .input_label_detail h4{
    color: #fff;
}
/* 지역검색 스크롤바 */
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label::-webkit-scrollbar{
    width: 2px;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label::-webkit-scrollbar-thumb{
    background-color: #c72f2f;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label .input_label_detail{
    background: #c72f2f; 
}


/************ 지역검색 ***************/
/* 지역검색 버튼 */
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_button_wrap{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 1em;
    background: #c72f2f;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_button_wrap a{
    color: #fff;
}

/* 지역검색 버튼 누를시 나타나는 지역들 */
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label{
    position: absolute;
    top: 42px;
    width: 100%;
    height: calc(100% - 42px);
    overflow: auto;

    font-size: 1em;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label h5{
    padding: 10px;
    text-align: center;
    color: #fff;

    font-size: 1.2em;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label ul li:hover{
    transition: 0.1s;
    background: #c72f2f;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label ul li:hover a{
    color: #fff;
}
main .section_wrap .sec_two .search_Store .locate_Store_input_label>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .section_wrap .sec_two .search_Store .search_Store_wrap .locate_Store_input_label>ul>li{
    width: 48%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 2px;
    text-align: center;
    padding: 10px;
    background-color: #fff;

    font-size: 1.2em;
}

/* 매장 리스트 설명 */
main .section_wrap .sec_two .Store_table_wrap{
    margin-top: 30px;
}
main .section_wrap .sec_two .Store_table_wrap p{
    position: relative;
    color: #808080;
}
/* 매장 리스트 */
main .section_wrap .sec_two .Store_table table{
    position: relative;
    border: 1px solid;
    width: 100%;
}
main .section_wrap .sec_two .Store_table::-webkit-scrollbar{
    width: 1px;
}
main .section_wrap .sec_two .Store_table::-webkit-scrollbar-thumb{
    background-color: #c72f2f;
}

/*************** section_three ***************/
main .section_wrap .sec_three{
    position: absolute;
    right: 0;

    width: 450px;

    overflow: hidden;

    transform: translateX(400px);

    display: flex;
    align-items: center;

    transition: 0.5s;
}
main .section_wrap .sec_three.active{
    transform: translateX(0px);
    transition: 0.5s;
    
}
main .section_wrap .sec_three .sec_three_wrap{
    position: relative;
    padding-bottom: 50px;
    width: 100%;

    border: 1px solid #d3d3d3;
}
main .section_wrap .sec_three .sec_three_img_box{
    position: relative;
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 40px ;
}
main .section_wrap .sec_three .sec_three_img_box>img{
    position: relative;
    top: 45px;
    width: 100%;
    height: 250px;
    border: 1px solid #d3d3d3;
}
main .section_wrap .sec_three .sec_three_img_box .sub_img_box{
    position: absolute;
    top: 300px;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
}
main .section_wrap .sec_three .sec_three_img_box .sub_img_box a{
    width: 100%;
    height: 100%;
}
main .section_wrap .sec_three .sec_three_img_box .sub_img_box a img{
    width: 100%;
    height: 100%;
    border: 1px solid #d3d3d3;
}

/* 매장 정보 */
main .section_wrap .sec_three .Store_introduce{
    width: 80%;
    padding: 10px;
    border: 1px solid #d3d3d3;
    margin: auto;
    margin-top: 50px;

    font-size: 1.2em;
}
main .section_wrap .sec_three .sec_three_wrap h3,
main .section_wrap .sec_three .sec_three_wrap h4{
    text-align: center;
    padding: 10px;
}
main .section_wrap .sec_three .sec_three_wrap h3{
    font-size: 2.5em;
}
main .section_wrap .sec_three .sec_three_wrap h4{
    font-size: 1.5em;
}
main .section_wrap .sec_three .Store_introduce ul{
    margin-top: 5px;
}
main .section_wrap .sec_three .Store_introduce ul li{
    padding: 10px 0;
    display: flex;
}
main .section_wrap .sec_three .Store_introduce ul li b{
    width: 27%;
    font-size: 0.8em;
}
main .section_wrap .sec_three .Store_introduce ul li div{
    font-size: 0.8em;
}
main .section_wrap .sec_three .print_box{
    width: 80%;
    margin: auto;
}

/* 닫기버튼 */
main .section_wrap .sec_three .sec_three_wrap>button{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 8px;
    font-size: 1.3em;
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.562);
    cursor: pointer;
    border-radius: 5px;
}
main .section_wrap .sec_three .sec_three_wrap>button:active{
    background: #c72f2f;
    color: #fff;
}