<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 쿠폰</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../my_page_banner.css" />
    <link rel="stylesheet" href="./my_coupon.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="../../../jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="my_page--banner_wrap">
        <section class="my_page--banner">
          <section class="my_page--lnb--wrap">
            <section class="my_page--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">MY 쿠폰</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a
                      href="../my_membership/my_membership.html"
                      class="lnb_list--hollys_btn"
                      >MY 멤버십</a
                    >
                  </li>
                  <li><a href="../my_coupon/my_coupon.html">MY 쿠폰</a></li>
                  <li>
                    <a href="../my_hollys_card/my_hollys_card.html"
                      >MY 할리스카드</a
                    >
                  </li>
                  <li>
                    <a href="../my_academy/my_academy.html"
                      >아카데미 신청 내역</a
                    >
                  </li>
                  <li><a href="../my_info/my_info.html">회원정보 관리</a></li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > MY HOLLYS > MY 쿠폰</p>
      </section>
      <section class="my_coupon--title_wrap">
        <h3 class="my_coupon--title">사용가능쿠폰</h3>
      </section>
      <section class="my_coupon--content_wrap" id="content">
        <section class="my_coupon--content">
          <section class="my_coupon--coupon">
            <div class="my_coupon--coupon_img--wrap">
              <img
                src="../../../assets/images/my_page/my_coupon_img.png"
                alt=""
                class="my_coupon--coupon_img"
              />
            </div>
            <section class="my_coupon--coupon_detail">
              <p>1000원 할인 쿠폰</p>
              <p>2023-05-10 ~ 2023-05-31</p>
              <button>선물하기</button>
            </section>
          </section>
          <section class="my_coupon--coupon">
            <div class="my_coupon--coupon_img--wrap">
              <img
                src="../../../assets/images/my_page/my_coupon_img.png"
                alt=""
                class="my_coupon--coupon_img"
              />
            </div>
            <section class="my_coupon--coupon_detail">
              <p>2000원 할인 쿠폰</p>
              <p>2023-05-10 ~ 2023-05-31</p>
              <button>선물하기</button>
            </section>
          </section>
          <section class="my_coupon--coupon">
            <div class="my_coupon--coupon_img--wrap">
              <img
                src="../../../assets/images/my_page/my_coupon_img.png"
                alt=""
                class="my_coupon--coupon_img"
              />
            </div>
            <section class="my_coupon--coupon_detail">
              <p>모든 제조음료(R) FREE 쿠폰</p>
              <p>2023-05-10 ~ 2023-05-31</p>
              <button>선물하기</button>
            </section>
          </section>
          <section class="my_coupon--coupon">
            <div class="my_coupon--coupon_img--wrap">
              <img
                src="../../../assets/images/my_page/my_coupon_img.png"
                alt=""
                class="my_coupon--coupon_img"
              />
            </div>
            <section class="my_coupon--coupon_detail">
              <p>[5월 쿠폰팩] 쏘스윗박스 구매 시 샌드웨이퍼 1종 증정</p>
              <p>2023-05-10 ~ 2023-05-31</p>
              <button>선물하기</button>
            </section>
          </section>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
</html>
