<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : MY 할리스카드</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../my_page_banner.css" />
    <link rel="stylesheet" href="./my_hollys_card.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="my_page--banner_wrap">
        <section class="my_page--banner">
          <section class="my_page--lnb--wrap">
            <section class="my_page--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">MY 할리스카드</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a
                      href="../my_membership/my_membership.html"
                      class="lnb_list--hollys_btn"
                      >MY 멤버십</a
                    >
                  </li>
                  <li>
                    <a href="../my_coupon/my_coupon.html">MY 쿠폰</a>
                  </li>
                  <li>
                    <a href="../my_hollys_card/my_hollys_card.html"
                      >MY 할리스카드</a
                    >
                  </li>
                  <li>
                    <a href="../my_academy/my_academy.html"
                      >아카데미 신청 내역</a
                    >
                  </li>
                  <li><a href="../my_info/my_info.html">회원정보 관리</a></li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > MY HOLLYS > MY 할리스카드</p>
      </section>
      <section class="my_hollys--card_title--wrap">
        <h3 class="my_hollys--card_title">보유 중인 할리스카드</h3>
      </section>
      <section class="my_hollys--card_btn--wrap" id="content">
        <button
          type="button"
          onclick="location.href='./my_hollys_card_write.html'"
          class="my_hollys--card_btn"
        >
          할리스카드 등록
        </button>
      </section>
      <section class="my_hollys--card_content--wrap">
        <section class="my_hollys--card_content">
          <section class="my_hollys--card_card">
            <div class="my_hollys--card_card--img_wrap">
              <img
                src="../../../assets/images/my_page/hollys_card_01.png"
                alt=""
                class="my_hollys--card_card--img"
              />
            </div>
            <section class="my_hollys--card_detail">
              <button type="button">잔액 확인</button>
              <button type="button">잔액 이전</button>
              <button type="button">금액 충전</button>
              <button type="button">카드 삭제</button>
            </section>
          </section>
          <section class="my_hollys--card_card">
            <div class="my_hollys--card_card--img_wrap">
              <img
                src="../../../assets/images/my_page/hollys_card_02.png"
                alt=""
                class="my_hollys--card_card--img"
              />
            </div>
            <section class="my_hollys--card_detail">
              <button type="button">잔액 확인</button>
              <button type="button">잔액 이전</button>
              <button type="button">금액 충전</button>
              <button type="button">카드 삭제</button>
            </section>
          </section>
          <section class="my_hollys--card_card">
            <div class="my_hollys--card_card--img_wrap">
              <img
                src="../../../assets/images/my_page/hollys_card_03.png"
                alt=""
                class="my_hollys--card_card--img"
              />
            </div>
            <section class="my_hollys--card_detail">
              <button type="button">잔액 확인</button>
              <button type="button">잔액 이전</button>
              <button type="button">금액 충전</button>
              <button type="button">카드 삭제</button>
            </section>
          </section>
          <section class="my_hollys--card_card">
            <div class="my_hollys--card_card--img_wrap">
              <img
                src="../../../assets/images/my_page/hollys_card_04.png"
                alt=""
                class="my_hollys--card_card--img"
              />
            </div>
            <section class="my_hollys--card_detail">
              <button type="button">잔액 확인</button>
              <button type="button">잔액 이전</button>
              <button type="button">금액 충전</button>
              <button type="button">카드 삭제</button>
            </section>
          </section>
          <section class="my_hollys--card_card">
            <div class="my_hollys--card_card--img_wrap">
              <img
                src="../../../assets/images/my_page/hollys_card_05.png"
                alt=""
                class="my_hollys--card_card--img"
              />
            </div>
            <section class="my_hollys--card_detail">
              <button type="button">잔액 확인</button>
              <button type="button">잔액 이전</button>
              <button type="button">금액 충전</button>
              <button type="button">카드 삭제</button>
            </section>
          </section>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
</html>
