<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 사내카페 컨설팅</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../hollys_is_banner.css" />
    <link rel="stylesheet" href="./consulting.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="hollys_is--banner_wrap">
        <section class="hollys_is--banner">
          <section class="hollys_is--lnb--wrap">
            <section class="hollys_is--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">사내카페 컨설팅</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a href="#none" class="lnb_list--hollys_btn"> 할리스 </a>
                    <ul class="lnb_list--hollys display_none">
                      <li>
                        <a href="../hollys/about_hollys.html">ABOUT HOLLYS</a>
                      </li>
                      <li><a href="../hollys/history.html">HISTORY</a></li>
                      <li><a href="../hollys/bi.html">BI</a></li>
                    </ul>
                  </li>
                  <li><a href="../location/location.html">할리스 위치</a></li>
                  <li><a href="../recruit/recruit.html">채용안내</a></li>
                  <li>
                    <a href="#none" class="lnb_list--b2b_btn">B2B사업</a>
                    <ul class="lnb_list--b2b display_none">
                      <li><a href="../b2b/info.html">B2B 소개</a></li>
                      <li>
                        <a href="../b2b/office_coffee_service.html"
                          >오피스 커피 서비스</a
                        >
                      </li>
                      <li>
                        <a href="../b2b/distribution.html">신채널 유통</a>
                      </li>
                      <li>
                        <a href="../b2b/consulting.html">사내카페 컨설팅</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > B2B사업 > 사내카페 컨설팅</p>
      </section>
      <section class="consulting_content--wrap" id="content">
        <section class="consulting_content">
          <p class="consulting_title--txt">
            할리스는 기업의 환경, 규모, 임직원의 복리후생 향상에 적합한 최적의
            사내 복지카페 솔루션을 제공합니다. 사내카페의 설계부터 인테리어,
            장비 구성, 메뉴 제안, 원부자재 공급, 카페 운영의 유지관리까지 Café
            System에 있어, Total Solution을 공급하고 있습니다.
          </p>
          <section class="consulting_main--img_wrap">
            <div class="consulting_main--img">
              <img src="../../../assets/images/hollysis/b2b_16.jpg" alt="" />
            </div>
            <div>
              <img src="../../../assets/images/hollysis/b2b_17.jpg" alt="" />
            </div>
          </section>
          <h3 class="consulting_sub--title">사내카페 컨설팅 절차</h3>
          <section class="consulting_process--wrap">
            <section class="consulting_process">
              <section class="consulting_process--cont">
                <img src="../../../assets/images/hollysis/b2b_18.png" alt="" />
                <p>STEP 01</p>
                <p>문의 / 접수</p>
              </section>
              <div class="line"></div>
              <section class="consulting_process--cont">
                <img src="../../../assets/images/hollysis/b2b_19.png" alt="" />
                <p>STEP 02</p>
                <p>기업 방문</p>
                <p>현장 심사</p>
              </section>
              <div class="line"></div>
              <section class="consulting_process--cont">
                <img src="../../../assets/images/hollysis/b2b_20.png" alt="" />
                <p>STEP 03</p>
                <p>사내 카페</p>
                <p>컨설팅 제안</p>
              </section>
              <div class="line"></div>
              <section class="consulting_process--cont">
                <img src="../../../assets/images/hollysis/b2b_21.png" alt="" />
                <p>STEP 04</p>
                <p>계약</p>
              </section>
              <div class="line"></div>
              <section class="consulting_process--cont">
                <img src="../../../assets/images/hollysis/b2b_22.png" alt="" />
                <p>STEP 05</p>
                <p>시설 / 장비 시공</p>
              </section>
              <div class="line"></div>
              <section class="consulting_process--cont">
                <img src="../../../assets/images/hollysis/b2b_23.png" alt="" />
                <p>STEP 06</p>
                <p>Store Set-Up</p>
                <p>Barista Training</p>
              </section>
              <div class="line"></div>
              <section class="consulting_process--cont">
                <img src="../../../assets/images/hollysis/b2b_24.png" alt="" />
                <p>STEP 07</p>
                <p>Grand Open</p>
              </section>
            </section>
          </section>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
  <script src="../hollys_is_lnb_script.js"></script>
</html>
