<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 신채널 유통</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../hollys_is_banner.css" />
    <link rel="stylesheet" href="./distribution.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="hollys_is--banner_wrap">
        <section class="hollys_is--banner">
          <section class="hollys_is--lnb--wrap">
            <section class="hollys_is--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">신채널 유통</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a href="#none" class="lnb_list--hollys_btn"> 할리스 </a>
                    <ul class="lnb_list--hollys display_none">
                      <li>
                        <a href="../hollys/about_hollys.html">ABOUT HOLLYS</a>
                      </li>
                      <li><a href="../hollys/history.html">HISTORY</a></li>
                      <li><a href="../hollys/bi.html">BI</a></li>
                    </ul>
                  </li>
                  <li><a href="../location/location.html">할리스 위치</a></li>
                  <li><a href="../recruit/recruit.html">채용안내</a></li>
                  <li>
                    <a href="#none" class="lnb_list--b2b_btn">B2B사업</a>
                    <ul class="lnb_list--b2b display_none">
                      <li><a href="./info.html">B2B 소개</a></li>
                      <li>
                        <a href="./office_coffee_service.html"
                          >오피스 커피 서비스</a
                        >
                      </li>
                      <li>
                        <a href="./distribution.html">신채널 유통</a>
                      </li>
                      <li>
                        <a href="./consulting.html">사내카페 컨설팅</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > B2B사업 > 신채널 유통</p>
      </section>
      <section class="distribution_content--wrap" id="content">
        <section class="distribution_content">
          <h3 class="distribution_sub--title">커피 상품 및 선물 세트 공급</h3>
          <section class="distribution_cont">
            <section class="distribution_detail">
              <div class="distribution_img">
                <img src="../../../assets/images/hollysis/b2b_09.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>할리스 상품</p>
                <p>
                  할리스의 특별한 선물로 귀사의 가치를 높여드립니다. 대량 구매
                  및 상담을 도와드립니다.
                </p>
              </section>
            </section>
            <section class="distribution_detail">
              <div class="distribution_img">
                <img src="../../../assets/images/hollysis/b2b_10.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>할리스 선물세트</p>
                <p>
                  할리스의 다양한 구성으로 귀사를 위한 특별한 선물세트를
                  구성해드립니다
                </p>
              </section>
            </section>
          </section>
          <h3 class="distribution_sub--title">할리스 Gift</h3>
          <section class="distribution_cont">
            <section class="distribution_detail">
              <div class="distribution_img">
                <img src="../../../assets/images/hollysis/b2b_11.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>할리스 Gift Card</p>
                <p>
                  소중한 귀사의 고객께 할리스카드를 간편하게 선물하실 수
                  있습니다.
                </p>
              </section>
            </section>
            <section class="distribution_detail">
              <div class="distribution_img">
                <img src="../../../assets/images/hollysis/b2b_12.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>할리스 모바일 상품권</p>
                <p>
                  사용 편의성이 높은 모바일 상품권으로 고객 만족도를 높일 수
                  있습니다.
                </p>
              </section>
            </section>
          </section>
          <h3 class="distribution_material--sub_title">
            원료 납품(농축액, SD, 파우더 등)
          </h3>
          <p class="distribution_sub--title_txt">
            식품 제조에 사용되는 커피 농축액, 커피 분말, 다양한 원료 파우더 등
            할리스에서 공급하는 전문 원료와 함께 기업 비즈니스를 설계하십시오.
          </p>
          <section class="distribution_cont">
            <section class="distribution_material--detail">
              <div class="distribution_material--img">
                <img src="../../../assets/images/hollysis/b2b_13.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>커피 농축액</p>
              </section>
            </section>
            <section class="distribution_material--detail">
              <div class="distribution_material--img">
                <img src="../../../assets/images/hollysis/b2b_14.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>커피 분말</p>
              </section>
            </section>
            <section class="distribution_material--detail">
              <div class="distribution_material--img">
                <img src="../../../assets/images/hollysis/b2b_15.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>원료 파우더</p>
              </section>
            </section>
          </section>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
  <script src="../hollys_is_lnb_script.js"></script>
</html>
