<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : B2B</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../hollys_is_banner.css" />
    <link rel="stylesheet" href="./info.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="hollys_is--banner_wrap">
        <section class="hollys_is--banner">
          <section class="hollys_is--lnb--wrap">
            <section class="hollys_is--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">B2B 사업소개</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a href="#none" class="lnb_list--hollys_btn"> 할리스 </a>
                    <ul class="lnb_list--hollys display_none">
                      <li>
                        <a href="../hollys/about_hollys.html">ABOUT HOLLYS</a>
                      </li>
                      <li><a href="../hollys/history.html">HISTORY</a></li>
                      <li><a href="../hollys/bi.html">BI</a></li>
                    </ul>
                  </li>
                  <li><a href="../location/location.html">할리스 위치</a></li>
                  <li><a href="../recruit/recruit.html">채용안내</a></li>
                  <li>
                    <a href="#none" class="lnb_list--b2b_btn">B2B사업</a>
                    <ul class="lnb_list--b2b display_none">
                      <li><a href="./info.html">B2B 소개</a></li>
                      <li>
                        <a href="./office_coffee_service.html"
                          >오피스 커피 서비스</a
                        >
                      </li>
                      <li>
                        <a href="./distribution.html">신채널 유통</a>
                      </li>
                      <li>
                        <a href="./consulting.html">사내카페 컨설팅</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > B2B사업 > B2B 사업소개</p>
      </section>
      <section class="info_content--wrap" id="content">
        <section class="info_content">
          <p class="info_title--content">
            할리스 F&B는 20년의 커피 노하우를 기반으로 기업 사내카페 컨설팅,
            오피스 커피 서비스 분야와 커피 상품의 채널유통 등 다양한 B2B
            영역에서 프리미엄 커피 서비스를 제공하고 있습니다.
          </p>
          <section class="info_content--main">
            <section class="info_content--cont">
              <section class="info_content--detail">
                <p class="info_content--title">OFFICE COFFEE SERVICE</p>
                <p class="info_content--sub_title">오피스 커피 서비스</p>
                <p class="info_content--txt">
                  이제 기업 내 사무실에서도 정통 에스프레소 커피를 보다 편리하게
                  즐기실 수 있습니다. 소형 사무실에서 대형 사업장까지, 소비
                  규모에 맞게 할리스가 인증하는 최고의 커피머신과 직접 로스팅한
                  신선한 에스프레소 커피로 귀사의 커피 서비스 품질을 한 차원
                  업그레이드 하십시오.
                </p>
                <a
                  href="./office_coffee_service.html"
                  class="info_content--link"
                  >상세보기</a
                >
              </section>
              <img src="../../../assets/images/hollysis/b2b_01.jpg" alt="" />
            </section>
            <section class="info_content--cont">
              <section class="info_content--detail">
                <p class="info_content--title">신채널 유통</p>
                <p class="info_content--txt">
                  할리스의 다양한 MD 상품을 기업과 유통채널에 공급하고 있습니다.
                  간편한 스틱 커피, 원두를 편리하게 즐기는 드립백 커피, 신선한
                  에스프레소 원두 등 전문 커피 상품과 텀블러 & 머그컵 등 할리스
                  브랜드의 MD 상품을 다양한 세트 구성으로 공급하고 있습니다.
                  기업의 다양한 행사와 홍보 활동을 할리스 프리미엄 MD 상품이
                  함께 하겠습니다.
                </p>
                <a href="./distribution.html" class="info_content--link"
                  >상세보기</a
                >
              </section>
              <img src="../../../assets/images/hollysis/b2b_02.jpg" alt="" />
            </section>
            <section class="info_content--cont">
              <section class="info_content--detail">
                <p class="info_content--title">기업 사내카페 컨설팅</p>
                <p class="info_content--txt">
                  사내카페는 임직원의 소통 및 복합 문화의 공간으로, 소속감
                  고취와 기업의 생산성 향상에 기여합니다. 할리스는 기업의 환경,
                  규모, 임직원의 복리후생 향상에 적합한 최적의 사내 복지카페
                  솔루션을 설계하여 제안합니다.
                </p>
                <a href="./consulting.html" class="info_content--link"
                  >상세보기</a
                >
              </section>
              <img src="../../../assets/images/hollysis/b2b_03.jpg" alt="" />
            </section>
          </section>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
  <script src="../hollys_is_lnb_script.js"></script>
</html>
