<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 오피스 커피 서비스</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../hollys_is_banner.css" />
    <link rel="stylesheet" href="./office_coffee_service.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="hollys_is--banner_wrap">
        <section class="hollys_is--banner">
          <section class="hollys_is--lnb--wrap">
            <section class="hollys_is--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">오피스 커피 서비스</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a href="#none" class="lnb_list--hollys_btn"> 할리스 </a>
                    <ul class="lnb_list--hollys display_none">
                      <li>
                        <a href="../hollys/about_hollys.html">ABOUT HOLLYS</a>
                      </li>
                      <li><a href="../hollys/history.html">HISTORY</a></li>
                      <li><a href="../hollys/bi.html">BI</a></li>
                    </ul>
                  </li>
                  <li><a href="../location/location.html">할리스 위치</a></li>
                  <li><a href="../recruit/recruit.html">채용안내</a></li>
                  <li>
                    <a href="#none" class="lnb_list--b2b_btn">B2B사업</a>
                    <ul class="lnb_list--b2b display_none">
                      <li><a href="./info.html">B2B 소개</a></li>
                      <li>
                        <a href="./office_coffee_service.html"
                          >오피스 커피 서비스</a
                        >
                      </li>
                      <li>
                        <a href="./distribution.html">신채널 유통</a>
                      </li>
                      <li>
                        <a href="./consulting.html">사내카페 컨설팅</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > B2B사업 > 오피스 커피 서비스</p>
      </section>
      <section class="office_coffee--service_content--wrap" id="content">
        <section class="office_coffee--service_content">
          <p class="office_coffee--service_desc">
            할리스는 업계 최고의 OCS 전용 커피 머신과 할리스 로스팅 센터에서
            직접 로스팅한 신선한 에스프레소 커피로 기업 내 커피 서비스를 한 차원
            업그레이드 시켜드립니다. 다양한 B2B 전용 원두와 카페 원부자재의
            납품, 렌탈 머신 운영 등 다양한 기업 커피 솔루션을 할리스와 함께
            설계하십시오.
          </p>
          <h3 class="office_coffee--service_sub--title">자동커피머신 렌탈</h3>
          <section class="office_coffee--service_cont">
            <section class="office_coffee--service_detail">
              <div class="office_coffee--service_rental--img">
                <img src="../../../assets/images/hollysis/b2b_04.jpg" alt="" />
              </div>
              <section class="office_coffee--service_txt">
                <p>JURA WE6</p>
                <p>A model</p>
                <p>50인 이하 사업장</p>
                <p>원두 월 4kg ~ 20kg 권장</p>
                <p>계약기간 2년</p>
                <p>월정액 기준 (원두 4kg 기본)</p>
                <p>월 1회 방문 점검 서비스</p>
              </section>
            </section>
            <section class="office_coffee--service_detail">
              <div class="office_coffee--service_rental--img">
                <img src="../../../assets/images/hollysis/b2b_05.jpg" alt="" />
              </div>
              <section class="office_coffee--service_txt">
                <p>thermoplan B&W 4c</p>
                <p>B model</p>
                <p>50인 이상 사업장</p>
                <p>원두 월 20kg ~ 50kg 권장</p>
                <p>계약기간 3년</p>
                <p>월정액 기준 (원두 20kg 기본)</p>
                <p>월 1회 방문 점검 서비스</p>
              </section>
            </section>
          </section>
          <h3 class="office_coffee--service_sub--title">
            원두 및 카페 원부자재 납품
          </h3>
          <section class="office_coffee--service_cont">
            <section class="office_coffee--service_detail">
              <div class="office_coffee--service_img">
                <img src="../../../assets/images/hollysis/b2b_06.jpg" alt="" />
              </div>
              <section class="office_coffee--service_txt">
                <p>할리스 원두 상품</p>
                <p>
                  할리스 연구소의 국제공인 커피 감별사(G-grader)가 엄선한 최고급
                  원두 품질로 귀사의 가치를 높여드립니다. 대량 구매 및 상담을
                  도와드립니다.
                </p>
              </section>
            </section>
            <section class="office_coffee--service_detail">
              <div class="office_coffee--service_img">
                <img src="../../../assets/images/hollysis/b2b_07.jpg" alt="" />
              </div>
              <section class="office_coffee--service_txt">
                <p>카페 원부자재 상품 공급</p>
                <p>
                  Office coffee service 운영에 필요한 카페 관련 고품질
                  원부자재를 공급합니다.
                </p>
              </section>
            </section>
          </section>
          <h3 class="office_coffee--service_sub--title">
            프리미엄 케이터링 서비스
          </h3>
          <section class="office_coffee--service_cont">
            <section class="office_coffee--service_detail">
              <div class="office_coffee--service_catering--img">
                <img src="../../../assets/images/hollysis/b2b_08.jpg" alt="" />
              </div>
              <section class="office_coffee--service_caterging--txt">
                <p>
                  컨퍼런스, 기업 행사 등 다양한 모임과 장소에 할리스 전문
                  케이터링 부스를 설치하여 프리미엄 커피 서비스를 제공합니다.
                  귀사의 중요한 행사를 할리스와 함께 성공적으로 설계하십시오!
                </p>
                <ul>
                  <li>Hollys 전용 부스 & 장비 설치</li>
                  <li>전문 바리스타 서비스</li>
                  <li>Original Coffee Quality of Hollys</li>
                  <li>다양한 할리스 메뉴 적용</li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
  <script src="../hollys_is_lnb_script.js"></script>
</html>
