<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : BI</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../hollys_is_banner.css" />
    <link rel="stylesheet" href="./bi.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="hollys_is--banner_wrap">
        <section class="hollys_is--banner">
          <section class="hollys_is--lnb--wrap">
            <section class="hollys_is--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">BI</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a href="#none" class="lnb_list--hollys_btn"> 할리스 </a>
                    <ul class="lnb_list--hollys display_none">
                      <li><a href="./about_hollys.html">ABOUT HOLLYS</a></li>
                      <li><a href="./history.html">HISTORY</a></li>
                      <li><a href="./bi.html">BI</a></li>
                    </ul>
                  </li>
                  <li><a href="../location/location.html">할리스 위치</a></li>
                  <li><a href="../recruit/recruit.html">채용안내</a></li>
                  <li>
                    <a href="#none" class="lnb_list--b2b_btn">B2B사업</a>
                    <ul class="lnb_list--b2b display_none">
                      <li><a href="../b2b/info.html">B2B 소개</a></li>
                      <li>
                        <a href="../b2b/office_coffee_service.html"
                          >오피스 커피 서비스</a
                        >
                      </li>
                      <li>
                        <a href="../b2b/distribution.html">신채널 유통</a>
                      </li>
                      <li>
                        <a href="../b2b/consulting.html">사내카페 컨설팅</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > 할리스 > BI</p>
      </section>
      <section class="bi_content--wrap" id="content">
        <section class="bi_content">
          <h2>BI 소개</h2>
          <section class="bi_download--wrap">
            <section class="bi_download">
              <section class="bi_sub--title_wrap">
                <section class="bi_sub--title">
                  <h3>HOLLYS COFFEE BI</h3>
                  <p>할리스 커피 브랜드 아이덴티티</p>
                </section>
                <section class="bi_download--btn">
                  <a
                    href="../../../assets/images/hollysis/bi_03.png"
                    download="bi.png"
                    >BI 다운로드</a
                  >
                </section>
              </section>
              <section class="bi_img--wrap">
                <section class="bi_img">
                  <img src="../../../assets/images/hollysis/bi_01.png" alt="" />
                  <img src="../../../assets/images/hollysis/bi_02.png" alt="" />
                </section>
                <section class="bi_hollyscolor--wrap">
                  <div class="bi_hollyscolor">
                    <span>HOLLYS RED</span>
                    <span>C 00</span>
                    <span>M 76</span>
                    <span>Y 76</span>
                    <span>K 22</span>
                  </div>
                </section>
              </section>
            </section>
          </section>
          <section class="bi_crown">
            <section class="bi_sub--title">
              <h3>HOLLYS CROWN</h3>
              <p>커피의 즐거움을 만드는 작은 차이의 미학</p>
            </section>
            <section class="bi_crown_content">
              <div class="bi_crown--img">
                <img src="../../../assets/images/hollysis/bi_04.png" />
                <img src="../../../assets/images/hollysis/bi_07.png" />
                <img src="../../../assets/images/hollysis/bi_05.png" />
                <img src="../../../assets/images/hollysis/bi_07.png" />
                <img src="../../../assets/images/hollysis/bi_06.png" />
              </div>
              <p>
                CROWN(왕관) 형상은 할리스를 매개로 고객과 바리스타가 손을 맞잡고
                있는 형태를 상징합니다.<br />
                이는 할리스를 방문하시는 고객의 이야기에 귀 기울이고 진심을 담아
                서비스하는 마음을 담고 있습니다.
              </p>
            </section>
          </section>
          <section class="bi_history">
            <section class="bi_sub--title">
              <h3 class="bi_sub--title">HISTORY OF HOLLYS LOGO</h3>
            </section>
            <section class="bi_history--img_wrap">
              <section class="bi_history--img">
                <img src="../../../assets/images/hollysis/bi_08.png" alt="" />
                <span>1998</span>
              </section>

              <img
                src="../../../assets/images/hollysis/bi_07.png"
                class="bi_history--arrow"
              />
              <section class="bi_history--img">
                <img src="../../../assets/images/hollysis/bi_09.png" alt="" />
                <span>2003</span>
              </section>
              <img
                src="../../../assets/images/hollysis/bi_07.png"
                class="bi_history--arrow"
              />
              <section class="bi_history--img">
                <img src="../../../assets/images/hollysis/bi_10.png" alt="" />
                <span>2008</span>
              </section>
              <img
                src="../../../assets/images/hollysis/bi_07.png"
                class="bi_history--arrow"
              />
              <section class="bi_history--img">
                <img src="../../../assets/images/hollysis/bi_11.png" alt="" />
                <span>2013</span>
              </section>
              <img
                src="../../../assets/images/hollysis/bi_07.png"
                class="bi_history--arrow"
              />
              <section class="bi_history--img">
                <img src="../../../assets/images/hollysis/bi_12.png" alt="" />
                <span>2015</span>
              </section>
              <img
                src="../../../assets/images/hollysis/bi_07.png"
                class="bi_history--arrow"
              />
              <section class="bi_history--img">
                <img src="../../../assets/images/hollysis/bi_13.png" alt="" />
                <span>2021</span>
              </section>
            </section>
          </section>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
  <script src="../hollys_is_lnb_script.js"></script>
</html>
