<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : HISTORY</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/views/footer_header/header.css" />
    <link rel="stylesheet" href="/src/views/footer_header/footer.css" />
    <link rel="stylesheet" href="../hollys_is_banner.css" />
    <link rel="stylesheet" href="./history.css" />
    <link rel="icon" href="/src/assets/images/favicon.png" />
    <script src="/src/jquery/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
      <section class="hollys_is--banner_wrap">
        <section class="hollys_is--banner">
          <section class="hollys_is--lnb--wrap">
            <section class="hollys_is--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">HISTORY</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a href="#none" class="lnb_list--hollys_btn"> 할리스 </a>
                    <ul class="lnb_list--hollys display_none">
                      <li><a href="./about_hollys.html">ABOUT HOLLYS</a></li>
                      <li><a href="./history.html">HISTORY</a></li>
                      <li><a href="./bi.html">BI</a></li>
                    </ul>
                  </li>
                  <li><a href="../location/location.html">할리스 위치</a></li>
                  <li><a href="../recruit/recruit.html">채용안내</a></li>
                  <li>
                    <a href="#none" class="lnb_list--b2b_btn">B2B사업</a>
                    <ul class="lnb_list--b2b display_none">
                      <li><a href="../b2b/info.html">B2B 소개</a></li>
                      <li>
                        <a href="../b2b/office_coffee_service.html"
                          >오피스 커피 서비스</a
                        >
                      </li>
                      <li>
                        <a href="../b2b/distribution.html">신채널 유통</a>
                      </li>
                      <li>
                        <a href="../b2b/consulting.html">사내카페 컨설팅</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="page_route--wrap">
        <p class="page_route">Home > 할리스 > HISTORY</p>
      </section>
      <section class="history_content--wrap" id="content">
        <h3 class="history_content--title">할리스의 탄생 그리고 오늘</h3>
        <section class="history_content">
          <section class="history_content--txt">
            <p>
              할리스(Hollys)는 1998년 6월 서울 강남에 한국 최초로 에스프레소
              전문점을 오픈한 커피 브랜드 입니다.
            </p>
            <p>
              부드럽고 깊은 커피 맛을 선호하는 한국 사람들의 입맛에 맞게 오픈
              초창기부터 원두를 독자적으로 로스팅해 고객들의 사랑을 받고
              있습니다.
            </p>
            <p>
              할리스만의 시그니처 메뉴 확립은 물론, 소비자가 시간대별로 다양하게
              즐길 수 있는 디저트나 델리 등 메뉴 라인업을 확장하고 있습니다.
            </p>
            <p>
              또한 소비자 이용행태를 반영해 상권 별로 1인 좌석, 그룹석, 드라이브
              스루 등 맞춤화된 매장을 선보이고 있습니다.
            </p>
            <p>
              창립 이래 꾸준히 성장해 온 할리스는 2018년 500호점을 돌파, 현재 약
              570여개 매장을 운영하고 있습니다.
            </p>
            <p>
              또한 대한민국 대표 커피전문점을 넘어 라이프스타일을 선도하는
              브랜드로 새롭게 도약하고 있습니다.
            </p>
          </section>
          <div class="history_content--img">
            <img src="../../../assets/images/hollysis/histyory.jpg" />
          </div>
        </section>
      </section>
    </main>
    <footer id="footer" class="footer"></footer>
  </body>
  <script src="../import_header_footer.js"></script>
  <script src="../hollys_is_lnb_script.js"></script>
</html>
